NiFi_Credit-Card-Fraud-Detection/Credit-Card-Fraud-Detection-Test.json
{"flowContents":{"identifier":"640bfe79-9cf8-3c29-a022-c35d41d61139","instanceIdentifier":"13712a7f-0183-1000-0000-00005d701a6d","name":"Nifi-CML Demo","comments":"","position":{"x":561.9999660453677,"y":359.81816958977174},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"15379978-2b04-3b45-bf85-1f39cf00d86d","instanceIdentifier":"14dde38c-0183-1000-ffff-ffff9b7871ab","name":"GenerateFlowFile","comments":"","position":{"x":496.0,"y":0.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"character-set":"UTF-8","File Size":"1000B","mime-type":null,"generate-ff-custom-text":"{\"accessKey\":\"x\",\"request\":{\"account_id\":961,\"transaction_id\":\"4a17a45e-ecd9-11ec-145454545\",\"amount\":5000}}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"60 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"},{"identifier":"36c396ab-b1d0-39a5-90ea-a1f0caae6c30","instanceIdentifier":"13862c94-0183-1000-ffff-ffffe47b7948","name":"InvokeHTTP","comments":"","position":{"x":536.0,"y":280.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"https","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://modelservice.ml-f51aa2be-448.pse-aw-e.ylcu-atmi.cloudera.site/model","Content-Type":"${mime.type}","form-body-form-name":null,"flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"e4ad06dd-7158-3997-9325-0e3895f705c3","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Basic Authentication Username":null,"oauth2-access-token-provider":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token provider","identifiesControllerService":true,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ea3f5553-1bd2-3c2c-a3d5-dcb889b17bb1","instanceIdentifier":"1395d144-0183-1000-0000-00002f190d44","name":"","source":{"id":"36c396ab-b1d0-39a5-90ea-a1f0caae6c30","type":"PROCESSOR","groupId":"640bfe79-9cf8-3c29-a022-c35d41d61139","name":"InvokeHTTP","comments":"","instanceIdentifier":"13862c94-0183-1000-ffff-ffffe47b7948"},"destination":{"id":"fb963a5a-c15f-391b-baf1-10d011097ddc","type":"FUNNEL","groupId":"640bfe79-9cf8-3c29-a022-c35d41d61139","name":"Funnel","comments":"","instanceIdentifier":"1395b8ca-0183-1000-ffff-fffffbb8d304"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"},{"identifier":"a6743e35-2af3-3d21-a3ad-58d10153b862","instanceIdentifier":"13961b51-0183-1000-0000-000040b0a8b4","name":"","source":{"id":"36c396ab-b1d0-39a5-90ea-a1f0caae6c30","type":"PROCESSOR","groupId":"640bfe79-9cf8-3c29-a022-c35d41d61139","name":"InvokeHTTP","comments":"","instanceIdentifier":"13862c94-0183-1000-ffff-ffffe47b7948"},"destination":{"id":"fb963a5a-c15f-391b-baf1-10d011097ddc","type":"FUNNEL","groupId":"640bfe79-9cf8-3c29-a022-c35d41d61139","name":"Funnel","comments":"","instanceIdentifier":"1395b8ca-0183-1000-ffff-fffffbb8d304"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":988.8110948068612,"y":655.3782410708312},{"x":1038.3011474609375,"y":681.3994140625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"},{"identifier":"a0d12205-abd3-36b9-a7be-5124d90207b1","instanceIdentifier":"1d3f1662-0183-1000-ffff-ffffac35f41f","name":"","source":{"id":"15379978-2b04-3b45-bf85-1f39cf00d86d","type":"PROCESSOR","groupId":"640bfe79-9cf8-3c29-a022-c35d41d61139","name":"GenerateFlowFile","comments":"","instanceIdentifier":"14dde38c-0183-1000-ffff-ffff9b7871ab"},"destination":{"id":"36c396ab-b1d0-39a5-90ea-a1f0caae6c30","type":"PROCESSOR","groupId":"640bfe79-9cf8-3c29-a022-c35d41d61139","name":"InvokeHTTP","comments":"","instanceIdentifier":"13862c94-0183-1000-ffff-ffffe47b7948"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"}],"labels":[],"funnels":[{"identifier":"cd34604c-090c-3c95-a55a-cc74dbe50de7","instanceIdentifier":"1b2b9dfe-0183-1000-0000-0000618ffdd6","position":{"x":360.99361858645875,"y":291.0990271300112},"componentType":"FUNNEL","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"},{"identifier":"fb963a5a-c15f-391b-baf1-10d011097ddc","instanceIdentifier":"1395b8ca-0183-1000-ffff-fffffbb8d304","position":{"x":1185.6221896137224,"y":716.7564821416624},"componentType":"FUNNEL","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"}],"controllerServices":[{"identifier":"edd28600-c65f-3b26-b66d-bf3f12194904","instanceIdentifier":"1b282ecf-0183-1000-ffff-ffff97b5dd11","name":"CSVRecordSetWriter","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"640bfe79-9cf8-3c29-a022-c35d41d61139"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP"},"externalControllerServices":{"e4ad06dd-7158-3997-9325-0e3895f705c3":{"identifier":"e4ad06dd-7158-3997-9325-0e3895f705c3","name":"Default NiFi SSL Context Service"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}