NiFi_CDP-and-Kafka-Demo/Enterpirse-CDP-Demo-DataFlow.json
{"flowContents":{"identifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","instanceIdentifier":"87fba587-018a-1000-0000-000009992567","name":"Enterpirse-CDP-Demo-DataFlow","position":{"x":2672.0,"y":424.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f2423ba4-8a1c-4a6c-b421-a2742c5dfe45","instanceIdentifier":"60dfbd22-ac32-3382-b79b-f392b6dd5729","name":"Consume From Kafka","comments":"","position":{"x":475.4069213968563,"y":-62.254389741018485},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"header-name-regex":null,"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"90899e0d-54c1-4ba6-92dc-f039446fc837","group.id":"#{Kafka Consumer Group ID}","bootstrap.servers":"#{Kafka Brokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","record-reader":"4e6140d5-5bac-47ba-b215-4f87849fe316","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":"#{CDP Username}","max.poll.records":"10000","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"818d472f-2ace-33e8-8b5e-3a5749aa4353","key-record-reader":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Topic Name}","separate-by-key":"false","sasl.password":"#{CDP Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"2e81dbfc-8250-43d7-99a0-d20fedae32b4","instanceIdentifier":"4be8ffe4-190d-3cbf-b4e5-ae829519ac90","name":"GenerateFlowFile","comments":"","position":{"x":21.4713065510698,"y":-302.92308940062344},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","instanceIdentifier":"52ee7a78-f8d1-35d5-85fe-77a672282eac","name":"Fetch file from CDP ObjectStore","comments":"","position":{"x":20.985628705561794,"y":69.96240270704934},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"kerberos-credentials-service":null,"cdp.configuration.resources":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml","filename":"#{Filename}","Kerberos Password":"#{CDP Password}","cdp-storage-location":"#{Storage Bucket}","Kerberos Principal":"#{CDP Username}"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"cdp.configuration.resources":{"name":"cdp.configuration.resources","displayName":"cdp.configuration.resources","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"1f3c44c2-ffc5-3c22-aaa0-b6754a97d3bc","instanceIdentifier":"fbac0534-018a-1000-0000-00006b82d7be","name":"QueryDatabaseTableRecord","comments":"","position":{"x":1079.076081901746,"y":206.80950084661396},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Table Name":null,"db-fetch-db-type":"Generic","dbf-default-precision":"10","qdbtr-record-writer":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":null,"Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":null,"qdbtr-normalize":"false","Columns to Return":null,"db-fetch-where-clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"qdbtr-record-writer":{"name":"qdbtr-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false},"qdbtr-normalize":{"name":"qdbtr-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"80c6df70-4973-4ddb-a2d1-b0e21496a376","instanceIdentifier":"42f5a818-01bb-328a-ac1f-e53b97036b16","name":"Write To Operational DB (HBase)","comments":"","position":{"x":464.5829467874813,"y":396.4352941731661},"type":"org.apache.nifi.hbase.PutHBaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Table Name":"#{COD Table Name}","Row Identifier Field Name":"#{COD Row Identifier Field Name}","hbase-record-null-field-strategy":"skip-field","Column Family":"#{COD Column Family Name}","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"1000","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"4e6140d5-5bac-47ba-b215-4f87849fe316","HBase Client Service":"65191e02-45bd-4ad7-b1bc-8e477fad0bfc","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"978d637a-11b9-4784-bda9-6dc0c889679a","instanceIdentifier":"2da231b9-c164-38c7-9012-6baf7ff1a5d9","name":"Publish to Kafka Topic","comments":"","position":{"x":25.461495663308142,"y":455.00627139469907},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"90899e0d-54c1-4ba6-92dc-f039446fc837","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"4e6140d5-5bac-47ba-b215-4f87849fe316","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Username}","use-transactions":"true","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"818d472f-2ace-33e8-8b5e-3a5749aa4353","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Topic Name}","sasl.password":"#{CDP Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"}],"inputPorts":[],"outputPorts":[{"identifier":"8f84f711-4695-4b56-899b-5466847ddaed","instanceIdentifier":"1fb1b0d8-c859-3faa-b263-9f8cce651022","name":"Kafka Parse Failure","comments":"","position":{"x":1130.8851318460752,"y":-20.126820542410087},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"}],"connections":[{"identifier":"06d8bd92-ef55-40df-97a1-c19d5ce38f5f","instanceIdentifier":"bb830671-6448-390b-af44-b09010e15caf","name":"success_ConsumeFromKafka-WriteToCOD","source":{"id":"f2423ba4-8a1c-4a6c-b421-a2742c5dfe45","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Consume From Kafka","comments":"","instanceIdentifier":"60dfbd22-ac32-3382-b79b-f392b6dd5729"},"destination":{"id":"80c6df70-4973-4ddb-a2d1-b0e21496a376","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Write To Operational DB (HBase)","comments":"","instanceIdentifier":"42f5a818-01bb-328a-ac1f-e53b97036b16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"e36599fa-0c4f-4f76-a1d3-74c6cdb2628e","instanceIdentifier":"dbba94b6-ea2f-3c8d-90d8-459e4caad322","name":"","source":{"id":"978d637a-11b9-4784-bda9-6dc0c889679a","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Publish to Kafka Topic","comments":"","instanceIdentifier":"2da231b9-c164-38c7-9012-6baf7ff1a5d9"},"destination":{"id":"63c6277f-f12f-48aa-84cf-db38d70e9c4f","type":"FUNNEL","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Funnel","comments":"","instanceIdentifier":"5e777d5c-602b-35e3-811e-4c567becbab1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"e819963f-7ccb-4f61-821d-c1c10706fa81","instanceIdentifier":"3bd1d274-0c13-3981-809b-1f54151590d5","name":"","source":{"id":"978d637a-11b9-4784-bda9-6dc0c889679a","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Publish to Kafka Topic","comments":"","instanceIdentifier":"2da231b9-c164-38c7-9012-6baf7ff1a5d9"},"destination":{"id":"b83a049f-f2db-4c34-8c19-d6282017dc83","type":"FUNNEL","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Funnel","comments":"","instanceIdentifier":"2b6f00d9-bf6c-3999-88a7-1aff7a6179f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"4909fe9d-b18b-46a6-b146-4a4abff29739","instanceIdentifier":"b16ad220-bd10-36cd-9344-68c93c4bd41e","name":"parse.failure_ConsumeFromKafka","source":{"id":"f2423ba4-8a1c-4a6c-b421-a2742c5dfe45","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Consume From Kafka","comments":"","instanceIdentifier":"60dfbd22-ac32-3382-b79b-f392b6dd5729"},"destination":{"id":"8f84f711-4695-4b56-899b-5466847ddaed","type":"OUTPUT_PORT","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Kafka Parse Failure","comments":"","instanceIdentifier":"1fb1b0d8-c859-3faa-b263-9f8cce651022"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"3b1c980b-8e03-49a7-9cec-5fb7b3e48550","instanceIdentifier":"90f7f55b-255c-3757-a346-406e5d5ad324","name":"failure_WriteToCOD","source":{"id":"80c6df70-4973-4ddb-a2d1-b0e21496a376","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Write To Operational DB (HBase)","comments":"","instanceIdentifier":"42f5a818-01bb-328a-ac1f-e53b97036b16"},"destination":{"id":"80c6df70-4973-4ddb-a2d1-b0e21496a376","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Write To Operational DB (HBase)","comments":"","instanceIdentifier":"42f5a818-01bb-328a-ac1f-e53b97036b16"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":672.5829467874813,"y":620.4352941731661},{"x":624.5829467874813,"y":668.4352941731661}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"bc29d36f-a253-4e7b-88d3-5cd354b69e5e","instanceIdentifier":"40545e52-7564-3503-9eca-e27aa810b90f","name":"Fetch file success","source":{"id":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Fetch file from CDP ObjectStore","comments":"","instanceIdentifier":"52ee7a78-f8d1-35d5-85fe-77a672282eac"},"destination":{"id":"978d637a-11b9-4784-bda9-6dc0c889679a","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Publish to Kafka Topic","comments":"","instanceIdentifier":"2da231b9-c164-38c7-9012-6baf7ff1a5d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"56de35ab-626e-431b-a516-4bb0c59eb0c9","instanceIdentifier":"c4fc451e-e12e-3632-8267-b443c406a6de","name":"","source":{"id":"2e81dbfc-8250-43d7-99a0-d20fedae32b4","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"GenerateFlowFile","comments":"","instanceIdentifier":"4be8ffe4-190d-3cbf-b4e5-ae829519ac90"},"destination":{"id":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","type":"PROCESSOR","groupId":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7","name":"Fetch file from CDP ObjectStore","comments":"","instanceIdentifier":"52ee7a78-f8d1-35d5-85fe-77a672282eac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"}],"labels":[],"funnels":[{"identifier":"b83a049f-f2db-4c34-8c19-d6282017dc83","instanceIdentifier":"2b6f00d9-bf6c-3999-88a7-1aff7a6179f7","position":{"x":144.5214352277494,"y":788.9230894006234},"componentType":"FUNNEL","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"63c6277f-f12f-48aa-84cf-db38d70e9c4f","instanceIdentifier":"5e777d5c-602b-35e3-811e-4c567becbab1","position":{"x":-402.885131846075,"y":500.42927779341335},"componentType":"FUNNEL","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"}],"controllerServices":[{"identifier":"4e6140d5-5bac-47ba-b215-4f87849fe316","instanceIdentifier":"eb01c316-f61f-3a29-a1f7-54447b66fc9f","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"65191e02-45bd-4ad7-b1bc-8e477fad0bfc","instanceIdentifier":"fc1f8723-e400-397a-8687-c223a26fba47","name":"COD_HBase_ClientService","type":"org.apache.nifi.hbase.HBase_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{CDP Password}","Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":"#{CDP Username}","HBase Client Retries":"1","kerberos-user-service":null,"Hadoop Configuration Files":"#{CDPEnvironment}","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["DIRECTORY","FILE","URL"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"},{"identifier":"818d472f-2ace-33e8-8b5e-3a5749aa4353","instanceIdentifier":"87fba239-018a-1000-0000-000040a4ffac","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"87fba587-018a-1000-0000-000009992567"},{"identifier":"90899e0d-54c1-4ba6-92dc-f039446fc837","instanceIdentifier":"8dbc1bf7-1402-3879-8310-4b3ed67cbbf8","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fec22ef5-e0d3-3a05-a7a7-071814a8f4c7"}],"variables":{},"parameterContextName":"Enterpirse-CDP-Demo-DataFlow","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"Enterpirse-CDP-Demo-DataFlow":{"name":"Enterpirse-CDP-Demo-DataFlow","parameters":[{"name":"Storage Bucket","sensitive":false,"provided":false,"value":"s3a://go01-demo"},{"name":"CDP Username","sensitive":false,"provided":false,"value":"ram.palagummi"},{"name":"Topic Name","sensitive":false,"provided":false,"value":"Click-Stream"},{"name":"COD Column Family Name","sensitive":false,"provided":false,"value":"song_data"},{"name":"Kafka Brokers","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093, cdf-aw-kafka-demo-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093, cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093"},{"name":"Kafka Consumer Group ID","sensitive":false,"provided":false,"value":"Click-Stream-0"},{"name":"Filename","sensitive":false,"provided":false,"value":"/rp-data/song_stream_data_json.json"},{"name":"CDP Password","sensitive":true,"provided":false},{"name":"COD Table Name","sensitive":false,"provided":false,"value":"song_stream_data"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":"/nifi-flow-assets/Enterpirse-CDP-Demo-DataFlow/CDPEnvironment/hbase-site.xml@f0,/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"},{"name":"COD Row Identifier Field Name","sensitive":false,"provided":false,"value":"songid"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}