NiFi_XML-Interest-Rates-Analysis-Demo/XML_Processing_-_Finance.json
{"flowContents":{"identifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2","instanceIdentifier":"f8f59f71-0188-1000-0000-00005d965e5a","name":"XML Processing - Finance","comments":"","position":{"x":7528.0,"y":96.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"508435f6-e368-327d-9eb1-51a1ee838c1d","instanceIdentifier":"90193255-cb7b-15f9-ffff-ffffa9a8c606","name":"Update FileName","comments":"","position":{"x":624.0,"y":1192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"demo-${UUID()}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"12b0b9d2-4c87-379e-9f24-14407c084a94","instanceIdentifier":"f8f8781e-0188-1000-0000-00006a3cf73c","name":"XPath - Interest Rate & Address","comments":"","position":{"x":336.0,"y":392.0},"type":"org.apache.nifi.processors.standard.EvaluateXPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Destination":"flowfile-attribute","address":"/loan/customer/address","Return Type":"auto-detect","interest.rate":"/loan/interestRate","Validate DTD":"false"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"address":{"name":"address","displayName":"address","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"interest.rate":{"name":"interest.rate","displayName":"interest.rate","identifiesControllerService":false,"sensitive":false},"Validate DTD":{"name":"Validate DTD","displayName":"Allow DTD","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"262ac16d-d2a6-3ffb-a17d-e8a1891a5c3e","instanceIdentifier":"f8fb7878-0188-1000-0000-000051027c86","name":"SplitXml","comments":"","position":{"x":336.0,"y":152.0},"type":"org.apache.nifi.processors.standard.SplitXml","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Split Depth":"1"},"propertyDescriptors":{"Split Depth":{"name":"Split Depth","displayName":"Split Depth","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"2be5cca3-0aca-34b7-867d-0148dd7059fa","instanceIdentifier":"98813d14-88f3-1308-0000-000032e0bf5b","name":"ConvertRecord","comments":"","position":{"x":592.0,"y":864.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"5fa652c2-9d48-3fa6-b414-8e58d7f82183","record-reader":"3e34140f-ec84-3b41-b5ca-43996d655f3d","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"8f1da86a-2cf3-32cd-88b4-9ca9f5cd8ce2","instanceIdentifier":"026f9a06-0189-1000-ffff-fffff59eccda","name":"Update Address","comments":"","position":{"x":-8.0,"y":1080.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"<address>.*<\\/address>","Replacement Value":"<address>${full.address}<\\/address>","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"53e387da-520a-3f01-afdd-5fbbcc5d25ca","instanceIdentifier":"f8ff4781-0188-1000-ffff-ffffb62f035f","name":"Route on Interest Rates","comments":"","position":{"x":344.0,"y":608.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Routing Strategy":"Route to Property name","interest.above.5":"${interest.rate:ge(5)}","interest.missing":"${interest.rate:isEmpty()}","interest.below.5":"${interest.rate:le(5)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"interest.above.5":{"name":"interest.above.5","displayName":"interest.above.5","identifiesControllerService":false,"sensitive":false},"interest.missing":{"name":"interest.missing","displayName":"interest.missing","identifiesControllerService":false,"sensitive":false},"interest.below.5":{"name":"interest.below.5","displayName":"interest.below.5","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"3bb6e405-f41f-3874-bbbe-90b14e4cb478","instanceIdentifier":"10243dc7-1d92-1957-ffff-fffff04cf9d6","name":"Enrich Address","comments":"","position":{"x":0.0,"y":848.0},"type":"org.apache.nifi.processors.standard.LookupAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"full.address":"${address}","lookup-service":"856a7a08-47d3-36f1-9840-4043576665d1","include-empty-values":"true"},"propertyDescriptors":{"full.address":{"name":"full.address","displayName":"full.address","identifiesControllerService":false,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"include-empty-values":{"name":"include-empty-values","displayName":"Include Empty Values","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"91467284-6dba-3b2b-8e4d-e736307dba48","instanceIdentifier":"980c3dfd-7434-1c29-ffff-ffffa1bf5575","name":"SendEmail","comments":"","position":{"x":1184.0,"y":592.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"${interest.rate} field is empty.","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"sender@mail.com","Include All Attributes In Message":"false","SMTP Hostname":"smpt.gmail.com","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"example@gmail.com","To":"reciever@mail.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"3ab2459d-e2e4-3c5c-8c68-1a53ffc9668a","instanceIdentifier":"9019313c-cb7b-15f9-8f9a-f6b07ab74752","name":"Store Data","comments":"","position":{"x":312.0,"y":1520.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"nashebxmldemo","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-1","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"8ddcaa4d-c81c-338c-b355-70c338239b02","instanceIdentifier":"980c3209-7434-1c29-a4dc-0f894c3d0409","name":"Update FileName","comments":"","position":{"x":-16.0,"y":1304.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"demo-${UUID()}.xml","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"f4ea8776-091f-3beb-98cd-6bc76182f00d","instanceIdentifier":"f8f5c329-0188-1000-0000-0000385e2979","name":"GenerateFlowFile","comments":"","position":{"x":336.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"<loans>\n  <loan>\n    <id>001</id>\n    <customer>\n      <name>John Doe</name>\n      <address>123 Main Street</address>\n      <phone>555-1234</phone>\n    </customer>\n    <amount>10000</amount>\n    <interestRate>5.5</interestRate>\n    <term>36</term>\n    <startDate>2023-01-15</startDate>\n    <status>active</status>\n  </loan>\n  <loan>\n    <id>002</id>\n    <customer>\n      <name>Jane Smith</name>\n      <address>456 Elm Street</address>\n      <phone>555-5678</phone>\n    </customer>\n    <amount>5000</amount>\n    <interestRate></interestRate>\n    <term>24</term>\n    <startDate>2023-02-01</startDate>\n    <status>active</status>\n  </loan>\n  <loan>\n    <id>003</id>\n    <customer>\n      <name>Robert Johnson</name>\n      <address>789 Oak Avenue</address>\n      <phone>555-9012</phone>\n    </customer>\n    <amount>15000</amount>\n    <interestRate>4.25</interestRate>\n    <term>48</term>\n    <startDate>2023-03-10</startDate>\n    <status>closed</status>\n  </loan>\n</loans>","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fc84d5f6-6011-3830-bd11-e3db8db5c87a","instanceIdentifier":"980c3234-7434-1c29-ffff-ffff86f4a188","name":"","source":{"id":"8ddcaa4d-c81c-338c-b355-70c338239b02","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Update FileName","comments":"","instanceIdentifier":"980c3209-7434-1c29-a4dc-0f894c3d0409"},"destination":{"id":"3ab2459d-e2e4-3c5c-8c68-1a53ffc9668a","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Store Data","comments":"","instanceIdentifier":"9019313c-cb7b-15f9-8f9a-f6b07ab74752"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"d96fb517-2970-36eb-8f73-eab59d48d2e8","instanceIdentifier":"980c3e00-7434-1c29-ffff-ffffccf8199a","name":"","source":{"id":"53e387da-520a-3f01-afdd-5fbbcc5d25ca","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Route on Interest Rates","comments":"","instanceIdentifier":"f8ff4781-0188-1000-ffff-ffffb62f035f"},"destination":{"id":"91467284-6dba-3b2b-8e4d-e736307dba48","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"SendEmail","comments":"","instanceIdentifier":"980c3dfd-7434-1c29-ffff-ffffa1bf5575"},"labelIndex":1,"zIndex":0,"selectedRelationships":["interest.missing"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"19785c73-6ba3-36fd-9435-5cc4dec1efd6","instanceIdentifier":"9019325b-cb7b-15f9-0000-00006520f28f","name":"","source":{"id":"2be5cca3-0aca-34b7-867d-0148dd7059fa","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"ConvertRecord","comments":"","instanceIdentifier":"98813d14-88f3-1308-0000-000032e0bf5b"},"destination":{"id":"508435f6-e368-327d-9eb1-51a1ee838c1d","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Update FileName","comments":"","instanceIdentifier":"90193255-cb7b-15f9-ffff-ffffa9a8c606"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"a9f19fc3-5599-31cf-8fb7-74a32e50b5e9","instanceIdentifier":"0273826a-0189-1000-ffff-ffff93bd9135","name":"","source":{"id":"8f1da86a-2cf3-32cd-88b4-9ca9f5cd8ce2","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Update Address","comments":"","instanceIdentifier":"026f9a06-0189-1000-ffff-fffff59eccda"},"destination":{"id":"8ddcaa4d-c81c-338c-b355-70c338239b02","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Update FileName","comments":"","instanceIdentifier":"980c3209-7434-1c29-a4dc-0f894c3d0409"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"fa1f3a2e-047e-3a14-80eb-1bcc9429a7f8","instanceIdentifier":"027377b5-0189-1000-0000-00005d49e4cd","name":"","source":{"id":"3bb6e405-f41f-3874-bbbe-90b14e4cb478","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Enrich Address","comments":"","instanceIdentifier":"10243dc7-1d92-1957-ffff-fffff04cf9d6"},"destination":{"id":"8f1da86a-2cf3-32cd-88b4-9ca9f5cd8ce2","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Update Address","comments":"","instanceIdentifier":"026f9a06-0189-1000-ffff-fffff59eccda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"14a8d46e-8148-38c6-a21e-ec5e90ab9fbb","instanceIdentifier":"f8fbb8d5-0188-1000-ffff-ffff83f09977","name":"","source":{"id":"262ac16d-d2a6-3ffb-a17d-e8a1891a5c3e","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"SplitXml","comments":"","instanceIdentifier":"f8fb7878-0188-1000-0000-000051027c86"},"destination":{"id":"12b0b9d2-4c87-379e-9f24-14407c084a94","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"XPath - Interest Rate & Address","comments":"","instanceIdentifier":"f8f8781e-0188-1000-0000-00006a3cf73c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"d967a251-3a4e-3beb-b3be-ed1cdf487052","instanceIdentifier":"980c3238-7434-1c29-ffff-ffffe0d23975","name":"","source":{"id":"508435f6-e368-327d-9eb1-51a1ee838c1d","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Update FileName","comments":"","instanceIdentifier":"90193255-cb7b-15f9-ffff-ffffa9a8c606"},"destination":{"id":"3ab2459d-e2e4-3c5c-8c68-1a53ffc9668a","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Store Data","comments":"","instanceIdentifier":"9019313c-cb7b-15f9-8f9a-f6b07ab74752"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"102acce5-7ec5-330c-b35b-d3957e83e83c","instanceIdentifier":"f9006ebd-0188-1000-ffff-ffffb7b71d66","name":"","source":{"id":"53e387da-520a-3f01-afdd-5fbbcc5d25ca","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Route on Interest Rates","comments":"","instanceIdentifier":"f8ff4781-0188-1000-ffff-ffffb62f035f"},"destination":{"id":"2be5cca3-0aca-34b7-867d-0148dd7059fa","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"ConvertRecord","comments":"","instanceIdentifier":"98813d14-88f3-1308-0000-000032e0bf5b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["interest.below.5"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"c2a0341c-e5ff-3022-b061-0cc63fcdae40","instanceIdentifier":"f8fb9062-0188-1000-ffff-ffff9ae9167a","name":"","source":{"id":"f4ea8776-091f-3beb-98cd-6bc76182f00d","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"GenerateFlowFile","comments":"","instanceIdentifier":"f8f5c329-0188-1000-0000-0000385e2979"},"destination":{"id":"262ac16d-d2a6-3ffb-a17d-e8a1891a5c3e","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"SplitXml","comments":"","instanceIdentifier":"f8fb7878-0188-1000-0000-000051027c86"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"10f078e1-81c4-38be-9284-c0ccadc39406","instanceIdentifier":"f900644a-0188-1000-ffff-ffffd6d201de","name":"","source":{"id":"53e387da-520a-3f01-afdd-5fbbcc5d25ca","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Route on Interest Rates","comments":"","instanceIdentifier":"f8ff4781-0188-1000-ffff-ffffb62f035f"},"destination":{"id":"3bb6e405-f41f-3874-bbbe-90b14e4cb478","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Enrich Address","comments":"","instanceIdentifier":"10243dc7-1d92-1957-ffff-fffff04cf9d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["interest.above.5"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"4dfe9ca5-70c0-34ea-a409-4fbe706b35bd","instanceIdentifier":"fb9c369a-96c5-10d1-ffff-fffffabce7a0","name":"","source":{"id":"12b0b9d2-4c87-379e-9f24-14407c084a94","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"XPath - Interest Rate & Address","comments":"","instanceIdentifier":"f8f8781e-0188-1000-0000-00006a3cf73c"},"destination":{"id":"53e387da-520a-3f01-afdd-5fbbcc5d25ca","type":"PROCESSOR","groupId":"10da5faf-27b4-3d48-acf8-1eca441e1da2","name":"Route on Interest Rates","comments":"","instanceIdentifier":"f8ff4781-0188-1000-ffff-ffffb62f035f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3e34140f-ec84-3b41-b5ca-43996d655f3d","instanceIdentifier":"98813d1a-88f3-1308-ffff-ffffd61ad426","name":"XMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"5fa652c2-9d48-3fa6-b414-8e58d7f82183","instanceIdentifier":"3206324e-0187-1000-ffff-ffffc59b99cf","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f8f59f71-0188-1000-0000-00005d965e5a"},{"identifier":"e0640ff8-0552-36a3-8a4a-2eac3970daf6","instanceIdentifier":"025beca1-0189-1000-0000-0000443fd26a","name":"XMLRecordSetWriter","comments":"","type":"org.apache.nifi.xml.XMLRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"array_tag_name":null,"schema-branch":null,"omit_xml_declaration":"false","root_tag_name":null,"schema-cache":null,"Timestamp Format":null,"Date Format":null,"suppress_nulls":"never-suppress","Schema Write Strategy":"no-schema","record_tag_name":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"array_wrapping":"no-wrapping","schema-access-strategy":"inherit-record-schema","pretty_print_xml":"false","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","Character Set":"UTF-8"},"propertyDescriptors":{"array_tag_name":{"name":"array_tag_name","displayName":"Array Tag Name","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"omit_xml_declaration":{"name":"omit_xml_declaration","displayName":"Omit XML Declaration","identifiesControllerService":false,"sensitive":false},"root_tag_name":{"name":"root_tag_name","displayName":"Name of Root Tag","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"suppress_nulls":{"name":"suppress_nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"record_tag_name":{"name":"record_tag_name","displayName":"Name of Record Tag","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"array_wrapping":{"name":"array_wrapping","displayName":"Wrap Elements of Arrays","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"pretty_print_xml":{"name":"pretty_print_xml","displayName":"Pretty Print XML","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f8f59f71-0188-1000-0000-00005d965e5a"},{"identifier":"856a7a08-47d3-36f1-9840-4043576665d1","instanceIdentifier":"025ccac4-0189-1000-ffff-ffffcc358a05","name":"SimpleKeyValueLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"<address>123 Main Street</address>":"<test>a</test>","789 Oak Avenue":"789 Oak Ave, Maywood, NJ 07607","123 Main Street":"123 Main St, Spring, TX 77373"},"propertyDescriptors":{"<address>123 Main Street</address>":{"name":"<address>123 Main Street</address>","displayName":"<address>123 Main Street</address>","identifiesControllerService":false,"sensitive":false},"789 Oak Avenue":{"name":"789 Oak Avenue","displayName":"789 Oak Avenue","identifiesControllerService":false,"sensitive":false},"123 Main Street":{"name":"123 Main Street","displayName":"123 Main Street","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"10da5faf-27b4-3d48-acf8-1eca441e1da2"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f8f59f71-0188-1000-0000-00005d965e5a"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}