NiFi_SIEM-Optimization/Siem_Augmentation_Example.json
{"flowContents":{"identifier":"a698966a-b159-3ed8-a4be-a226504476ad","instanceIdentifier":"aa3c5a3f-018b-1000-0000-000070c4a0b9","name":"Siem Augmentation Example","comments":"","position":{"x":1304.0,"y":1184.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7ee91d37-a283-327f-965e-abcb29908da2","instanceIdentifier":"9d8026d2-9969-3222-b6df-84fabb4b4127","name":"Route Syslogs","comments":"","position":{"x":960.0,"y":1368.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"cache-schema":"false","dbf-default-precision":"10","record-writer":"216e75b6-3426-3389-ae72-002b510737e6","record-reader":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","include-zero-record-flowfiles":"false","To SIEM":"SELECT * from FLOWFILE WHERE severity <=4","dbf-default-scale":"0","All Events":"SELECT * FROM FLOWFILE"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"To SIEM":{"name":"To SIEM","displayName":"To SIEM","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"All Events":{"name":"All Events","displayName":"All Events","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 sec","componentType":"PROCESSOR","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"db9ccf53-880f-3c20-bd05-e9a3a6ae7587","instanceIdentifier":"42556870-2725-37b4-838f-29e8bad7a26e","name":"Send to Splunk","comments":"","position":{"x":1272.0,"y":1608.0},"type":"org.apache.nifi.processors.splunk.PutSplunk","bundle":{"group":"org.apache.nifi","artifact":"nifi-splunk-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Idle Connection Expiration":"15 seconds","Max Size of Socket Send Buffer":"1 MB","SSL Context Service":null,"Timeout":"10 seconds","Port":"1040","Hostname":"localhost","Protocol":"TCP","Character Set":"UTF-8","Message Delimiter":null},"propertyDescriptors":{"Idle Connection Expiration":{"name":"Idle Connection Expiration","displayName":"Idle Connection Expiration","identifiesControllerService":false,"sensitive":false},"Max Size of Socket Send Buffer":{"name":"Max Size of Socket Send Buffer","displayName":"Max Size of Socket Send Buffer","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Protocol":{"name":"Protocol","displayName":"Protocol","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Message Delimiter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"6062e85f-1405-3de5-9eb4-e0abe0b85aee","instanceIdentifier":"849abbfc-5da6-3de5-8e11-71d5a2faa87a","name":"Generate Syslog RFC5424","comments":"","position":{"x":960.0,"y":1176.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"##\n## Author: Nasheb Ismaily\n## Description: Generates a random RFC5424 format syslog message\n##\n\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nimport random\nfrom datetime import datetime\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, outputStream):\n        hostname = \"host\"\n        domain_name = \".example.com\"\n        tag = [\"kernel\", \"python\", \"application\"]\n        version = \"1\"\n        nouns = \"application\"\n        verbs = (\"started\", \"stopped\", \"exited\", \"completed\")\n        adv = (\"successfully\", \"unexpectedly\", \"cleanly\", \"gracefully\")\n\n        for i in range(1,10):\n            application = \"{0}{1}\".format(nouns, random.choice(range(1, 11)))\n            message_id = \"ID{0}\".format(random.choice(range(1, 50)))\n            random_tag = random.choice(tag)\n            structured_data = \"[SDID iut=\\\"{0}\\\" eventSource=\\\"{1}\\\" eventId=\\\"{2}\\\"]\".format(random.choice(range(1, 10)), random_tag, random.choice(range(1, 100)))\n            time_output = datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z'\n            random_host = random.choice(range(1, 11))\n            fqdn = \"{0}{1}{2}\".format(hostname, random_host, domain_name)\n            random_pid = random.choice(range(500, 9999))\n            priority = random.choice(range(0, 191))\n            num = random.randrange(0, 4)\n            random_message = application + ' has ' + verbs[num] + ' ' + adv[num]\n\n            syslog_output = (\"<{0}>{1} {2} {3} {4} {5} {6} {7} {8}\\n\".format(priority, version, time_output, fqdn, application,random_pid, message_id,structured_data, random_message))\n            outputStream.write(bytearray(syslog_output.encode('utf-8')))\n\nflowFile = session.create()\nif (flowFile != None):\n    flowFile = session.write(flowFile, PyOutputStreamCallback())\n    session.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0.5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":1,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"1 sec","componentType":"PROCESSOR","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"e9385972-12a6-3f63-97ae-e7d5dc171214","instanceIdentifier":"993f2af6-6167-3210-8df5-43dd88730efc","name":"MergeRecord","comments":"","position":{"x":680.0,"y":1608.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"216e75b6-3426-3389-ae72-002b510737e6","merge-strategy":"Bin-Packing Algorithm","record-reader":"00b88085-4319-35ab-a498-b39984be1f61","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"169b1daa-15fd-3491-83db-2706265f2ca6","instanceIdentifier":"bfd2ef15-19ac-3749-a292-d65269e9c7c7","name":"Mock Splunk Receiver","comments":"","position":{"x":1696.0,"y":1552.0},"type":"org.apache.nifi.processors.standard.ListenTCP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Local Network Interface":"lo0","Max Batch Size":"1","Port":"1040","max-receiving-threads":null,"Receive Buffer Size":"65507 B","Message Delimiter":"\\n","SSL Context Service":null,"idle-timeout":"0 seconds","Character Set":"UTF-8","Client Auth":"REQUIRED","Max Size of Message Queue":"10000","pool-receive-buffers":"True"},"propertyDescriptors":{"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of Worker Threads","identifiesControllerService":false,"sensitive":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"max-receiving-threads":{"name":"max-receiving-threads","displayName":"Max Number of Receiving Message Handler Threads","identifiesControllerService":false,"sensitive":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Connection Timeout","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false},"pool-receive-buffers":{"name":"pool-receive-buffers","displayName":"Pool Receive Buffers","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"b3e1d496-dd5d-3408-b162-377d1ee473fc","instanceIdentifier":"2c10efef-94bd-3a11-8d52-fcbdb1dd63fe","name":"LongTermLogStore HDFS ","comments":"","position":{"x":680.0,"y":1880.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"Syslog Entries","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"dbbd32ad-0c1f-347b-95b6-b266f64fc2f9","instanceIdentifier":"181fc3b2-449f-38f0-81db-507249aa89f8","name":"","source":{"id":"e9385972-12a6-3f63-97ae-e7d5dc171214","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"MergeRecord","comments":"","instanceIdentifier":"993f2af6-6167-3210-8df5-43dd88730efc"},"destination":{"id":"e9385972-12a6-3f63-97ae-e7d5dc171214","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"MergeRecord","comments":"","instanceIdentifier":"993f2af6-6167-3210-8df5-43dd88730efc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"5 sec","prioritizers":[],"bends":[{"x":1141.070825,"y":1645.8326357421874},{"x":1141.070825,"y":1695.8326357421874}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"098d6071-eea1-30c5-94f8-ec3572d74552","instanceIdentifier":"67663832-1395-3d00-9343-877780ccb15d","name":"Stored Syslog Events","source":{"id":"b3e1d496-dd5d-3408-b162-377d1ee473fc","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"LongTermLogStore HDFS ","comments":"","instanceIdentifier":"2c10efef-94bd-3a11-8d52-fcbdb1dd63fe"},"destination":{"id":"bc2945d5-5d51-3f02-80fd-e867eb504f58","type":"FUNNEL","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Funnel","comments":"","instanceIdentifier":"16293829-6531-33b5-a30c-8043c7a9416d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"60 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"dbaa5f97-befd-37ba-8b52-dddb62fa56a5","instanceIdentifier":"b6566499-56a7-3676-9e29-a2d64bf67547","name":"Sent to SIEM","source":{"id":"169b1daa-15fd-3491-83db-2706265f2ca6","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Mock Splunk Receiver","comments":"","instanceIdentifier":"bfd2ef15-19ac-3749-a292-d65269e9c7c7"},"destination":{"id":"fd8f0e3c-1766-32b8-b63c-8c3450547c0b","type":"FUNNEL","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Funnel","comments":"","instanceIdentifier":"a62648f2-78d1-3554-80f3-7634daf52b7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"240 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"bd210a50-15e2-3ccb-bae5-693bea53025f","instanceIdentifier":"30b2c964-17ba-3b40-af51-ffc78b2d7ac4","name":"","source":{"id":"6062e85f-1405-3de5-9eb4-e0abe0b85aee","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Generate Syslog RFC5424","comments":"","instanceIdentifier":"849abbfc-5da6-3de5-8e11-71d5a2faa87a"},"destination":{"id":"7ee91d37-a283-327f-965e-abcb29908da2","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Route Syslogs","comments":"","instanceIdentifier":"9d8026d2-9969-3222-b6df-84fabb4b4127"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"5 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"547010fa-d8f1-323f-9b50-806968e0ee63","instanceIdentifier":"f6d21f47-27c0-31d4-a6cf-8eea60bf2b34","name":"Retry log writes","source":{"id":"b3e1d496-dd5d-3408-b162-377d1ee473fc","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"LongTermLogStore HDFS ","comments":"","instanceIdentifier":"2c10efef-94bd-3a11-8d52-fcbdb1dd63fe"},"destination":{"id":"b3e1d496-dd5d-3408-b162-377d1ee473fc","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"LongTermLogStore HDFS ","comments":"","instanceIdentifier":"2c10efef-94bd-3a11-8d52-fcbdb1dd63fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1145.8485455078126,"y":1919.7149677734376},{"x":1145.8485455078126,"y":1969.7149677734376}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"fc094e47-46fd-36ad-bdd8-1a05cd4720e4","instanceIdentifier":"3dc41654-365e-36b9-ae11-7e4f56e3c9ad","name":"","source":{"id":"db9ccf53-880f-3c20-bd05-e9a3a6ae7587","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Send to Splunk","comments":"","instanceIdentifier":"42556870-2725-37b4-838f-29e8bad7a26e"},"destination":{"id":"d82d3a77-a45a-3a8c-ab9a-9524f92b406e","type":"FUNNEL","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Funnel","comments":"","instanceIdentifier":"b69f1f22-9a8d-34e0-983d-502b18dfb06c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"300 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"a26dcbb1-7b79-3613-9ec5-bdccf22dfe92","instanceIdentifier":"dbc83a4d-acca-3a2e-ab6f-565f16bcdb68","name":"","source":{"id":"7ee91d37-a283-327f-965e-abcb29908da2","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Route Syslogs","comments":"","instanceIdentifier":"9d8026d2-9969-3222-b6df-84fabb4b4127"},"destination":{"id":"e9385972-12a6-3f63-97ae-e7d5dc171214","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"MergeRecord","comments":"","instanceIdentifier":"993f2af6-6167-3210-8df5-43dd88730efc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["All Events"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"08b79140-0c78-3033-b77e-d9e4da085cba","instanceIdentifier":"9f651aef-7c2f-3ace-8a2d-f5cc234d175a","name":"","source":{"id":"7ee91d37-a283-327f-965e-abcb29908da2","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Route Syslogs","comments":"","instanceIdentifier":"9d8026d2-9969-3222-b6df-84fabb4b4127"},"destination":{"id":"7ee91d37-a283-327f-965e-abcb29908da2","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Route Syslogs","comments":"","instanceIdentifier":"9d8026d2-9969-3222-b6df-84fabb4b4127"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"5 sec","prioritizers":[],"bends":[{"x":1436.0,"y":1408.0},{"x":1413.8507,"y":1458.2225}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"1dc4b44b-34d2-3624-93b8-0066252f30c4","instanceIdentifier":"7cffe460-8e45-3998-b385-3213bd982bd9","name":"Agregated Syslog Events","source":{"id":"e9385972-12a6-3f63-97ae-e7d5dc171214","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"MergeRecord","comments":"","instanceIdentifier":"993f2af6-6167-3210-8df5-43dd88730efc"},"destination":{"id":"b3e1d496-dd5d-3408-b162-377d1ee473fc","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"LongTermLogStore HDFS ","comments":"","instanceIdentifier":"2c10efef-94bd-3a11-8d52-fcbdb1dd63fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"600 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"a2f68989-8636-369d-85b3-c648e965ac79","instanceIdentifier":"1e5c527c-8ae0-3ce1-b937-fb17b9a47269","name":"","source":{"id":"7ee91d37-a283-327f-965e-abcb29908da2","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Route Syslogs","comments":"","instanceIdentifier":"9d8026d2-9969-3222-b6df-84fabb4b4127"},"destination":{"id":"db9ccf53-880f-3c20-bd05-e9a3a6ae7587","type":"PROCESSOR","groupId":"a698966a-b159-3ed8-a4be-a226504476ad","name":"Send to Splunk","comments":"","instanceIdentifier":"42556870-2725-37b4-838f-29e8bad7a26e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["To SIEM"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"}],"labels":[{"identifier":"02492c48-c939-37fc-a771-112dee3707e7","instanceIdentifier":"f2991569-4d69-3056-98ab-654dfc65ecd7","position":{"x":1680.0,"y":1416.0},"zIndex":0,"width":416.0,"height":544.0,"style":{"background-color":"#fbffd4"},"componentType":"LABEL","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"b259ba50-5202-3897-a177-482908eafa28","instanceIdentifier":"82745a84-7062-3f8d-a7e0-915e1b86d3de","position":{"x":680.0,"y":976.0},"label":"Route select Syslogs to SIEM for cyber analysis based on severity\n\nRoute all Syslogs to long term storage for further analysis of advanced persistent threats\n","zIndex":0,"width":1008.0,"height":1192.0,"style":{"background-color":"#d4e2ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"}],"funnels":[{"identifier":"fd8f0e3c-1766-32b8-b63c-8c3450547c0b","instanceIdentifier":"a62648f2-78d1-3554-80f3-7634daf52b7b","position":{"x":1851.2764892578125,"y":1807.0552978515625},"componentType":"FUNNEL","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"bc2945d5-5d51-3f02-80fd-e867eb504f58","instanceIdentifier":"16293829-6531-33b5-a30c-8043c7a9416d","position":{"x":832.0,"y":2104.0},"componentType":"FUNNEL","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"d82d3a77-a45a-3a8c-ab9a-9524f92b406e","instanceIdentifier":"b69f1f22-9a8d-34e0-983d-502b18dfb06c","position":{"x":1424.0,"y":1880.0},"componentType":"FUNNEL","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"}],"controllerServices":[{"identifier":"00b88085-4319-35ab-a498-b39984be1f61","instanceIdentifier":"e0216f9b-e082-32ad-a66b-a8ed65fc459c","name":"JsonTreeReader Infer Schema","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"216e75b6-3426-3389-ae72-002b510737e6","instanceIdentifier":"8536d63d-3503-36c6-85ef-70578a22660d","name":"JSON_Syslog_5424_Writer-new","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"},{"identifier":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","instanceIdentifier":"a0a6d0ff-fed1-3340-90ed-bbe67b671714","name":"Syslog_5424_Reader","comments":"","type":"org.apache.nifi.syslog.Syslog5424Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Character Set":"UTF-8","syslog-5424-reader-raw-message":"false"},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"syslog-5424-reader-raw-message":{"name":"syslog-5424-reader-raw-message","displayName":"Raw message","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a698966a-b159-3ed8-a4be-a226504476ad"}],"variables":{},"defaultFlowFileExpiration":"5 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}