NiFi_Sitemap-Scrape-to-Text/pubsecml-kevin-original.json
{"flowContents":{"identifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","instanceIdentifier":"8fc1cc81-018a-1000-ffff-ffffb8e5fbf0","name":"pubsecml-version-1","position":{"x":464.0,"y":264.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"54d13d5c-2fbf-42aa-bb4f-50df790ac1a8","instanceIdentifier":"a74b3d64-e83f-3604-9b67-17891027e128","name":"InvokeHTTP","comments":"","position":{"x":524.3151001178173,"y":-121.82243445992293},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${http.param.sitemap}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"cc7bb626-f0be-40dd-b653-733df5bad3d2","instanceIdentifier":"cecfac43-a09a-3a8b-8ede-5800acb09b79","name":"ExtractText","comments":"","position":{"x":1097.1726908263377,"y":189.09283499941012},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":"(?s)(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"a1e0d5e3-fc68-4127-883b-8a71b92b6c29","instanceIdentifier":"d1ff000a-cd9c-3c56-99e2-3505610d9325","name":"ReplaceText","comments":"","position":{"x":3694.978193385359,"y":729.6556999140616},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"^\\s*$\\n?","Replacement Value":"","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#C354FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"040b63f2-3408-4a29-a3cd-ef8adf8ca43f","instanceIdentifier":"4c9aee7a-711e-35bd-bf33-801be56a0785","name":"EvaluateJsonPath","comments":"","position":{"x":1723.2644362817482,"y":-127.04808146255675},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Destination":"flowfile-attribute","loc":"$..loc","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"loc":{"name":"loc","displayName":"loc","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"f0ee2b5a-ede3-3346-a1d7-b46ba760c2da","instanceIdentifier":"8fcb8bab-018a-1000-ffff-ffff916d6424","name":"GenerateFlowFile","comments":"","position":{"x":480.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","http.param.sitemap":"https://docs.cloudera.com/sitemap.xml"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false},"http.param.sitemap":{"name":"http.param.sitemap","displayName":"http.param.sitemap","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"a740332f-1528-48f7-a6ee-8f83a7b9dde5","instanceIdentifier":"80f09e11-9146-3c7c-96fa-118b6bc02771","name":"UpdateAttribute","comments":"","position":{"x":2094.2558390685736,"y":736.2462473948598},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"uniqueID":"${UUID()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"uniqueID":{"name":"uniqueID","displayName":"uniqueID","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#C354FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"84da55ac-8a3c-4a46-b369-0b8c029e8f32","instanceIdentifier":"d1adcd3a-e2ae-35fa-a83e-00446e0c7500","name":"ReplaceText","comments":"","position":{"x":2895.1730987341143,"y":730.6742650286534},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"<(?!\\/?(h1|h2|h3|h4|h5|h6|p|table|thead|tbody|tr|td|th)(>| \\/>))\\/?.*?>|<\\/(h1|h2|h3|h4|h5|h6|p|table|thead|tbody|tr|td|th)>","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#C354FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"e5cfce5f-0f60-4a9a-8d16-238c11a71074","instanceIdentifier":"d0aa5ecb-b815-353a-8808-3761b8bbb9e2","name":"SplitJson","comments":"","position":{"x":2300.7243766757447,"y":-130.73397659602495},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$..loc"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"bd02f8a3-c1df-43e6-9fa0-e7d4c8a7dbc7","instanceIdentifier":"59942721-cf7b-3eb1-9698-24c5a9b1df7f","name":"InvokeHTTP","comments":"","position":{"x":521.7617151196484,"y":190.10904373145922},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${url}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"eaf677dc-db5c-4a40-80fd-1a3641854863","instanceIdentifier":"0eeec0bc-66d8-385c-a832-15062f7cc52a","name":"ConvertRecord","comments":"","position":{"x":1104.030433568369,"y":-123.36217362234595},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"a72200e0-ca6c-4c96-a09a-4c9718c6794f","record-reader":"bfdfa8d7-2570-4e99-bd61-f36751db5e3c","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"f4cc4073-41fd-4878-b8ca-4f7c59d5634d","instanceIdentifier":"444401f2-af5f-3e6b-8bb3-3eb8fe2cde10","name":"HandleHttpRequest","comments":"","position":{"x":-160.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":"sitemap","Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"59049d89-421f-4423-9eb7-a256b09c78e4","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/sitemap","Allow GET":"true","Allow HEAD":"false","Listening Port":"8091","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#1AD5E4"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"f06eee77-722f-416b-840c-1a837cecbcd7","instanceIdentifier":"10765cc2-a7d0-30fa-84ad-d94e0c994d33","name":"InvokeHTTP","comments":"","position":{"x":2887.2894826103443,"y":400.22539714990694},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${url}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#C354FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"e240f9f5-1e58-4a89-bccf-2e69618dab74","instanceIdentifier":"01c4d1e9-154c-34fb-bfaa-4c3e393068ad","name":"ExtractText","comments":"","position":{"x":2256.0,"y":400.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":"(?s)(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#C354FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"1c909d6b-c512-469e-9be6-852bc3088343","instanceIdentifier":"0b77dc33-14cf-3b22-b773-f889a2bdb1d3","name":"RouteText","comments":"","position":{"x":2968.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Routing Strategy":"Route to each matching Property Name","Ignore Leading/Trailing Whitespace":"true","xml":"${xml}.xml","Matching Strategy":"Ends With","http":"${http}.html","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"xml":{"name":"xml","displayName":"xml","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"http":{"name":"http","displayName":"http","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#259C00"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"23baff52-7a03-4db0-a5f9-c90f471b2b34","instanceIdentifier":"4f94251c-3a71-32cc-80d9-3ef503a5c1c9","name":"ExecuteScript","comments":"","position":{"x":3692.6092792726977,"y":400.70782689988096},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"def flowFile = session.get()\nif (!flowFile) return\n\ndef url = flowFile.getAttribute('url')  // Replace 'fullURL' with the name of your URL attribute\n\n// Remove the 'http://' or 'https://'\nurl = url.replaceAll(\"http://\", \"\").replaceAll(\"https://\", \"\")\n\ndef segments = url.split('/')\n\ndef hdfsPath = '/tmp'  // Replace this with your HDFS root directory\ndef fileName = ''\n\nsegments.eachWithIndex { segment, index ->\n    flowFile = session.putAttribute(flowFile, \"segment${index}\", segment)\n    if (index < segments.size() - 1) {\n        hdfsPath = \"${hdfsPath}/${segment}\"\n    } else {\n        fileName = segment\n    }\n}\n\n// Remove '.html' from the end of fileName if it exists\nif (fileName.endsWith('.html')) {\n    fileName = fileName.substring(0, fileName.length() - 5)\n}\n\n// Add '.txt' to the end of fileName\nfileName = \"${fileName}.txt\"\n\nflowFile = session.putAttribute(flowFile, 'HDFSPath', hdfsPath)\nflowFile = session.putAttribute(flowFile, 'HDFSFileName', fileName)\n\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{"background-color":"#C354FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"8652713a-ade6-489a-b8b6-cd328bd997b9","instanceIdentifier":"edc0cb82-7942-36d4-b389-b855e5df4fa6","name":"PutHDFS","comments":"","position":{"x":2892.66448815045,"y":1083.6667461793118},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"${HDFSPath}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#5464FF"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c0d1cea4-953d-4c61-a4ab-90af891831b4","instanceIdentifier":"26c483d4-d581-3fe8-af3e-1295309d913a","name":"","source":{"id":"23baff52-7a03-4db0-a5f9-c90f471b2b34","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ExecuteScript","comments":"","instanceIdentifier":"4f94251c-3a71-32cc-80d9-3ef503a5c1c9"},"destination":{"id":"a740332f-1528-48f7-a6ee-8f83a7b9dde5","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"UpdateAttribute","comments":"","instanceIdentifier":"80f09e11-9146-3c7c-96fa-118b6bc02771"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"8ab93c63-0d58-4d8b-b926-c375c07d642f","instanceIdentifier":"e6e67b99-627d-3766-b1ba-7f8a199d2c66","name":"","source":{"id":"e5cfce5f-0f60-4a9a-8d16-238c11a71074","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"SplitJson","comments":"","instanceIdentifier":"d0aa5ecb-b815-353a-8808-3761b8bbb9e2"},"destination":{"id":"1c909d6b-c512-469e-9be6-852bc3088343","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"RouteText","comments":"","instanceIdentifier":"0b77dc33-14cf-3b22-b773-f889a2bdb1d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":2784.339432667704,"y":-34.01920401075722}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"edae9130-e19c-4487-8812-9f4f5574de3a","instanceIdentifier":"a69604a1-ecb2-37b2-92e3-f6cae78af576","name":"","source":{"id":"8652713a-ade6-489a-b8b6-cd328bd997b9","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"PutHDFS","comments":"","instanceIdentifier":"edc0cb82-7942-36d4-b389-b855e5df4fa6"},"destination":{"id":"16918fc2-7fed-4590-bb59-67f63404c122","type":"FUNNEL","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"Funnel","comments":"","instanceIdentifier":"fbd67fff-5767-3e8d-aaef-379e0f68200d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"91bd9b56-73e3-44aa-abe1-0e215da00ee2","instanceIdentifier":"5da3018f-edf7-3de9-b35b-ca49a2bec15f","name":"","source":{"id":"f06eee77-722f-416b-840c-1a837cecbcd7","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"10765cc2-a7d0-30fa-84ad-d94e0c994d33"},"destination":{"id":"23baff52-7a03-4db0-a5f9-c90f471b2b34","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ExecuteScript","comments":"","instanceIdentifier":"4f94251c-3a71-32cc-80d9-3ef503a5c1c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"406849c4-0cef-4892-9c06-c7ef597904a3","instanceIdentifier":"73a29ca2-0d61-3afc-9ad8-5b9457aa7db9","name":"","source":{"id":"1c909d6b-c512-469e-9be6-852bc3088343","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"RouteText","comments":"","instanceIdentifier":"0b77dc33-14cf-3b22-b773-f889a2bdb1d3"},"destination":{"id":"cc7bb626-f0be-40dd-b653-733df5bad3d2","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ExtractText","comments":"","instanceIdentifier":"cecfac43-a09a-3a8b-8ede-5800acb09b79"},"labelIndex":1,"zIndex":0,"selectedRelationships":["xml"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":2754.3005528905187,"y":185.5707860815412}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"d65e1f09-575e-4d3b-8aea-8d399c45f26a","instanceIdentifier":"6ceb600f-18a9-3205-97fe-fa57ccb5a553","name":"","source":{"id":"84da55ac-8a3c-4a46-b369-0b8c029e8f32","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ReplaceText","comments":"","instanceIdentifier":"d1adcd3a-e2ae-35fa-a83e-00446e0c7500"},"destination":{"id":"a1e0d5e3-fc68-4127-883b-8a71b92b6c29","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ReplaceText","comments":"","instanceIdentifier":"d1ff000a-cd9c-3c56-99e2-3505610d9325"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"548a9ad9-7c13-4c8d-83ac-f7028021e560","instanceIdentifier":"b17ee778-df24-3bd2-a4cd-33e29c2c4daa","name":"","source":{"id":"1c909d6b-c512-469e-9be6-852bc3088343","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"RouteText","comments":"","instanceIdentifier":"0b77dc33-14cf-3b22-b773-f889a2bdb1d3"},"destination":{"id":"e240f9f5-1e58-4a89-bccf-2e69618dab74","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ExtractText","comments":"","instanceIdentifier":"01c4d1e9-154c-34fb-bfaa-4c3e393068ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["http"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":3086.3164220311437,"y":183.3967901098615}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"59613ddd-dfad-4d24-b116-79979e6b3865","instanceIdentifier":"e079012d-a7e3-35bc-9d86-0890b6eac04b","name":"","source":{"id":"bd02f8a3-c1df-43e6-9fa0-e7d4c8a7dbc7","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"59942721-cf7b-3eb1-9698-24c5a9b1df7f"},"destination":{"id":"eaf677dc-db5c-4a40-80fd-1a3641854863","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ConvertRecord","comments":"","instanceIdentifier":"0eeec0bc-66d8-385c-a832-15062f7cc52a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"ce491a31-86f9-4729-9043-aff8375457be","instanceIdentifier":"aebe73f2-ce6d-3522-baf3-86fb5f453dc6","name":"","source":{"id":"040b63f2-3408-4a29-a3cd-ef8adf8ca43f","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"4c9aee7a-711e-35bd-bf33-801be56a0785"},"destination":{"id":"e5cfce5f-0f60-4a9a-8d16-238c11a71074","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"SplitJson","comments":"","instanceIdentifier":"d0aa5ecb-b815-353a-8808-3761b8bbb9e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"61db6602-b101-4c23-94ab-d723b3d6c80d","instanceIdentifier":"8fa19b51-a754-3391-a445-3305b709ff1b","name":"","source":{"id":"a1e0d5e3-fc68-4127-883b-8a71b92b6c29","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ReplaceText","comments":"","instanceIdentifier":"d1ff000a-cd9c-3c56-99e2-3505610d9325"},"destination":{"id":"d4cffcf5-f1b1-4566-9819-d32d3c37c9df","type":"FUNNEL","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"Funnel","comments":"","instanceIdentifier":"3b36ee2c-c12e-352a-93be-27e19318c3f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"5 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"37c0b0e6-bced-4c79-87cd-bbcdd6307d9d","instanceIdentifier":"5acb7f7f-58a9-3f79-95e7-20107af298bb","name":"","source":{"id":"f4cc4073-41fd-4878-b8ca-4f7c59d5634d","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"HandleHttpRequest","comments":"","instanceIdentifier":"444401f2-af5f-3e6b-8bb3-3eb8fe2cde10"},"destination":{"id":"54d13d5c-2fbf-42aa-bb4f-50df790ac1a8","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"a74b3d64-e83f-3604-9b67-17891027e128"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"8da3501e-ebb7-4fa6-910c-5ca8c7afe6e6","instanceIdentifier":"68af734e-6012-36c1-929a-5504ab1bda87","name":"","source":{"id":"a740332f-1528-48f7-a6ee-8f83a7b9dde5","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"UpdateAttribute","comments":"","instanceIdentifier":"80f09e11-9146-3c7c-96fa-118b6bc02771"},"destination":{"id":"84da55ac-8a3c-4a46-b369-0b8c029e8f32","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ReplaceText","comments":"","instanceIdentifier":"d1adcd3a-e2ae-35fa-a83e-00446e0c7500"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"b326ce28-d491-44b6-a446-3afd7a8cefc7","instanceIdentifier":"13c3af35-7086-3d4a-b81d-adea5b4ff065","name":"","source":{"id":"eaf677dc-db5c-4a40-80fd-1a3641854863","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ConvertRecord","comments":"","instanceIdentifier":"0eeec0bc-66d8-385c-a832-15062f7cc52a"},"destination":{"id":"040b63f2-3408-4a29-a3cd-ef8adf8ca43f","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"4c9aee7a-711e-35bd-bf33-801be56a0785"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"ee60b498-0bc9-4387-abbb-3d061007c2a2","instanceIdentifier":"158932e0-270f-30dd-8254-4895d126f49f","name":"","source":{"id":"cc7bb626-f0be-40dd-b653-733df5bad3d2","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ExtractText","comments":"","instanceIdentifier":"cecfac43-a09a-3a8b-8ede-5800acb09b79"},"destination":{"id":"bd02f8a3-c1df-43e6-9fa0-e7d4c8a7dbc7","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"59942721-cf7b-3eb1-9698-24c5a9b1df7f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"4591484b-25b6-4277-a95e-8c9acfc37569","instanceIdentifier":"cbfcb345-e607-3faa-a1f1-96f9fd54237d","name":"","source":{"id":"8652713a-ade6-489a-b8b6-cd328bd997b9","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"PutHDFS","comments":"","instanceIdentifier":"edc0cb82-7942-36d4-b389-b855e5df4fa6"},"destination":{"id":"16918fc2-7fed-4590-bb59-67f63404c122","type":"FUNNEL","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"Funnel","comments":"","instanceIdentifier":"fbd67fff-5767-3e8d-aaef-379e0f68200d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":3322.5039738057035,"y":1371.370533571831}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"035ae265-6a5b-4caf-a336-a76a377ec575","instanceIdentifier":"38eacd0a-3294-3bd7-9059-a6794f358545","name":"","source":{"id":"e240f9f5-1e58-4a89-bccf-2e69618dab74","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ExtractText","comments":"","instanceIdentifier":"01c4d1e9-154c-34fb-bfaa-4c3e393068ad"},"destination":{"id":"f06eee77-722f-416b-840c-1a837cecbcd7","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"10765cc2-a7d0-30fa-84ad-d94e0c994d33"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"41834d10-9873-419a-b2b8-ff21d726e51b","instanceIdentifier":"86db22ec-1bdf-37a1-ba90-408fd5d499cb","name":"","source":{"id":"54d13d5c-2fbf-42aa-bb4f-50df790ac1a8","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"a74b3d64-e83f-3604-9b67-17891027e128"},"destination":{"id":"eaf677dc-db5c-4a40-80fd-1a3641854863","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"ConvertRecord","comments":"","instanceIdentifier":"0eeec0bc-66d8-385c-a832-15062f7cc52a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"199da92d-2fc7-44d7-aea3-af63e371c140","instanceIdentifier":"30f4e8af-72a6-3aea-9d6d-0b21cda00870","name":"","source":{"id":"1c909d6b-c512-469e-9be6-852bc3088343","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"RouteText","comments":"","instanceIdentifier":"0b77dc33-14cf-3b22-b773-f889a2bdb1d3"},"destination":{"id":"f670d052-2876-4a66-bbbd-bb5c5da38945","type":"FUNNEL","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"Funnel","comments":"","instanceIdentifier":"fd1d4fdb-4e35-3495-97b0-d73ef4222246"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":3397.1618810155187,"y":180.9395147192365}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"b21cf05b-5c57-3c53-b347-2597c0d6afec","instanceIdentifier":"8fcc7855-018a-1000-0000-000043e657b0","name":"","source":{"id":"f0ee2b5a-ede3-3346-a1d7-b46ba760c2da","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8fcb8bab-018a-1000-ffff-ffff916d6424"},"destination":{"id":"54d13d5c-2fbf-42aa-bb4f-50df790ac1a8","type":"PROCESSOR","groupId":"aa1a5718-ed34-35bd-88a0-7bc52b7de817","name":"InvokeHTTP","comments":"","instanceIdentifier":"a74b3d64-e83f-3604-9b67-17891027e128"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"}],"labels":[{"identifier":"9952427b-abd0-4036-8010-baff72bacf32","instanceIdentifier":"24ebf763-4e2f-39eb-af87-9929c7e7117c","position":{"x":520.8174958862805,"y":-232.2610126928298},"label":"XML TO HTTP","zIndex":0,"width":112.0,"height":24.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"d962af60-098f-402c-8f0f-5a0231575ce9","instanceIdentifier":"df965a95-e0c9-32aa-a269-f76e3c1d0ea2","position":{"x":-159.41402777489088,"y":-193.40956310706207},"label":"Read xml from ingress endpoint","zIndex":0,"width":192.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"94c0c262-bb60-479a-9116-638fcf1b01cb","instanceIdentifier":"36e1f4e4-8553-3e88-9341-d2f678220f2f","position":{"x":2096.0,"y":360.0},"label":"HTTP TO TEXT","zIndex":0,"width":112.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"ca833f28-d9f1-4592-a120-9c2dd8a3cfd7","instanceIdentifier":"d02cf7cb-7fc4-30fa-8e65-c31b7a9d37c6","position":{"x":2969.101462887587,"y":-198.0701644298827},"label":"Route HTML and XML entries to their \nseparate flows","zIndex":0,"width":216.0,"height":48.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"000a4edf-4b23-4884-9885-4af0c084a06d","instanceIdentifier":"ec9597f3-5680-32f0-a2e5-5ef321696ffb","position":{"x":3696.420341899551,"y":686.3509212759068},"label":"Clean up resulting document of whitespace","zIndex":0,"width":272.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"b4043d9a-4930-4283-ac91-9f351aa8d982","instanceIdentifier":"22980c79-849f-3a5f-bb17-080ae12231ce","position":{"x":3692.1631310073517,"y":361.0464776608492},"label":"Add filename and path params","zIndex":0,"width":192.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"ed294cb5-0150-43df-b5d9-40491c748c34","instanceIdentifier":"67477458-319d-3d08-85ff-daf091646884","position":{"x":993.3458652552972,"y":643.3474091790949},"label":"DONE: Recursive XML scrape, pull htmls, content tagging, data cleanse\nTO DO: set up HDFS load ","zIndex":0,"width":768.0,"height":400.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"c7785f2e-af32-3df0-abce-b3023d91c2e9","instanceIdentifier":"16383401-5af5-176d-b607-dcb468faa75e","position":{"x":472.0,"y":-632.0},"label":"(run once)","zIndex":0,"width":192.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"dae63525-01f0-4556-9995-4cbbf9465e5b","instanceIdentifier":"33ae1ce0-8482-33da-8a91-56ac1d1dfa07","position":{"x":2091.429630995598,"y":697.0286193305409},"label":"Map UUID","zIndex":0,"width":80.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"e8f209a3-7cd4-4a15-93c8-78ad98be1ff5","instanceIdentifier":"38873c4c-fa74-3c8c-9fad-0fbaee436552","position":{"x":1101.2845823052016,"y":-179.64059232343897},"label":"Extract entries from XML Schema","zIndex":0,"width":200.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"aef34e24-fdb9-4467-89d9-8e253317cd08","instanceIdentifier":"34e19a33-3f58-3c31-a2d8-1d8786a71627","position":{"x":1724.204393064831,"y":-196.8415029912628},"label":"Check for additional XMLs and\nrecurse if found, otherwise continue\nto get htmls","zIndex":0,"width":216.0,"height":56.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"29451b66-fd90-4603-8bfa-52c8ff613134","instanceIdentifier":"51d40a4c-4da3-343a-877a-dcc4e29ecf03","position":{"x":2896.7924421035254,"y":692.4384003885607},"label":"Merge html tags extracts and remove tags from output","zIndex":0,"width":312.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"bdf04945-8226-41b2-ac20-881d272842ba","instanceIdentifier":"9c2a23b9-c310-3417-8013-79a18bed2ea1","position":{"x":518.4947064020237,"y":136.85811185096543},"label":"(Recursive) Get XML from website","zIndex":0,"width":240.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"ff60c184-b5eb-4566-9834-d9f54e4f81e0","instanceIdentifier":"930c5a52-4caa-386a-8dfd-c34362006000","position":{"x":2883.221047835519,"y":1035.5861196000776},"label":"SEND TO HDFS","zIndex":0,"width":112.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"aa667dc6-742b-43b4-af5d-0b5ad7b43dd1","instanceIdentifier":"4c622f67-dadd-3c9f-97ab-89c3fdeb3dee","position":{"x":2301.9507392654737,"y":-176.8968762893452},"label":"Split to individual URL entries","zIndex":0,"width":216.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"797f4e3b-dce2-44a5-aed8-01a31586643f","instanceIdentifier":"25c9b031-3e36-3b63-b3b3-fbb6fb3808ba","position":{"x":2327.0985634546905,"y":1085.4130092028863},"label":"HDFSFileName and HDFSPath hold parameters for PutHDFS","zIndex":0,"width":528.0,"height":56.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"da5089b8-0e6b-47f4-a4b7-a51583566539","instanceIdentifier":"e9ca0676-d973-31f5-b48c-e3257899b60e","position":{"x":522.5958673169184,"y":-179.64057440432998},"label":"Get XML from website","zIndex":0,"width":192.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"5bab3763-685d-481d-98b9-3a1c040a60bb","instanceIdentifier":"447b713c-6007-3d04-b3d1-336caee7eb35","position":{"x":1099.5455082670933,"y":143.72703900766493},"label":"Extract HTML URL to parameter for invoke","zIndex":0,"width":280.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"}],"funnels":[{"identifier":"d4cffcf5-f1b1-4566-9819-d32d3c37c9df","instanceIdentifier":"3b36ee2c-c12e-352a-93be-27e19318c3f1","position":{"x":3312.0,"y":1128.0},"componentType":"FUNNEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"16918fc2-7fed-4590-bb59-67f63404c122","instanceIdentifier":"fbd67fff-5767-3e8d-aaef-379e0f68200d","position":{"x":3029.571242664082,"y":1486.7482711596629},"componentType":"FUNNEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"f670d052-2876-4a66-bbbd-bb5c5da38945","instanceIdentifier":"fd1d4fdb-4e35-3495-97b0-d73ef4222246","position":{"x":3567.0249232299757,"y":145.2736821304187},"componentType":"FUNNEL","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"}],"controllerServices":[{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8fc1cc81-018a-1000-ffff-ffffb8e5fbf0"},{"identifier":"bfdfa8d7-2570-4e99-bd61-f36751db5e3c","instanceIdentifier":"655e367c-f94a-3800-8c35-8c0ff088882f","name":"XMLReader","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"59049d89-421f-4423-9eb7-a256b09c78e4","instanceIdentifier":"a965e525-e802-38df-8646-a4f7b8fd4366","name":"StandardHttpContextMap","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"},{"identifier":"a72200e0-ca6c-4c96-a09a-4c9718c6794f","instanceIdentifier":"3741b18c-ca25-3fa7-9c09-4fdde87e97c0","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"aa1a5718-ed34-35bd-88a0-7bc52b7de817"}],"variables":{},"parameterContextName":"pubsecml","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"pubsecml":{"name":"pubsecml","parameters":[{"name":"CDP Username","description":"","sensitive":false,"provided":false,"value":"ktalbert"},{"name":"CDP Password","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}