NiFi_DPI-(Downloads-Per-Instant)-Gold-Demo/DPI_Gold_Record.json
{"flowContents":{"identifier":"11d59173-5490-3362-94bc-7b87d007a270","instanceIdentifier":"91e76385-b6a8-1710-0000-00001ebec232","name":"DPI_Gold_Record","comments":"","position":{"x":3280.0,"y":-240.0},"processGroups":[{"identifier":"97559b5c-03c9-3539-8e47-4dd60ae28282","instanceIdentifier":"95b8d777-0188-1000-ffff-ffffb0ea550d","name":"Queues Clean Up","comments":"","position":{"x":168.0,"y":1048.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8a6b0cbe-8d25-352f-b5a3-15cf4f285664","instanceIdentifier":"b4383e83-41a3-1eb8-0000-00007834a70c","name":"SplitText","comments":"","position":{"x":-864.0,"y":720.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"dd801f71-1e98-3b70-89aa-e63d1c853fed","instanceIdentifier":"b43840d8-41a3-1eb8-ffff-ffffe6075928","name":"ExtractText","comments":"","position":{"x":-864.0,"y":952.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","trgtflowid":"(.*)","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"trgtflowid":{"name":"trgtflowid","displayName":"trgtflowid","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"be66bf38-9d41-343d-9145-18a2bad483d3","instanceIdentifier":"bd8d3738-f8d4-1262-9fd9-b3ec19fece76","name":"InvokeHTTP (clear-state)","comments":"","position":{"x":-456.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://go01-aws-nifi-gateway.go01-dem.ylcu-atmi.cloudera.site/go01-aws-nifi/cdp-proxy-api/nifi-app/nifi-api/processors/111dfde4-9821-35bd-ae5c-ffde3bddba91/state/clear-requests","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"d3fecf89-795e-31b5-9085-a241498a6556","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"yalyasin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"62c4bb79-0feb-3fad-94f0-fe8c0766f11a","instanceIdentifier":"b4383d95-41a3-1eb8-bff9-53194386e5bc","name":"InvokeHTTP (drop-requests)","comments":"","position":{"x":-856.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://go01-aws-nifi-gateway.go01-dem.ylcu-atmi.cloudera.site/go01-aws-nifi/cdp-proxy-api/nifi-app/nifi-api/flowfile-queues/${trgtflowid}/drop-requests","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"d3fecf89-795e-31b5-9085-a241498a6556","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":"yalyasin","Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"3c4fe8d7-fa2e-3928-aa15-897fdb5ddf82","instanceIdentifier":"b4383e1b-41a3-1eb8-0000-0000774c8db0","name":"GenerateFlowFile","comments":"","position":{"x":-856.0,"y":464.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"279a7b27-5da8-364c-bed1-539e256f6025\nf0e0a772-4a68-3f1d-ae4b-ea97c24ad330\n52f1f01d-7c20-3c7c-a203-f5ef42faafcb\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f398178c-3369-3a94-b0c7-0fe957dfb00f","instanceIdentifier":"b438411c-41a3-1eb8-ffff-ffffd71ed492","name":"","source":{"id":"dd801f71-1e98-3b70-89aa-e63d1c853fed","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"ExtractText","comments":"","instanceIdentifier":"b43840d8-41a3-1eb8-ffff-ffffe6075928"},"destination":{"id":"62c4bb79-0feb-3fad-94f0-fe8c0766f11a","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"InvokeHTTP (drop-requests)","comments":"","instanceIdentifier":"b4383d95-41a3-1eb8-bff9-53194386e5bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"8f2ecbcc-0215-38db-9974-04fc36bdd414","instanceIdentifier":"94f10cd6-0188-1000-ffff-ffffc8e91e82","name":"","source":{"id":"be66bf38-9d41-343d-9145-18a2bad483d3","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"InvokeHTTP (clear-state)","comments":"","instanceIdentifier":"bd8d3738-f8d4-1262-9fd9-b3ec19fece76"},"destination":{"id":"bca04184-1df4-3eef-9d04-76ef31e0a86f","type":"FUNNEL","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"Funnel","comments":"","instanceIdentifier":"91e7bf78-b6a8-1710-ffff-ffffc4bbb7d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"a29cd6e5-dad8-31e6-81d3-0e0440b01492","instanceIdentifier":"b4384121-41a3-1eb8-0000-000044cc3e3d","name":"","source":{"id":"dd801f71-1e98-3b70-89aa-e63d1c853fed","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"ExtractText","comments":"","instanceIdentifier":"b43840d8-41a3-1eb8-ffff-ffffe6075928"},"destination":{"id":"bca04184-1df4-3eef-9d04-76ef31e0a86f","type":"FUNNEL","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"Funnel","comments":"","instanceIdentifier":"91e7bf78-b6a8-1710-ffff-ffffc4bbb7d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"8e6405f6-132c-394f-90e8-c7972f1531b9","instanceIdentifier":"94f0d1f3-0188-1000-ffff-ffffe6c2c23a","name":"","source":{"id":"be66bf38-9d41-343d-9145-18a2bad483d3","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"InvokeHTTP (clear-state)","comments":"","instanceIdentifier":"bd8d3738-f8d4-1262-9fd9-b3ec19fece76"},"destination":{"id":"3fa57c77-6020-389b-bae0-07056fa38687","type":"FUNNEL","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"Funnel","comments":"","instanceIdentifier":"b4383dc5-41a3-1eb8-ffff-ffffc7b8b36f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"eb6405ce-06f9-33ea-984e-25d0f1a3a104","instanceIdentifier":"b43840e1-41a3-1eb8-0000-000014ec1b8b","name":"","source":{"id":"8a6b0cbe-8d25-352f-b5a3-15cf4f285664","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"SplitText","comments":"","instanceIdentifier":"b4383e83-41a3-1eb8-0000-00007834a70c"},"destination":{"id":"dd801f71-1e98-3b70-89aa-e63d1c853fed","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"ExtractText","comments":"","instanceIdentifier":"b43840d8-41a3-1eb8-ffff-ffffe6075928"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"e9e7db79-1529-357a-8794-80fb2476190a","instanceIdentifier":"b4383e91-41a3-1eb8-ffff-ffffb23e0bf6","name":"","source":{"id":"3c4fe8d7-fa2e-3928-aa15-897fdb5ddf82","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"GenerateFlowFile","comments":"","instanceIdentifier":"b4383e1b-41a3-1eb8-0000-0000774c8db0"},"destination":{"id":"8a6b0cbe-8d25-352f-b5a3-15cf4f285664","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"SplitText","comments":"","instanceIdentifier":"b4383e83-41a3-1eb8-0000-00007834a70c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"bea9ca49-23b2-36d2-8af8-2054dcc4ead4","instanceIdentifier":"b4383dcc-41a3-1eb8-ffff-ffff915a4f4e","name":"","source":{"id":"62c4bb79-0feb-3fad-94f0-fe8c0766f11a","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"InvokeHTTP (drop-requests)","comments":"","instanceIdentifier":"b4383d95-41a3-1eb8-bff9-53194386e5bc"},"destination":{"id":"3fa57c77-6020-389b-bae0-07056fa38687","type":"FUNNEL","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"Funnel","comments":"","instanceIdentifier":"b4383dc5-41a3-1eb8-ffff-ffffc7b8b36f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"98cecfca-def1-3f66-88d8-9a3aa06a9c9a","instanceIdentifier":"b4383d9f-41a3-1eb8-0000-00004b20802b","name":"","source":{"id":"62c4bb79-0feb-3fad-94f0-fe8c0766f11a","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"InvokeHTTP (drop-requests)","comments":"","instanceIdentifier":"b4383d95-41a3-1eb8-bff9-53194386e5bc"},"destination":{"id":"bca04184-1df4-3eef-9d04-76ef31e0a86f","type":"FUNNEL","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"Funnel","comments":"","instanceIdentifier":"91e7bf78-b6a8-1710-ffff-ffffc4bbb7d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"5023a1db-896d-3504-acee-8513083fd0f3","instanceIdentifier":"b4383ebc-41a3-1eb8-ffff-ffffe51fb442","name":"","source":{"id":"8a6b0cbe-8d25-352f-b5a3-15cf4f285664","type":"PROCESSOR","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"SplitText","comments":"","instanceIdentifier":"b4383e83-41a3-1eb8-0000-00007834a70c"},"destination":{"id":"bca04184-1df4-3eef-9d04-76ef31e0a86f","type":"FUNNEL","groupId":"97559b5c-03c9-3539-8e47-4dd60ae28282","name":"Funnel","comments":"","instanceIdentifier":"91e7bf78-b6a8-1710-ffff-ffffc4bbb7d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"}],"labels":[],"funnels":[{"identifier":"bca04184-1df4-3eef-9d04-76ef31e0a86f","instanceIdentifier":"91e7bf78-b6a8-1710-ffff-ffffc4bbb7d7","position":{"x":-216.0,"y":464.0},"componentType":"FUNNEL","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"},{"identifier":"3fa57c77-6020-389b-bae0-07056fa38687","instanceIdentifier":"b4383dc5-41a3-1eb8-ffff-ffffc7b8b36f","position":{"x":-544.0,"y":1440.0},"componentType":"FUNNEL","groupIdentifier":"97559b5c-03c9-3539-8e47-4dd60ae28282"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"}],"remoteProcessGroups":[],"processors":[{"identifier":"60227b11-dd13-3945-89db-31dd362b0e41","instanceIdentifier":"4d308211-836f-3a5c-87c4-bac3cefb4f52","name":"FetchS3Object","comments":"","position":{"x":808.0,"y":1088.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"dpi-demo-data","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"a549f061-d3a1-333c-8f50-d6723d334994","instanceIdentifier":"594631ff-a57d-33ad-9721-a108b5d411f8","name":"RouteOnAttribute","comments":"","position":{"x":808.0,"y":712.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Routing Strategy":"Route to Property name","DPI.CSV":"${filename:toUpper():endsWith('XDR_DPI.CSV')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"DPI.CSV":{"name":"DPI.CSV","displayName":"DPI.CSV","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"3a3513cb-6169-3475-83f8-1f09ef1a02ed","instanceIdentifier":"f074d2b8-d3db-3bdb-88f7-f6f47a32de0a","name":"UpdateRecord","comments":"","position":{"x":1808.0,"y":544.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"/start_time":"concat('','${now():toNumber():minus(180000):format(\"HH:mm:ss\")}')","/end_date":"concat('','${now():toNumber():format(\"yyyy-MM-dd\")}')","/is_vip":"concat('' , '${random():mod(1):plus(1)}')","/lat":"concat('${random():mod(97):plus(1)}','.', '${random():mod(1000000):plus(1)}')","record-writer":"f58b8923-254a-3f86-9ff8-4168a616b8f7","/end_time":"concat('','${now():toNumber():minus(1000):format(\"HH:mm:ss\")}')","/start_date":"concat('','${now():toNumber():format(\"yyyy-MM-dd\")}')","/lon":"concat('${random():mod(55):plus(1)}','.', '${random():mod(1000000):plus(1)}')","replacement-value-strategy":"record-path-value","/customer_id":"concat('' , '${UUID()}')","/website_name":"concat('' , '${random():mod(5):plus(1)}')","record-reader":"667624ff-840e-3000-aa23-5d84df24da44","/upload_traffic":"concat('' , '${random():mod(200000):plus(1)}')","/download_traffic":"concat('' , '${random():mod(10000):plus(1)}')","/roaming":"concat('' , '${random():mod(1):plus(1)}')"},"propertyDescriptors":{"/start_time":{"name":"/start_time","displayName":"/start_time","identifiesControllerService":false,"sensitive":false},"/end_date":{"name":"/end_date","displayName":"/end_date","identifiesControllerService":false,"sensitive":false},"/is_vip":{"name":"/is_vip","displayName":"/is_vip","identifiesControllerService":false,"sensitive":false},"/lat":{"name":"/lat","displayName":"/lat","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/end_time":{"name":"/end_time","displayName":"/end_time","identifiesControllerService":false,"sensitive":false},"/start_date":{"name":"/start_date","displayName":"/start_date","identifiesControllerService":false,"sensitive":false},"/lon":{"name":"/lon","displayName":"/lon","identifiesControllerService":false,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/customer_id":{"name":"/customer_id","displayName":"/customer_id","identifiesControllerService":false,"sensitive":false},"/website_name":{"name":"/website_name","displayName":"/website_name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"/upload_traffic":{"name":"/upload_traffic","displayName":"/upload_traffic","identifiesControllerService":false,"sensitive":false},"/download_traffic":{"name":"/download_traffic","displayName":"/download_traffic","identifiesControllerService":false,"sensitive":false},"/roaming":{"name":"/roaming","displayName":"/roaming","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"5002813b-25ca-3627-9f46-1859e1fbaff7","instanceIdentifier":"72bab6c7-afc2-3200-9960-90173d8db03f","name":"PublishKafka2RecordCDP","comments":"","position":{"x":2208.0,"y":760.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"f58b8923-254a-3f86-9ff8-4168a616b8f7","bootstrap.servers":"cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"667624ff-840e-3000-aa23-5d84df24da44","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-dpi-data","ack.wait.time":"5 secs","sasl.username":"yalyasin","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"dpi_enriched_cust","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"2698e6d0-213c-3c9f-a705-09a77848b37c","instanceIdentifier":"bdbdcf9b-8cc7-35d0-ae24-1ae9b713270e","name":"ControlRate","comments":"","position":{"x":1200.0,"y":552.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"1 MB","Rate Controlled Attribute":null,"Rate Control Criteria":"data rate","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"8c3c282b-041b-3b16-b3b6-32f131c1952c","instanceIdentifier":"be02f774-29ea-3099-96ed-4ceea94033de","name":"SplitRecord","comments":"","position":{"x":1208.0,"y":896.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Record Writer":"f58b8923-254a-3f86-9ff8-4168a616b8f7","Record Reader":"13c9dd88-e763-3d97-983d-bd969f7434e0","Records Per Split":"10"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"d90143ac-15e0-3e3c-ba5e-7e74cf9761ec","instanceIdentifier":"782d39b6-eb93-3ee8-8d9e-17f982c9d195","name":"LookupRecord","comments":"","position":{"x":1808.0,"y":976.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-matched-unmatched","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/website_name","record-writer":"f58b8923-254a-3f86-9ff8-4168a616b8f7","record-reader":"667624ff-840e-3000-aa23-5d84df24da44","lookup-service":"84797362-a6b1-35bc-930d-614cf22fc689","record-update-strategy":"replace-existing-values","key":"/website_name"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"1ad8e30b-a05c-311a-bc56-dd9948ed74eb","instanceIdentifier":"111dfde4-9821-35bd-ae5c-ffde3bddba91","name":"ListS3","comments":"","position":{"x":808.0,"y":472.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","prefix":"dpi/","record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":"/","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"dpi-demo-data","Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a9f026c5-16ef-3da0-99c9-48f5bf2416e0","instanceIdentifier":"5d15ee29-6ea7-3a14-81c8-1260cd7b7c78","name":"ignore-control-flow","source":{"id":"2698e6d0-213c-3c9f-a705-09a77848b37c","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"ControlRate","comments":"","instanceIdentifier":"bdbdcf9b-8cc7-35d0-ae24-1ae9b713270e"},"destination":{"id":"37c6d129-abc4-3516-bf6f-201d32b1848e","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"6e642d51-ffc2-3e8a-96a0-9ef955b61a2d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"de01dae6-8f27-335f-8069-24f603c47a96","instanceIdentifier":"8e6bb21c-fa7d-3c24-936a-df93751a1f7c","name":"success-control-flow","source":{"id":"2698e6d0-213c-3c9f-a705-09a77848b37c","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"ControlRate","comments":"","instanceIdentifier":"bdbdcf9b-8cc7-35d0-ae24-1ae9b713270e"},"destination":{"id":"3a3513cb-6169-3475-83f8-1f09ef1a02ed","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"UpdateRecord","comments":"","instanceIdentifier":"f074d2b8-d3db-3bdb-88f7-f6f47a32de0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"b3cf6b3a-c39f-3f10-be03-318653e81d60","instanceIdentifier":"df4579bc-4399-38d7-9096-5d0b5ab90ab6","name":"success-list-flow","source":{"id":"1ad8e30b-a05c-311a-bc56-dd9948ed74eb","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"ListS3","comments":"","instanceIdentifier":"111dfde4-9821-35bd-ae5c-ffde3bddba91"},"destination":{"id":"a549f061-d3a1-333c-8f50-d6723d334994","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"RouteOnAttribute","comments":"","instanceIdentifier":"594631ff-a57d-33ad-9721-a108b5d411f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"abca5d10-f94b-35c3-b715-5185aecdaab6","instanceIdentifier":"279a7b27-5da8-364c-bed1-539e256f6025","name":"success-split-flow","source":{"id":"8c3c282b-041b-3b16-b3b6-32f131c1952c","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"SplitRecord","comments":"","instanceIdentifier":"be02f774-29ea-3099-96ed-4ceea94033de"},"destination":{"id":"2698e6d0-213c-3c9f-a705-09a77848b37c","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"ControlRate","comments":"","instanceIdentifier":"bdbdcf9b-8cc7-35d0-ae24-1ae9b713270e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"3b361c34-cff0-35f7-9eb6-90ffe2733406","instanceIdentifier":"52f1f01d-7c20-3c7c-a203-f5ef42faafcb","name":"ignore-split-flow","source":{"id":"8c3c282b-041b-3b16-b3b6-32f131c1952c","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"SplitRecord","comments":"","instanceIdentifier":"be02f774-29ea-3099-96ed-4ceea94033de"},"destination":{"id":"37c6d129-abc4-3516-bf6f-201d32b1848e","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"6e642d51-ffc2-3e8a-96a0-9ef955b61a2d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"5ffbc110-f5c2-3cf8-847d-c190f0ac2f27","instanceIdentifier":"f0e0a772-4a68-3f1d-ae4b-ea97c24ad330","name":"success-publish-flow","source":{"id":"5002813b-25ca-3627-9f46-1859e1fbaff7","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"PublishKafka2RecordCDP","comments":"","instanceIdentifier":"72bab6c7-afc2-3200-9960-90173d8db03f"},"destination":{"id":"f84a31bc-b830-3386-a147-5b96e15c6ed8","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"8bfeb3c7-1fec-3e1f-8f74-aab0132d075d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"1601db04-bbc0-346c-b51c-c2cd8a73f115","instanceIdentifier":"d4a27b3c-b494-3958-83c8-d95785e7371d","name":"unmatched-lookup-flow","source":{"id":"d90143ac-15e0-3e3c-ba5e-7e74cf9761ec","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"LookupRecord","comments":"","instanceIdentifier":"782d39b6-eb93-3ee8-8d9e-17f982c9d195"},"destination":{"id":"ab0c23b1-be46-3076-8655-0ef04ec10748","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"bec612d6-944f-39e3-89ca-c39186903f2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"2e3d01d2-2ecb-3279-a60d-7ceaac4f917e","instanceIdentifier":"a9dca1eb-504a-3586-ba90-95aa3396345e","name":"success-get-csv-flow","source":{"id":"a549f061-d3a1-333c-8f50-d6723d334994","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"RouteOnAttribute","comments":"","instanceIdentifier":"594631ff-a57d-33ad-9721-a108b5d411f8"},"destination":{"id":"60227b11-dd13-3945-89db-31dd362b0e41","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"FetchS3Object","comments":"","instanceIdentifier":"4d308211-836f-3a5c-87c4-bac3cefb4f52"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DPI.CSV"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"b791b7cf-9f31-37f7-bf35-32252f4c4ca2","instanceIdentifier":"1c8e258d-73a5-367b-a563-35e1b1915302","name":"ignore-list-flow","source":{"id":"a549f061-d3a1-333c-8f50-d6723d334994","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"RouteOnAttribute","comments":"","instanceIdentifier":"594631ff-a57d-33ad-9721-a108b5d411f8"},"destination":{"id":"a8afc1f0-df73-3adc-8d0b-9eb6e7da0a39","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"fb835de7-5eec-3e0a-809a-ed4f4b37d088"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"45fc2b79-5986-3219-a166-32942aac0840","instanceIdentifier":"4086f0e1-c8fd-3041-b3b2-ebbab62297b9","name":"failure-publish-flow","source":{"id":"5002813b-25ca-3627-9f46-1859e1fbaff7","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"PublishKafka2RecordCDP","comments":"","instanceIdentifier":"72bab6c7-afc2-3200-9960-90173d8db03f"},"destination":{"id":"5039e566-4b5a-3bb8-a094-13b3d78b2988","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"bef2165e-33e1-3d05-8bcf-eb92045b3a2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"4821d3bf-c1ac-3c8a-8426-e77d0d58fbac","instanceIdentifier":"1834f713-29e1-3c03-8e63-9af67845d523","name":"ignore-lookup-flow","source":{"id":"d90143ac-15e0-3e3c-ba5e-7e74cf9761ec","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"LookupRecord","comments":"","instanceIdentifier":"782d39b6-eb93-3ee8-8d9e-17f982c9d195"},"destination":{"id":"9e0ea7d2-9cdf-37a3-9bc7-1cfb6fa7f6bc","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"08a450c1-1a92-3325-b68e-c61ca3141b72"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"a6a83a85-248f-376b-853a-16f69876c193","instanceIdentifier":"921257dc-c784-3817-a54c-10a5087458d8","name":"success-fetch-flow","source":{"id":"60227b11-dd13-3945-89db-31dd362b0e41","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"FetchS3Object","comments":"","instanceIdentifier":"4d308211-836f-3a5c-87c4-bac3cefb4f52"},"destination":{"id":"8c3c282b-041b-3b16-b3b6-32f131c1952c","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"SplitRecord","comments":"","instanceIdentifier":"be02f774-29ea-3099-96ed-4ceea94033de"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"30ef5b85-9523-3625-9fba-969649d982ba","instanceIdentifier":"06ecc174-6a8f-3ec7-b502-0b3fbd70e653","name":"ignore-update-flow","source":{"id":"3a3513cb-6169-3475-83f8-1f09ef1a02ed","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"UpdateRecord","comments":"","instanceIdentifier":"f074d2b8-d3db-3bdb-88f7-f6f47a32de0a"},"destination":{"id":"9e0ea7d2-9cdf-37a3-9bc7-1cfb6fa7f6bc","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"08a450c1-1a92-3325-b68e-c61ca3141b72"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"7f96dc41-7fcd-3e74-999b-ea4b199a7666","instanceIdentifier":"ec6220dd-33ee-3ca2-9248-4d3fb8fcbec2","name":"ignore-fetch-flow","source":{"id":"60227b11-dd13-3945-89db-31dd362b0e41","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"FetchS3Object","comments":"","instanceIdentifier":"4d308211-836f-3a5c-87c4-bac3cefb4f52"},"destination":{"id":"a8afc1f0-df73-3adc-8d0b-9eb6e7da0a39","type":"FUNNEL","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"Funnel","comments":"","instanceIdentifier":"fb835de7-5eec-3e0a-809a-ed4f4b37d088"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"fc93d03b-285b-35a4-ad42-244fae0e01a6","instanceIdentifier":"5d43965f-dc22-3f65-ae0d-7e15ff14efb6","name":"success-update-flow","source":{"id":"3a3513cb-6169-3475-83f8-1f09ef1a02ed","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"UpdateRecord","comments":"","instanceIdentifier":"f074d2b8-d3db-3bdb-88f7-f6f47a32de0a"},"destination":{"id":"d90143ac-15e0-3e3c-ba5e-7e74cf9761ec","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"LookupRecord","comments":"","instanceIdentifier":"782d39b6-eb93-3ee8-8d9e-17f982c9d195"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"7748be76-da1e-3b67-8f0a-1f09c935b7aa","instanceIdentifier":"80d9d62e-05ee-386b-8477-6f2174798797","name":"matched-lookup-flow","source":{"id":"d90143ac-15e0-3e3c-ba5e-7e74cf9761ec","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"LookupRecord","comments":"","instanceIdentifier":"782d39b6-eb93-3ee8-8d9e-17f982c9d195"},"destination":{"id":"5002813b-25ca-3627-9f46-1859e1fbaff7","type":"PROCESSOR","groupId":"11d59173-5490-3362-94bc-7b87d007a270","name":"PublishKafka2RecordCDP","comments":"","instanceIdentifier":"72bab6c7-afc2-3200-9960-90173d8db03f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"}],"labels":[{"identifier":"70b18c9e-107a-317c-983a-6d7358e24d73","instanceIdentifier":"3ce204b8-f46f-3f98-9876-a7025641b99f","position":{"x":1176.0,"y":424.0},"label":"Enable Control Rate by (KB/sec)","zIndex":0,"width":488.0,"height":800.0,"style":{"background-color":"#ffd6d6","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"03b49957-f90e-3a11-ac72-3cab1d0f5ef6","instanceIdentifier":"e21a6688-0188-1000-ffff-ffffe4376c48","position":{"x":168.0,"y":648.0},"label":"Demo Script:\n\n1. Before starting the processes:\nYou need to reset the state of the \"ListS3\" process.\n- Right Click on \"ListS3\"\n- Click \"View State\"\n- Click on \"Clear State\"\n\n2. Start \"Queues Clean Up\" then stop it.\n\n3. Change Rate from the \"ControlRate\" process\n - Simulate ingest rate of 100 KB or  1 MB\n\n4. Enable Controller Services\n\n5. Select All (except Queues Cleanup )processes \nand \"Start\"\n\n\n","zIndex":0,"width":376.0,"height":360.0,"style":{"background-color":"#d6e1ff","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"de318935-9e3a-3b7b-8c7e-21aac7b44049","instanceIdentifier":"1707df5e-5d0f-314e-8894-873981b5d5c0","position":{"x":2184.0,"y":424.0},"label":"Push Enrich Record to Kafka Topic\n(dpi_enriched_cust)","zIndex":0,"width":408.0,"height":800.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"fce50cff-6f74-3756-89eb-c99bc00d835e","instanceIdentifier":"1b9645b2-db5f-3562-984f-356c84301ddc","position":{"x":576.0,"y":424.0},"label":"Fetch Raw DPI Data from source (S3)","zIndex":0,"width":592.0,"height":800.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"9dc116b3-3e68-39bf-a38e-bd450c24004b","instanceIdentifier":"05115233-f5f5-30b5-be21-752db7120fad","position":{"x":1680.0,"y":424.0},"label":"Update and Enrich Records","zIndex":0,"width":496.0,"height":800.0,"style":{"background-color":"#daffd4","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"}],"funnels":[{"identifier":"9e0ea7d2-9cdf-37a3-9bc7-1cfb6fa7f6bc","instanceIdentifier":"08a450c1-1a92-3325-b68e-c61ca3141b72","position":{"x":1736.0,"y":768.0},"componentType":"FUNNEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"ab0c23b1-be46-3076-8655-0ef04ec10748","instanceIdentifier":"bec612d6-944f-39e3-89ca-c39186903f2e","position":{"x":1696.0,"y":1168.0},"componentType":"FUNNEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"f84a31bc-b830-3386-a147-5b96e15c6ed8","instanceIdentifier":"8bfeb3c7-1fec-3e1f-8f74-aab0132d075d","position":{"x":2360.0,"y":544.0},"componentType":"FUNNEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"5039e566-4b5a-3bb8-a094-13b3d78b2988","instanceIdentifier":"bef2165e-33e1-3d05-8bcf-eb92045b3a2a","position":{"x":2360.0,"y":1112.0},"componentType":"FUNNEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"37c6d129-abc4-3516-bf6f-201d32b1848e","instanceIdentifier":"6e642d51-ffc2-3e8a-96a0-9ef955b61a2d","position":{"x":1608.0,"y":768.0},"componentType":"FUNNEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"a8afc1f0-df73-3adc-8d0b-9eb6e7da0a39","instanceIdentifier":"fb835de7-5eec-3e0a-809a-ed4f4b37d088","position":{"x":592.0,"y":928.0},"componentType":"FUNNEL","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"}],"controllerServices":[{"identifier":"84797362-a6b1-35bc-930d-614cf22fc689","instanceIdentifier":"1374e39a-b34f-32ed-b182-74c055700b51","name":"SimpleKeyValueLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"1":"www.facebook.com","2":"www.youtube.com","3":"www.linkedin.com","4":"www.instagram.com","5":"www.emirates.com"},"propertyDescriptors":{"1":{"name":"1","displayName":"1","identifiesControllerService":false,"sensitive":false},"2":{"name":"2","displayName":"2","identifiesControllerService":false,"sensitive":false},"3":{"name":"3","displayName":"3","identifiesControllerService":false,"sensitive":false},"4":{"name":"4","displayName":"4","identifiesControllerService":false,"sensitive":false},"5":{"name":"5","displayName":"5","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"667624ff-840e-3000-aa23-5d84df24da44","instanceIdentifier":"51f54f99-da41-3afe-b010-c584cbb0d3dc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"dpi-enriched-cust","starting-field-strategy":"ROOT_NODE","schema-registry":"263da838-d407-337c-a946-f9752ea7486b","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"13c9dd88-e763-3d97-983d-bd969f7434e0","instanceIdentifier":"e92bb742-1855-3a25-8117-311ae92f514b","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"91e76385-b6a8-1710-0000-00001ebec232"},{"identifier":"f58b8923-254a-3f86-9ff8-4168a616b8f7","instanceIdentifier":"48100eea-f76e-38e5-a342-da5dbf610d57","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"hwx-schema-ref-attributes","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"dpi-enriched-cust","schema-registry":"263da838-d407-337c-a946-f9752ea7486b","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"263da838-d407-337c-a946-f9752ea7486b","instanceIdentifier":"2ea2bb3a-0e61-3135-9000-11ef83c39aca","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":"d3fecf89-795e-31b5-9085-a241498a6556","cache-size":"1000","kerberos-principal":null,"basic-auth-username":"yalyasin","url":"https://cdf-aw-kafka-demo-gateway.go01-dem.ylcu-atmi.cloudera.site/cdf-aw-kafka-demo/cdp-proxy-api/schema-registry/api/v1/"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"11d59173-5490-3362-94bc-7b87d007a270"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"91e76385-b6a8-1710-0000-00001ebec232"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}