NiFi_Stocks-Curration-Analysis/Stocks_Intraday_Alpha_Template.json
{"flowContents":{"identifier":"83142f84-46df-31cf-b2ff-4f97fb00e075","instanceIdentifier":"de764b3b-0187-1000-ffff-ffffcb046cdb","name":"Stocks_Intraday_Alpha_Template","comments":"","position":{"x":1712.0,"y":408.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d729b39e-9c06-34d3-a0ae-9558548b8946","instanceIdentifier":"021cbf4f-87d9-3c33-9aa6-15175994d2ab","name":"ControlRate","comments":"","position":{"x":-64.0,"y":-1032.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0.1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"285d945c-cfaa-3d10-850d-041225498411","instanceIdentifier":"281e366a-0582-3bc8-91bc-ed878e8b38a9","name":"JoltTransformJSON","comments":"","position":{"x":-64.0,"y":-664.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"Meta Data\": {\n        \"1. Information\": \"MetaData.information\",\n        \"2. Symbol\": \"MetaData.symbol\",\n        \"3. Last Refreshed\": \"MetaData.last_refreshed\",\n        \"4. Interval\": \"MetaData.interval\",\n        \"5. Output Size\": \"MetaData.output_size\",\n        \"6. Time Zone\": \"MetaData.time_zone\"\n      },\n      \"Time Series (1min)\": {\n        \"*\": {\n          \"$\": \"TimeSeries.&1.ts\",\n          \"1. open\": \"TimeSeries.&1.open\",\n          \"2. high\": \"TimeSeries.&1.high\",\n          \"3. low\": \"TimeSeries.&1.low\",\n          \"4. close\": \"TimeSeries.&1.close\",\n          \"5. volume\": \"TimeSeries.&1.volume\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"TimeSeries\": {\n        \"*\": {\n          \"*\": \"timeseries.&1.&\",\n          \"@(2,MetaData)\": {\n            \"*\": \"timeseries.&1.&\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"timeseries\": {\n        \"*\": {\n          \"*\": {\n            \"@\": \"[#3].&\"\n          }\n        }\n      }\n    }\n    }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"eb6917bd-9c2a-3b38-a225-720cba1f4be1","instanceIdentifier":"873373cb-df2d-3326-8b66-f96ff4ae6b7b","name":"MergeContent","comments":"","position":{"x":624.0,"y":-1112.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"100"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"06c27bf9-f5c8-33f0-b7fc-5cdb7cac050f","instanceIdentifier":"892bc946-cf92-3c5e-8548-72db8e454cf0","name":"SplitText","comments":"","position":{"x":-64.0,"y":-1480.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"a5f69ccb-0e76-35f9-ac89-ec2548facfae","instanceIdentifier":"76bc221e-8b8c-358c-a0ad-a82baeb72930","name":"SplitJson","comments":"","position":{"x":624.0,"y":-1480.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"4c06067b-4002-3f63-98fc-b09c338199c6","instanceIdentifier":"f560bd5f-80b5-3811-943c-8775923f40bf","name":"PutCDPObjectStore","comments":"","position":{"x":624.0,"y":-744.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.8.2-2"},"properties":{"kerberos-credentials-service":null,"cdp.configuration.resources":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml","Kerberos Password":"#{CDP_Password}","cdp-storage-location":null,"Kerberos Principal":"#{CDP_User}","writing-strategy":"writeAndRename","Directory":"#{S3 Path}/new","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"cdp.configuration.resources":{"name":"cdp.configuration.resources","displayName":"cdp.configuration.resources","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"6869488f-097b-378e-9d6b-fba439bc6880","instanceIdentifier":"5f90ba29-89e8-32e5-809f-c9c05bd5f436","name":"UpdateAttribute","comments":"","position":{"x":624.0,"y":-928.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.${now():format(\"yyyyMMddHHmmss\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"3138087e-e910-3047-96a0-fa2507b21205","instanceIdentifier":"f8430fdf-a936-3610-8361-22279938889e","name":"ConvertRecord","comments":"","position":{"x":624.0,"y":-1296.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"record-writer":"d82914ab-c104-3b29-97d0-4fbad6e05bee","record-reader":"0dd7f2f8-4c59-376d-b5b7-f16faa279c1b","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"14647612-470f-302f-9622-d3f42655ed67","instanceIdentifier":"2031b769-854b-3f9a-b2f1-ccd26d4a4775","name":"InvokeHTTP","comments":"","position":{"x":-64.0,"y":-848.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=${URL}&interval=1min&apikey=#{api_alpha_key}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"1bc163f8-28c8-3831-a36c-aa7fdebe23fe","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"feec107a-26fa-3116-acd7-49f4a96e3482","instanceIdentifier":"4490b470-bb5a-38d8-8f57-5920ca59cb95","name":"UpdateAttribute","comments":"","position":{"x":624.0,"y":-1664.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"avro.schema":"{\n  \"type\": \"record\",\n  \"name\": \"StockIntraday\",\n  \"fields\": [\n    { \"name\": \"symbol\", \"type\": \"string\" },\n    { \"name\": \"last_refreshed\" , \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"interval\", \"type\": \"string\" },\n    { \"name\": \"output_size\", \"type\": \"string\" },\n    { \"name\": \"time_zone\", \"type\": \"string\" },\n    { \"name\": \"ts\", \"type\": { \"type\":\"long\", \"logicalType\":\"timestamp-millis\"} },\n    { \"name\": \"open\", \"type\": \"float\" },\n    { \"name\": \"high\", \"type\": \"float\" },\n    { \"name\": \"low\", \"type\": \"float\" },\n    { \"name\": \"close\", \"type\": \"float\" },\n    { \"name\": \"volume\", \"type\": \"long\" }\n  ]\n} ","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"avro.schema":{"name":"avro.schema","displayName":"avro.schema","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"c0488aef-c269-3ec0-b040-b1b3a5a5ab23","instanceIdentifier":"6e1896bb-17ed-3364-9e3c-7363b153de75","name":"ExtractText","comments":"","position":{"x":-64.0,"y":-1296.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","URL":"(.*)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"URL":{"name":"URL","displayName":"URL","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"e53b19ed-5c5c-3401-b014-979d09c8be75","instanceIdentifier":"e888f7f5-bd57-3396-9416-7ebe26c4151e","name":"List of Stocks","comments":"","position":{"x":-64.0,"y":-1664.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"#{stock_list}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"15 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5a8c5492-8e87-32db-b4e5-f898b66121fe","instanceIdentifier":"54dac823-5d8b-3560-b5b6-16d4436c694d","name":"jolt_input","source":{"id":"14647612-470f-302f-9622-d3f42655ed67","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"InvokeHTTP","comments":"","instanceIdentifier":"2031b769-854b-3f9a-b2f1-ccd26d4a4775"},"destination":{"id":"285d945c-cfaa-3d10-850d-041225498411","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"JoltTransformJSON","comments":"","instanceIdentifier":"281e366a-0582-3bc8-91bc-ed878e8b38a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"efd7261a-873e-3317-8578-0961a9e3307c","instanceIdentifier":"5323480d-9dc3-38e0-b6c3-efaa6488e136","name":"control_rate_input","source":{"id":"c0488aef-c269-3ec0-b040-b1b3a5a5ab23","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ExtractText","comments":"","instanceIdentifier":"6e1896bb-17ed-3364-9e3c-7363b153de75"},"destination":{"id":"d729b39e-9c06-34d3-a0ae-9558548b8946","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ControlRate","comments":"","instanceIdentifier":"021cbf4f-87d9-3c33-9aa6-15175994d2ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"bf46e702-3c61-35b5-804c-9cac20cafeae","instanceIdentifier":"cf15f0ba-3db6-3bc9-8361-91be83590cb7","name":"tick_fetch_queue","source":{"id":"d729b39e-9c06-34d3-a0ae-9558548b8946","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ControlRate","comments":"","instanceIdentifier":"021cbf4f-87d9-3c33-9aa6-15175994d2ab"},"destination":{"id":"14647612-470f-302f-9622-d3f42655ed67","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"InvokeHTTP","comments":"","instanceIdentifier":"2031b769-854b-3f9a-b2f1-ccd26d4a4775"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"f62ce082-71aa-3930-b75b-e5fae0a3db6a","instanceIdentifier":"b773f95f-f958-3749-a217-6ac43d589b01","name":"","source":{"id":"14647612-470f-302f-9622-d3f42655ed67","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"InvokeHTTP","comments":"","instanceIdentifier":"2031b769-854b-3f9a-b2f1-ccd26d4a4775"},"destination":{"id":"dd8cf452-a5c3-357c-8400-18deecccdfb3","type":"FUNNEL","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"Funnel","comments":"","instanceIdentifier":"71bb05a1-539e-3d3b-97fc-ca7a9b51987a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"3b6a2f1f-1b20-3ead-b9c8-744491a1ce9d","instanceIdentifier":"0bdfa8b7-3d5b-3ef8-aafe-022c570607a1","name":"","source":{"id":"d729b39e-9c06-34d3-a0ae-9558548b8946","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ControlRate","comments":"","instanceIdentifier":"021cbf4f-87d9-3c33-9aa6-15175994d2ab"},"destination":{"id":"d729b39e-9c06-34d3-a0ae-9558548b8946","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ControlRate","comments":"","instanceIdentifier":"021cbf4f-87d9-3c33-9aa6-15175994d2ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-232.0,"y":-992.0},{"x":-232.0,"y":-944.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"0c1f288a-818a-3a6b-8a7b-2a5afda4a943","instanceIdentifier":"649e2f24-0a5e-3572-8b62-a567510a649d","name":"merged_content","source":{"id":"eb6917bd-9c2a-3b38-a225-720cba1f4be1","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"MergeContent","comments":"","instanceIdentifier":"873373cb-df2d-3326-8b66-f96ff4ae6b7b"},"destination":{"id":"6869488f-097b-378e-9d6b-fba439bc6880","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"UpdateAttribute","comments":"","instanceIdentifier":"5f90ba29-89e8-32e5-809f-c9c05bd5f436"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"5b19ca29-6489-3732-a5e7-f644c0ce5ab3","instanceIdentifier":"4aa65879-4143-329f-97b0-a0d7893de560","name":"split_data_points","source":{"id":"a5f69ccb-0e76-35f9-ac89-ec2548facfae","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"SplitJson","comments":"","instanceIdentifier":"76bc221e-8b8c-358c-a0ad-a82baeb72930"},"destination":{"id":"3138087e-e910-3047-96a0-fa2507b21205","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ConvertRecord","comments":"","instanceIdentifier":"f8430fdf-a936-3610-8361-22279938889e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"59cf1630-e432-3189-99f0-1ef64e92e731","instanceIdentifier":"720eaec9-1652-3e80-978d-107b2ed008fd","name":"","source":{"id":"eb6917bd-9c2a-3b38-a225-720cba1f4be1","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"MergeContent","comments":"","instanceIdentifier":"873373cb-df2d-3326-8b66-f96ff4ae6b7b"},"destination":{"id":"2a712170-ca08-3a5e-a5e5-365b08d2d7fb","type":"FUNNEL","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"Funnel","comments":"","instanceIdentifier":"299b9c7f-5ffa-3c0c-9782-d44e4b543714"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1145.0546264648438,"y":-1048.0001220703125},{"x":1329.0546264648438,"y":-1048.0001220703125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"ec1a7188-6a71-34e5-a456-5fa9b1e8567e","instanceIdentifier":"b07cf065-66a6-3620-8ebb-bf14d2a83a04","name":"jolted_data_with_schema","source":{"id":"feec107a-26fa-3116-acd7-49f4a96e3482","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"UpdateAttribute","comments":"","instanceIdentifier":"4490b470-bb5a-38d8-8f57-5920ca59cb95"},"destination":{"id":"a5f69ccb-0e76-35f9-ac89-ec2548facfae","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"SplitJson","comments":"","instanceIdentifier":"76bc221e-8b8c-358c-a0ad-a82baeb72930"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"50ccc32c-bb66-35f9-b65f-d7722351d5ad","instanceIdentifier":"9da81d98-e7e4-3d59-93bf-4507e31ec45f","name":"","source":{"id":"4c06067b-4002-3f63-98fc-b09c338199c6","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f560bd5f-80b5-3811-943c-8775923f40bf"},"destination":{"id":"2a712170-ca08-3a5e-a5e5-365b08d2d7fb","type":"FUNNEL","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"Funnel","comments":"","instanceIdentifier":"299b9c7f-5ffa-3c0c-9782-d44e4b543714"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1145.0546264648438,"y":-680.0001220703125},{"x":1329.0546264648438,"y":-680.0001220703125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"b0b428ed-83aa-39a3-a70f-9651d334fe1d","instanceIdentifier":"9e7b4b37-17f4-38af-8cc0-8a8726d62b1e","name":"converted_csv_data","source":{"id":"3138087e-e910-3047-96a0-fa2507b21205","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ConvertRecord","comments":"","instanceIdentifier":"f8430fdf-a936-3610-8361-22279938889e"},"destination":{"id":"eb6917bd-9c2a-3b38-a225-720cba1f4be1","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"MergeContent","comments":"","instanceIdentifier":"873373cb-df2d-3326-8b66-f96ff4ae6b7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"265dba90-9ad5-3ca5-8712-11e9e4fc5385","instanceIdentifier":"dc383435-5cac-3bfc-8f0d-08151b87949d","name":"","source":{"id":"a5f69ccb-0e76-35f9-ac89-ec2548facfae","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"SplitJson","comments":"","instanceIdentifier":"76bc221e-8b8c-358c-a0ad-a82baeb72930"},"destination":{"id":"2a712170-ca08-3a5e-a5e5-365b08d2d7fb","type":"FUNNEL","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"Funnel","comments":"","instanceIdentifier":"299b9c7f-5ffa-3c0c-9782-d44e4b543714"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1145.0546264648438,"y":-1416.0001220703125},{"x":1329.0546264648438,"y":-1416.0001220703125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"582b6d95-3be1-37f6-b5aa-0fafea9e73ce","instanceIdentifier":"a6d480e7-6df6-3fac-890d-b7e128b1e181","name":"jolted_data","source":{"id":"285d945c-cfaa-3d10-850d-041225498411","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"JoltTransformJSON","comments":"","instanceIdentifier":"281e366a-0582-3bc8-91bc-ed878e8b38a9"},"destination":{"id":"feec107a-26fa-3116-acd7-49f4a96e3482","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"UpdateAttribute","comments":"","instanceIdentifier":"4490b470-bb5a-38d8-8f57-5920ca59cb95"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":456.0,"y":-600.0},{"x":456.0,"y":-1136.0},{"x":456.0,"y":-1600.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"eed2f901-8c54-32b2-ad3c-d358d094ce4f","instanceIdentifier":"4b0718a9-9fc0-34f3-9a8a-efce968bb143","name":"","source":{"id":"3138087e-e910-3047-96a0-fa2507b21205","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ConvertRecord","comments":"","instanceIdentifier":"f8430fdf-a936-3610-8361-22279938889e"},"destination":{"id":"2a712170-ca08-3a5e-a5e5-365b08d2d7fb","type":"FUNNEL","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"Funnel","comments":"","instanceIdentifier":"299b9c7f-5ffa-3c0c-9782-d44e4b543714"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1145.0546264648438,"y":-1232.0001220703125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"995a4772-a281-3c79-9a4e-580f440d7433","instanceIdentifier":"2c7f1bb0-33c5-34da-bb92-d4c63598aae2","name":"individual_stocks","source":{"id":"06c27bf9-f5c8-33f0-b7fc-5cdb7cac050f","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"SplitText","comments":"","instanceIdentifier":"892bc946-cf92-3c5e-8548-72db8e454cf0"},"destination":{"id":"c0488aef-c269-3ec0-b040-b1b3a5a5ab23","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"ExtractText","comments":"","instanceIdentifier":"6e1896bb-17ed-3364-9e3c-7363b153de75"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"74d280b0-f5cc-310f-ab02-05d5bf665063","instanceIdentifier":"fe2111a7-f707-3da9-b070-926053cadc83","name":"","source":{"id":"285d945c-cfaa-3d10-850d-041225498411","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"JoltTransformJSON","comments":"","instanceIdentifier":"281e366a-0582-3bc8-91bc-ed878e8b38a9"},"destination":{"id":"dd8cf452-a5c3-357c-8400-18deecccdfb3","type":"FUNNEL","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"Funnel","comments":"","instanceIdentifier":"71bb05a1-539e-3d3b-97fc-ca7a9b51987a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-232.0,"y":-600.0},{"x":-424.0,"y":-600.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"2a4f0d9d-df49-3c88-99d6-f21b515721f2","instanceIdentifier":"3eaea6a5-17c0-3b71-a5c1-b05592178405","name":"list_of_stocks","source":{"id":"e53b19ed-5c5c-3401-b014-979d09c8be75","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"List of Stocks","comments":"","instanceIdentifier":"e888f7f5-bd57-3396-9416-7ebe26c4151e"},"destination":{"id":"06c27bf9-f5c8-33f0-b7fc-5cdb7cac050f","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"SplitText","comments":"","instanceIdentifier":"892bc946-cf92-3c5e-8548-72db8e454cf0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"97fe098f-9213-33db-a655-3c123910e1f7","instanceIdentifier":"11d90154-a6f8-35b8-a6c5-21077c82c9f2","name":"merged_content_with_filename","source":{"id":"6869488f-097b-378e-9d6b-fba439bc6880","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"UpdateAttribute","comments":"","instanceIdentifier":"5f90ba29-89e8-32e5-809f-c9c05bd5f436"},"destination":{"id":"4c06067b-4002-3f63-98fc-b09c338199c6","type":"PROCESSOR","groupId":"83142f84-46df-31cf-b2ff-4f97fb00e075","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f560bd5f-80b5-3811-943c-8775923f40bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"}],"labels":[{"identifier":"949d7cdf-e8a9-39df-8389-5100eb18a76f","instanceIdentifier":"faf3285c-13a5-3bf8-b1c1-13ce4cab4e11","position":{"x":600.0,"y":-1704.0},"label":"Simple transform and load to Object Storage","zIndex":0,"width":400.0,"height":1112.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"5f206808-d201-3b84-b550-24e2523aab2d","instanceIdentifier":"cfc047ed-e23c-3914-86f0-ea4b459b68fb","position":{"x":-88.0,"y":-1704.0},"label":"Prepare list of stocks","zIndex":0,"width":400.0,"height":560.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"0be41b98-4b2d-3f2c-b0d8-2c438edca847","instanceIdentifier":"c4e94717-1216-3447-b4cc-f601383c4af4","position":{"x":-88.0,"y":-1064.0},"label":"Request API from parameters","zIndex":0,"width":400.0,"height":544.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"}],"funnels":[{"identifier":"2a712170-ca08-3a5e-a5e5-365b08d2d7fb","instanceIdentifier":"299b9c7f-5ffa-3c0c-9782-d44e4b543714","position":{"x":1304.0,"y":-1256.0},"componentType":"FUNNEL","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"dd8cf452-a5c3-357c-8400-18deecccdfb3","instanceIdentifier":"71bb05a1-539e-3d3b-97fc-ca7a9b51987a","position":{"x":-448.0,"y":-808.0},"componentType":"FUNNEL","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"}],"controllerServices":[{"identifier":"d82914ab-c104-3b29-97d0-4fbad6e05bee","instanceIdentifier":"c8f0a285-bb37-3803-b3cc-d3574f28cb0e","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"},{"identifier":"1bc163f8-28c8-3831-a36c-aa7fdebe23fe","instanceIdentifier":"de764985-0187-1000-ffff-ffffeb310ed6","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"de764b3b-0187-1000-ffff-ffffcb046cdb"},{"identifier":"0dd7f2f8-4c59-376d-b5b7-f16faa279c1b","instanceIdentifier":"131f3464-3547-32b2-b3cf-161d54cfeff1","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"symbol":"$.symbol","schema-branch":null,"output_size":"$.output_size","time_zone":"$.time_zone","last_refreshed":"$.last_refreshed","Timestamp Format":"yyyy-MM-dd HH:mm:ss","volume":"$.volume","Date Format":null,"high":"$.high","low":"$.low","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"interval":"$.interval","schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"${avro.schema}","close":"$.close","open":"$.open","ts":"$.ts"},"propertyDescriptors":{"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"output_size":{"name":"output_size","displayName":"output_size","identifiesControllerService":false,"sensitive":false},"time_zone":{"name":"time_zone","displayName":"time_zone","identifiesControllerService":false,"sensitive":false},"last_refreshed":{"name":"last_refreshed","displayName":"last_refreshed","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"volume":{"name":"volume","displayName":"volume","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"high":{"name":"high","displayName":"high","identifiesControllerService":false,"sensitive":false},"low":{"name":"low","displayName":"low","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"interval":{"name":"interval","displayName":"interval","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"close":{"name":"close","displayName":"close","identifiesControllerService":false,"sensitive":false},"open":{"name":"open","displayName":"open","identifiesControllerService":false,"sensitive":false},"ts":{"name":"ts","displayName":"ts","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"83142f84-46df-31cf-b2ff-4f97fb00e075"}],"variables":{},"parameterContextName":"Intraday_Stocks_Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Intraday_Stocks_Parameters":{"name":"Intraday_Stocks_Parameters","parameters":[{"name":"CDP_Password","description":"","sensitive":true,"provided":false},{"name":"S3 Path","description":"","sensitive":false,"provided":false,"value":"stocks"},{"name":"S3-Bucket","description":"","sensitive":false,"provided":false,"value":"go01-demo"},{"name":"api_alpha_key","description":"","sensitive":false,"provided":false,"value":"5ZT2FWWL2DIEO5BG"},{"name":"CDP_User","description":"","sensitive":false,"provided":false,"value":"cannayan"},{"name":"stock_list","description":"","sensitive":false,"provided":false,"value":"AWSRETAKE\nAAC\nAMG\nBABA\nSNOW\nIBM\nAMZN\nMSFT\nGOOGL\nTSLA"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}