NiFi_MySQL-to-Hive3/mysql-to-hive.json
{"flowContents":{"identifier":"ada84029-1497-3378-b9c4-4ba812c5baae","instanceIdentifier":"60140b43-0183-1000-0000-00003124f4de","name":"mysql-to-hive","comments":"","position":{"x":4712.0,"y":752.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"df09c069-9b79-369d-86b7-37751782c966","instanceIdentifier":"60147917-0183-1000-0000-0000203145a2","name":"PutHive3Streaming","comments":"","position":{"x":400.0,"y":416.0},"type":"org.apache.nifi.processors.hive.PutHive3Streaming","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"hive3-stream-call-timeout":"0","kerberos-principal":"gsandeepkumar","rollback-on-failure":"false","hive3-stream-metastore-uri":"thrift://metastore-service.warehouse-1657711056-zcgn.svc.cluster.local:9083","hive3-stream-records-per-transaction":"0","kerberos-credentials-service":null,"hive3-stream-part-vals":null,"hive3-config-resources":null,"hive3-stream-table-name":"airlines","record-reader":"b9a7f8e5-b479-312e-9a80-f8bf7d255f99","hive3-stream-transactions-per-batch":"1","hive3-stream-database-name":"airlines","hive3-stream-disable-optimizations":"false"},"propertyDescriptors":{"hive3-stream-call-timeout":{"name":"hive3-stream-call-timeout","displayName":"Call Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive3-stream-metastore-uri":{"name":"hive3-stream-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false},"hive3-stream-records-per-transaction":{"name":"hive3-stream-records-per-transaction","displayName":"Records per Transaction","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"hive3-stream-part-vals":{"name":"hive3-stream-part-vals","displayName":"Static Partition Values","identifiesControllerService":false,"sensitive":false},"hive3-config-resources":{"name":"hive3-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive3-stream-table-name":{"name":"hive3-stream-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"hive3-stream-transactions-per-batch":{"name":"hive3-stream-transactions-per-batch","displayName":"Transactions per Batch","identifiesControllerService":false,"sensitive":false},"hive3-stream-database-name":{"name":"hive3-stream-database-name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"hive3-stream-disable-optimizations":{"name":"hive3-stream-disable-optimizations","displayName":"Disable Streaming Optimizations","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"55cc9d40-24f9-32f7-a220-4b71b8f68160","instanceIdentifier":"6031d73e-0183-1000-ffff-ffff8e17f1e8","name":"GenerateTableFetch","comments":"","position":{"x":856.0,"y":16.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"${db.table.name}","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"779ead02-1c58-3bfa-8152-9343a5465351","gen-table-fetch-partition-size":"10000","Columns to Return":null,"Maximum-value Columns":null,"db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"57fc5815-18e1-3df9-b55f-e919e87869db","instanceIdentifier":"6014472e-0183-1000-0000-000007a632db","name":"ListDatabaseTables","comments":"","position":{"x":208.0,"y":24.0},"type":"org.apache.nifi.processors.standard.ListDatabaseTables","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"list-db-tables-db-connection":"779ead02-1c58-3bfa-8152-9343a5465351","list-db-refresh-interval":"0 sec","list-db-tables-catalog":null,"record-writer":null,"list-db-include-count":"false","list-db-tables-name-pattern":"airlines","list-db-tables-schema-pattern":null,"list-db-tables-types":"TABLE"},"propertyDescriptors":{"list-db-tables-db-connection":{"name":"list-db-tables-db-connection","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"list-db-refresh-interval":{"name":"list-db-refresh-interval","displayName":"Refresh Interval","identifiesControllerService":false,"sensitive":false},"list-db-tables-catalog":{"name":"list-db-tables-catalog","displayName":"Catalog","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"list-db-include-count":{"name":"list-db-include-count","displayName":"Include Count","identifiesControllerService":false,"sensitive":false},"list-db-tables-name-pattern":{"name":"list-db-tables-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-schema-pattern":{"name":"list-db-tables-schema-pattern","displayName":"Schema Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-types":{"name":"list-db-tables-types","displayName":"Table Types","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"97ce8510-4db0-3316-98a8-0781750eeff1","instanceIdentifier":"60356f7d-0183-1000-ffff-fffffda2ec5d","name":"ExecuteSQL","comments":"","position":{"x":952.0,"y":200.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"779ead02-1c58-3bfa-8152-9343a5465351","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6b1b5e2d-ab75-3246-ac96-f018b63efd79","instanceIdentifier":"60328201-0183-1000-0000-00001d958fe7","name":"","source":{"id":"55cc9d40-24f9-32f7-a220-4b71b8f68160","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"GenerateTableFetch","comments":"","instanceIdentifier":"6031d73e-0183-1000-ffff-ffff8e17f1e8"},"destination":{"id":"55cc9d40-24f9-32f7-a220-4b71b8f68160","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"GenerateTableFetch","comments":"","instanceIdentifier":"6031d73e-0183-1000-ffff-ffff8e17f1e8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1325.0,"y":55.0},{"x":1325.0,"y":105.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"770b6e96-40ec-3ab7-a8df-07f71f2a00ed","instanceIdentifier":"60149362-0183-1000-0000-0000419292be","name":"","source":{"id":"57fc5815-18e1-3df9-b55f-e919e87869db","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"ListDatabaseTables","comments":"","instanceIdentifier":"6014472e-0183-1000-0000-000007a632db"},"destination":{"id":"55cc9d40-24f9-32f7-a220-4b71b8f68160","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"GenerateTableFetch","comments":"","instanceIdentifier":"6031d73e-0183-1000-ffff-ffff8e17f1e8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"937fb93c-aafa-359d-b1aa-9eced6cac81a","instanceIdentifier":"6014baf8-0183-1000-0000-00002a7dee43","name":"","source":{"id":"df09c069-9b79-369d-86b7-37751782c966","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"PutHive3Streaming","comments":"","instanceIdentifier":"60147917-0183-1000-0000-0000203145a2"},"destination":{"id":"df09c069-9b79-369d-86b7-37751782c966","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"PutHive3Streaming","comments":"","instanceIdentifier":"60147917-0183-1000-0000-0000203145a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":866.0,"y":455.0},{"x":866.0,"y":505.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"4b6c1b56-f909-3550-9290-f44fd743ed00","instanceIdentifier":"60326f2a-0183-1000-ffff-ffffe17bde83","name":"","source":{"id":"55cc9d40-24f9-32f7-a220-4b71b8f68160","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"GenerateTableFetch","comments":"","instanceIdentifier":"6031d73e-0183-1000-ffff-ffff8e17f1e8"},"destination":{"id":"97ce8510-4db0-3316-98a8-0781750eeff1","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"ExecuteSQL","comments":"","instanceIdentifier":"60356f7d-0183-1000-ffff-fffffda2ec5d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"0b5bab39-6f2e-3b07-9879-2cbacd78a45b","instanceIdentifier":"6035a684-0183-1000-0000-0000385d0723","name":"","source":{"id":"97ce8510-4db0-3316-98a8-0781750eeff1","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"ExecuteSQL","comments":"","instanceIdentifier":"60356f7d-0183-1000-ffff-fffffda2ec5d"},"destination":{"id":"97ce8510-4db0-3316-98a8-0781750eeff1","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"ExecuteSQL","comments":"","instanceIdentifier":"60356f7d-0183-1000-ffff-fffffda2ec5d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1421.0,"y":239.0},{"x":1421.0,"y":289.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"8ff94fbb-45d2-3ccc-8e47-b0c6ee8334e6","instanceIdentifier":"603594d9-0183-1000-ffff-ffff9972a816","name":"","source":{"id":"97ce8510-4db0-3316-98a8-0781750eeff1","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"ExecuteSQL","comments":"","instanceIdentifier":"60356f7d-0183-1000-ffff-fffffda2ec5d"},"destination":{"id":"df09c069-9b79-369d-86b7-37751782c966","type":"PROCESSOR","groupId":"ada84029-1497-3378-b9c4-4ba812c5baae","name":"PutHive3Streaming","comments":"","instanceIdentifier":"60147917-0183-1000-0000-0000203145a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"60140b43-0183-1000-0000-00003124f4de"},{"identifier":"b9a7f8e5-b479-312e-9a80-f8bf7d255f99","instanceIdentifier":"6020d09e-0183-1000-0000-0000129a09c1","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"779ead02-1c58-3bfa-8152-9343a5465351","instanceIdentifier":"60175328-0183-1000-ffff-ffffc2df71dc","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{db_host}:#{db_port}/#{db_name}","dbcp-time-between-eviction-runs":"-1","Database User":"#{db_user}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{driver_location}","dbcp-max-idle-conns":"8","Password":"#{db_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"},{"identifier":"9f6215ed-928e-3685-886b-ed6c6f45ce48","instanceIdentifier":"602bfcdb-0183-1000-ffff-ffff94802075","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ada84029-1497-3378-b9c4-4ba812c5baae"}],"variables":{},"parameterContextName":"mysql-to-hive","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"mysql-to-hive":{"name":"mysql-to-hive","parameters":[{"name":"db_user","description":"","sensitive":false,"provided":false,"value":"postgres"},{"name":"db_name","description":"","sensitive":false,"provided":false,"value":"airlines"},{"name":"cdp_password","description":"","sensitive":true,"provided":false},{"name":"driver_location","description":"","sensitive":false,"provided":false,"value":"/tmp/jdbc/postgresql-42.2.26.jre6.jar"},{"name":"db_port","description":"","sensitive":false,"provided":false,"value":"5432"},{"name":"db_password","description":"","sensitive":true,"provided":false},{"name":"db_host","description":"","sensitive":false,"provided":false,"value":"airlines-db-cdp-one.c6kidvvxajb5.us-east-1.rds.amazonaws.com"},{"name":"cdp_username","description":"","sensitive":false,"provided":false,"value":"gsandeepkumar"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}