NiFi_Facebook-Data-Processing/Facebook_Data_Processing.json
{"flowContents":{"identifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","instanceIdentifier":"3ea54fc9-0184-1000-ffff-ffffd817abb0","name":"Facebook Data Processing","comments":"Author: Nasheb Ismaily","position":{"x":5000.0,"y":-216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1cc9836d-4e1e-35ee-938a-a43aad7b4686","instanceIdentifier":"980333d6-01a6-1bdf-88e7-523c22e26548","name":"Add package ID","comments":"","position":{"x":2232.0,"y":2008.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","/packageID":"${package.id}","record-reader":"b1456a5b-46fd-3159-9c96-050ab27440e2","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/packageID":{"name":"/packageID","displayName":"/packageID","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"1357fc14-6951-3822-a05f-9427640bfcfe","instanceIdentifier":"b7ac3373-9c45-1d59-9d65-66a026f5189b","name":"Parse JSON","comments":"","position":{"x":-312.0,"y":968.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.last_location_v2"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"ab2caf89-27b5-310b-8cd0-b500b0e80e5d","instanceIdentifier":"a8763c80-8417-1287-bc65-585d9cf85f1b","name":"Update File Name","comments":"","position":{"x":-1304.0,"y":1408.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBefore('.')}-${package.id}-${timestamp}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","processed.data.dir":"demos/cgsi/facebook/results","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"processed.data.dir":{"name":"processed.data.dir","displayName":"processed.data.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"2fee273d-a9b4-398c-83e9-e8af658da90f","instanceIdentifier":"950c37a8-bd09-1dd8-9533-91ecabb74c7d","name":"Parse JSON","comments":"","position":{"x":1024.0,"y":976.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"8df33e3c-d25a-3931-bec3-fc5536a9d4ed","instanceIdentifier":"02303597-235c-170a-b03c-8e6276439589","name":"Flatten Arrays","comments":"","position":{"x":2216.0,"y":1640.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"from java.nio.charset import StandardCharsets\nfrom org.apache.commons.io import IOUtils\nfrom org.apache.nifi.processor.io import StreamCallback\nimport json\nfrom collections import OrderedDict\n\nclass PyOutputStreamCallback(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n\n        input_text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        data = json.loads(input_text, object_pairs_hook=OrderedDict)\n\n        values_as_list = []\n        keys_to_remove = []\n        for key in data:\n            od = OrderedDict()\n            value = data[key]\n            if type(value) is list and value and isinstance(value[0], dict):\n                keys_to_remove.append(key)\n                for item in value:\n                    for k in item:\n                        kval = item[k]\n                        if type(kval) is list and kval and isinstance(kval[0], dict):\n                            for i in kval:\n                                for j in i:\n                                    jval = i[j]\n                                    if type(jval) is list and jval and isinstance(jval[0], dict):\n                                        for l in jval:\n                                            for m in l:\n                                                full_key = key + \".\" + m\n                                                if full_key in od.keys():\n                                                    current_val = od[full_key]\n                                                    od[full_key] = current_val + \",\" + str(l[m])\n                                                else:\n                                                    od[full_key] = str(l[m])\n                                    else:\n                                        full_key = key + \".\" + j\n                                        if full_key in od.keys():\n                                            current_val = od[full_key]\n                                            od[full_key] = current_val + \",\" + str(i[j])\n                                        else:\n                                            od[full_key] = str(i[j])\n                        else:\n                            full_key = key + \".\" + k\n                            if full_key in od.keys():\n                                current_val = od[full_key]\n                                od[full_key] = current_val + \",\" + str(item[k])\n                            else:\n                                od[full_key] = str(item[k])\n                values_as_list.append(od)\n\n        for kv in keys_to_remove:\n            del data[kv]\n\n        for v in values_as_list:\n            for k in v:\n                new_value = list(v[k].split(\",\"))\n                if type(new_value) is list and len(new_value) == 1:\n                    new_value = new_value[0]\n                data[k] = new_value\n\n        outputStream.write(bytearray(json.dumps(data).encode('utf-8')))\n\nflowFile = session.get()\nif flowFile != None:\n    caller = PyOutputStreamCallback()\n    flowFile = session.write(flowFile, caller)\n\n# Finish by transferring the FlowFile to an output relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"11ac7ba8-8f6a-3bed-a911-bae6ddd65b16","instanceIdentifier":"111137e1-46de-1ad7-bfd7-b8b4a3d3cad3","name":"FlattenJson","comments":"","position":{"x":2208.0,"y":1456.0},"type":"org.apache.nifi.processors.standard.FlattenJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-reserved-characters":"false","flatten-mode":"keep arrays","flatten-json-separator":".","flatten-json-pretty-print-json":"false","flatten-json-return-type":"flatten","flatten-json-character-set":"UTF-8"},"propertyDescriptors":{"ignore-reserved-characters":{"name":"ignore-reserved-characters","displayName":"Ignore Reserved Characters","identifiesControllerService":false,"sensitive":false},"flatten-mode":{"name":"flatten-mode","displayName":"Flatten Mode","identifiesControllerService":false,"sensitive":false},"flatten-json-separator":{"name":"flatten-json-separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false},"flatten-json-pretty-print-json":{"name":"flatten-json-pretty-print-json","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"flatten-json-return-type":{"name":"flatten-json-return-type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"flatten-json-character-set":{"name":"flatten-json-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"03131fbe-c436-3825-b534-ebb082c6d968","instanceIdentifier":"dffa3c0c-b26a-1f15-beb4-29784e225f80","name":"MergeRecord","comments":"","position":{"x":-312.0,"y":1392.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"max-bin-age":null,"correlation-attribute-name":"filename","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","merge-strategy":"Bin-Packing Algorithm","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","max-records":"1000","min-bin-size":"0 B","max.bin.count":"1"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"f20adc66-3606-32d6-adc3-e944fddfeba4","instanceIdentifier":"75d83ae7-17df-16a5-b2ae-714f2d18e27b","name":"Update File Name","comments":"","position":{"x":328.0,"y":1968.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBefore('.')}-${package.id}-${timestamp}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","processed.data.dir":"demos/cgsi/facebook/results","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"processed.data.dir":{"name":"processed.data.dir","displayName":"processed.data.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"c4818df6-cb10-3cae-9f24-5f2c8dd98caa","instanceIdentifier":"76ce9eac-0184-1000-0000-000009cf75d7","name":"DeleteCDPObjectStore","comments":"","position":{"x":-512.0,"y":2672.0},"type":"org.apache.nifi.processors.hadoop.DeleteCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{CDP Password}","file_or_directory":"/demos/cgsi/facebook","cdp-storage-location":null,"Kerberos Principal":"#{CDP Username}"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"file_or_directory":{"name":"file_or_directory","displayName":"Path","identifiesControllerService":false,"sensitive":false},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"35c2255a-9196-320b-96ae-6256a2622ddb","instanceIdentifier":"03ce359c-9c8d-1dfa-9f34-a922d010e06b","name":"SplitJson","comments":"","position":{"x":1792.0,"y":1448.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.post_words_v2"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7f9c4399-5a7f-38ea-aef9-7fa1b7f0389f","instanceIdentifier":"62f7cfeb-0184-1000-ffff-ffffe0bcf03d","name":"PutCDPObjectStore","comments":"","position":{"x":304.0,"y":2688.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{CDP Password}","cdp-storage-location":null,"Kerberos Principal":"#{CDP Username}","writing-strategy":"simpleWrite","Directory":"/${processed.data.dir}/${path:substringAfterLast('/')}/${filename:substringBefore('-')}/${filename}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"5a5e8a4d-162e-3ab7-a8cc-b515150be518","instanceIdentifier":"5f7c3539-9e43-19f3-95e0-d2b02b7910ae","name":"RouteOnAttribute","comments":"","position":{"x":1896.0,"y":936.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"image":"${filename:substringAfterLast('.'):equals('jpg'):or(${filename:substringAfterLast('.'):equals('png')})}","Routing Strategy":"Route to Property name","your.posts":"${filename:equals('your_posts_1.json')}","post.words":"${filename:equals('post_words.json')}"},"propertyDescriptors":{"image":{"name":"image","displayName":"image","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"your.posts":{"name":"your.posts","displayName":"your.posts","identifiesControllerService":false,"sensitive":false},"post.words":{"name":"post.words","displayName":"post.words","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"15fd2b29-8366-30eb-9329-176495927f5d","instanceIdentifier":"de62307b-d8e5-1da0-8791-9ae06f8ad047","name":"Update File Name","comments":"","position":{"x":-728.0,"y":1560.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBefore('.')}-${package.id}-${timestamp}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","processed.data.dir":"demos/cgsi/facebook/results","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"processed.data.dir":{"name":"processed.data.dir","displayName":"processed.data.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"67e6796c-25bb-3968-8060-cf0abdfef59f","instanceIdentifier":"0f1b3bfa-2024-10a6-b3af-56de48d1f892","name":"FlattenJson","comments":"","position":{"x":-736.0,"y":728.0},"type":"org.apache.nifi.processors.standard.FlattenJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-reserved-characters":"false","flatten-mode":"keep arrays","flatten-json-separator":".","flatten-json-pretty-print-json":"false","flatten-json-return-type":"flatten","flatten-json-character-set":"UTF-8"},"propertyDescriptors":{"ignore-reserved-characters":{"name":"ignore-reserved-characters","displayName":"Ignore Reserved Characters","identifiesControllerService":false,"sensitive":false},"flatten-mode":{"name":"flatten-mode","displayName":"Flatten Mode","identifiesControllerService":false,"sensitive":false},"flatten-json-separator":{"name":"flatten-json-separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false},"flatten-json-pretty-print-json":{"name":"flatten-json-pretty-print-json","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"flatten-json-return-type":{"name":"flatten-json-return-type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"flatten-json-character-set":{"name":"flatten-json-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"9e403946-eccf-3ad6-8a4c-c2a8fc05748c","instanceIdentifier":"038432bb-29fe-1f00-8c46-17a83cac6df4","name":"Add package ID","comments":"","position":{"x":-736.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","/packageID":"${package.id}","record-reader":"b1456a5b-46fd-3159-9c96-050ab27440e2","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/packageID":{"name":"/packageID","displayName":"/packageID","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7387e3b0-6483-3588-b273-06cce02b692a","instanceIdentifier":"f6683fc5-945c-1205-a959-831f3f518c1e","name":"Add package ID","comments":"","position":{"x":328.0,"y":1768.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","/packageID":"${package.id}","record-reader":"b1456a5b-46fd-3159-9c96-050ab27440e2","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/packageID":{"name":"/packageID","displayName":"/packageID","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"5e45cceb-5e70-31c0-9f59-a1086df47303","instanceIdentifier":"8803bef4-80a8-19cc-ffff-ffffbad50dd8","name":"PutS3Object","comments":"","position":{"x":664.0,"y":2512.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"mdcfb","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"e0a45ac4-85a4-3c2f-9fbb-a90083cb4a96","instanceIdentifier":"08ca3793-5be2-199a-bcac-c0c8368d946d","name":"Add package ID","comments":"","position":{"x":1032.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","/packageID":"${package.id}","record-reader":"b1456a5b-46fd-3159-9c96-050ab27440e2","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/packageID":{"name":"/packageID","displayName":"/packageID","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254","name":"Route on Facebook Folder","comments":"","position":{"x":288.0,"y":336.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"facebook.security.login.information":"${path:contains('security_and_login_information')}","facebook.profile.information":"${path:contains('profile_information')}","facebook.friends.followers":"${path:contains('friends_and_followers')}","Routing Strategy":"Route to Property name","facebook.location":"${path:contains('location')}","facebook.posts":"${path:contains('posts')}"},"propertyDescriptors":{"facebook.security.login.information":{"name":"facebook.security.login.information","displayName":"facebook.security.login.information","identifiesControllerService":false,"sensitive":false},"facebook.profile.information":{"name":"facebook.profile.information","displayName":"facebook.profile.information","identifiesControllerService":false,"sensitive":false},"facebook.friends.followers":{"name":"facebook.friends.followers","displayName":"facebook.friends.followers","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"facebook.location":{"name":"facebook.location","displayName":"facebook.location","identifiesControllerService":false,"sensitive":false},"facebook.posts":{"name":"facebook.posts","displayName":"facebook.posts","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"bd0b4f9f-bb5c-335e-b6b1-7cc983137648","instanceIdentifier":"60ab3c8d-eac2-1487-a5c7-fb31d697c5a2","name":"ReplaceText","comments":"","position":{"x":592.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n\"city\" : \"${fb.city}\",\n\"state\" : \"${fb.state}\",\n\"zipcode\" : \"${fb.zipcode}\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"60ab099c-aaf5-33a2-9dbd-40588d76af74","instanceIdentifier":"f51b35e9-fa9b-1e74-8483-c6cf2507a054","name":"MergeRecord","comments":"","position":{"x":1792.0,"y":1816.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"max-bin-age":null,"correlation-attribute-name":"filename","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","merge-strategy":"Bin-Packing Algorithm","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","max-records":"1000","min-bin-size":"0 B","max.bin.count":"2"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"26baf411-e275-39fc-9feb-9323fb70b04f","instanceIdentifier":"92e138b0-a61c-1762-89ca-849bb658c339","name":"ListS3","comments":"","position":{"x":296.0,"y":-656.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","Access Key":"#{S3 Access Key}","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{S3 Secret Key}","min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{Facebook Package S3 Bucket}","Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"1b29b74d-6520-34fb-8c57-8226cd16707f","instanceIdentifier":"1c5e3527-b7ee-1857-9261-370708ac8d8c","name":"Parse JSON","comments":"","position":{"x":96.0,"y":1192.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7c193625-751f-354d-ab3c-7b6cde01809d","instanceIdentifier":"d7ed39e8-e3fa-1f1a-be5c-74b14ab3da59","name":"Add package ID","comments":"","position":{"x":-1288.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","/packageID":"${package.id}","record-reader":"b1456a5b-46fd-3159-9c96-050ab27440e2","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/packageID":{"name":"/packageID","displayName":"/packageID","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"e2d3cf77-0828-31e1-b51f-cd7acaf37284","instanceIdentifier":"08ce33fa-f7c7-19ec-aca0-0a82343e417f","name":"FetchS3Object","comments":"","position":{"x":312.0,"y":-392.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{S3 Access Key}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"#{Facebook Package S3 Bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-east-1","Secret Key":"#{S3 Secret Key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"93965855-bb87-3a81-a4e2-e149b0a931d3","instanceIdentifier":"b372339c-6220-1401-bbfd-89f36579798e","name":"MergeRecord","comments":"","position":{"x":1032.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"max-bin-age":null,"correlation-attribute-name":"filename","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","merge-strategy":"Bin-Packing Algorithm","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","max-records":"1000","min-bin-size":"0 B","max.bin.count":"8"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"15d4518d-9de5-373b-9a2c-cd7a7aa03d27","instanceIdentifier":"535fb3aa-0184-1000-0000-00000a568392","name":"Create Package ID","comments":"","position":{"x":296.0,"y":-112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"package.id":"${UUID()}","timestamp":"${now():toNumber()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"package.id":{"name":"package.id","displayName":"package.id","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"be393ec7-e02e-3f9d-b0e5-a3b563c04e27","instanceIdentifier":"e511b04c-c1d7-3207-974f-b9afe095ad8b","name":"UnpackContent","comments":"","position":{"x":288.0,"y":128.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Packaging Format":"zip","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"322d32c0-8ebf-3e8d-9730-6a80a52a9be0","instanceIdentifier":"41e63fdd-78b4-1518-93eb-7e6a86efb33b","name":"ConvertRecord","comments":"","position":{"x":320.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"821636af-fae4-3828-bff3-1be780d6298d","instanceIdentifier":"444f3458-29cc-1c50-a25e-52760a5b40b1","name":"Flatten Arrays","comments":"","position":{"x":-736.0,"y":968.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"from java.nio.charset import StandardCharsets\nfrom org.apache.commons.io import IOUtils\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.python.core.util import StringUtil\nimport json\nfrom collections import OrderedDict\n\nclass PyOutputStreamCallback(StreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, inputStream, outputStream):\n\n        input_text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        data = json.loads(input_text, object_pairs_hook=OrderedDict)\n\n        values_as_list = []\n        keys_to_remove = []\n        for key in data:\n            od = OrderedDict()\n            value = data[key]\n            if type(value) is list and value and isinstance(value[0], dict):\n                keys_to_remove.append(key)\n                print(str(key) + \" \" + str(data[key]))\n                for item in value:\n                    # print(item)\n                    for k in item:\n                        full_key = key + \".\" + k\n                        current_val = \"\"\n                        if full_key in od.keys():\n                            current_val = od[full_key]\n                            print(\"cv\" + full_key)\n                            od[full_key] = current_val + \",\" + str(item[k])\n                        else:\n                            od[full_key] = str(item[k])\n                        print(full_key)\n                values_as_list.append(od)\n\n        for kv in keys_to_remove:\n            del data[kv]\n\n        for v in values_as_list:\n            for k in v:\n                new_value = list(v[k].split(\",\"))\n                if type(new_value) is list and len(new_value) == 1:\n                    new_value = new_value[0]\n                data[k] = new_value\n\n        outputStream.write(bytearray(json.dumps(data).encode('utf-8')))\n\nflowFile = session.get()\nif flowFile != None:\n    caller = PyOutputStreamCallback()\n    flowFile = session.write(flowFile, caller)\n\n# Finish by transferring the FlowFile to an output relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"0db893ea-dd21-3cc7-84c5-2a95391a4c25","instanceIdentifier":"eca43668-7537-1875-ffff-ffff8eaea729","name":"MDC-ListS3","comments":"","position":{"x":808.0,"y":-648.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"mchisam-demo-bucket","Communications Timeout":"30 secs","Region":"us-east-1","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7207fcf9-6966-3e55-83b4-433bf3c46d2a","instanceIdentifier":"baf834c9-855c-1532-b4ab-de0522f4c64f","name":"ConvertRecord","comments":"","position":{"x":-736.0,"y":1168.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"8f275507-8119-3643-ab9d-ba5894ec093f","instanceIdentifier":"b11537e2-4393-1ee8-a2af-81e160c94119","name":"Update File Name","comments":"","position":{"x":1016.0,"y":1640.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBefore('.'):replaceAll(\"'\",\"\")}-${package.id}-${timestamp}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","processed.data.dir":"demos/cgsi/facebook/results","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"processed.data.dir":{"name":"processed.data.dir","displayName":"processed.data.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7f5388da-7c10-3293-b75d-b08485b2716a","instanceIdentifier":"2f8e3de1-f258-1c66-81dc-bd27805ab57e","name":"Update File Name","comments":"","position":{"x":1440.0,"y":1664.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBefore('.')}-${package.id}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","processed.data.dir":"demos/cgsi/facebook/images","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"processed.data.dir":{"name":"processed.data.dir","displayName":"processed.data.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7513fcc4-ab1e-3e64-a600-dcf39ce059eb","instanceIdentifier":"861c3061-079b-1dbf-8dfc-1bcd6f0179f2","name":"EvaluateJsonPath","comments":"","position":{"x":616.0,"y":968.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"fb.city":"$.primary_location_v2.city_region_pairs[0][0]","Destination":"flowfile-attribute","fb.zipcode":"$.primary_location_v2.zipcode[0]","Return Type":"auto-detect","Null Value Representation":"empty string","fb.state":"$.primary_location_v2.city_region_pairs[0][1]","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"fb.city":{"name":"fb.city","displayName":"fb.city","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"fb.zipcode":{"name":"fb.zipcode","displayName":"fb.zipcode","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"fb.state":{"name":"fb.state","displayName":"fb.state","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"90313263-800d-36d0-81b0-4f31e4b2edf8","instanceIdentifier":"ca193d7f-a1e4-1ced-b699-eac3fac2fd11","name":"Parse JSON","comments":"","position":{"x":-1296.0,"y":736.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"2c57306d-84f1-352d-b38d-c534a53ffd4f","instanceIdentifier":"5ae83eeb-ad1d-1c5e-9d69-a0fa4e5dd781","name":"ConvertRecord","comments":"","position":{"x":2224.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"9c43c36e-a575-3559-93c4-b67e550ef01b","instanceIdentifier":"f15a360e-36a6-1955-9c0c-923f9934bafb","name":"Update File Name","comments":"","position":{"x":1560.0,"y":2000.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBefore('.')}-${package.id}-${timestamp}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","processed.data.dir":"demos/cgsi/facebook/results","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"processed.data.dir":{"name":"processed.data.dir","displayName":"processed.data.dir","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"d9e9a7f9-724f-3093-86ed-05a9eb0c16ce","instanceIdentifier":"4a5a3b48-eef2-1a2f-9ea1-9ec87f01cab2","name":"FlattenJson","comments":"","position":{"x":-320.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.FlattenJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-reserved-characters":"false","flatten-mode":"normal","flatten-json-separator":".","flatten-json-pretty-print-json":"false","flatten-json-return-type":"flatten","flatten-json-character-set":"UTF-8"},"propertyDescriptors":{"ignore-reserved-characters":{"name":"ignore-reserved-characters","displayName":"Ignore Reserved Characters","identifiesControllerService":false,"sensitive":false},"flatten-mode":{"name":"flatten-mode","displayName":"Flatten Mode","identifiesControllerService":false,"sensitive":false},"flatten-json-separator":{"name":"flatten-json-separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false},"flatten-json-pretty-print-json":{"name":"flatten-json-pretty-print-json","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"flatten-json-return-type":{"name":"flatten-json-return-type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"flatten-json-character-set":{"name":"flatten-json-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"1d58d906-cca4-3b3b-91c9-2e3d589957b0","instanceIdentifier":"d1063c9f-2b01-17d4-bcf7-0d58334c2e02","name":"MergeRecord","comments":"","position":{"x":-1288.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"max-bin-age":null,"correlation-attribute-name":"filename","Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","merge-strategy":"Bin-Packing Algorithm","record-reader":"f711b8a5-7773-39a1-bfba-f07dc816f389","max-records":"1000","min-bin-size":"0 B","max.bin.count":"6"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"33883d4a-cd0f-3aa2-a87b-a92b38d715b5","instanceIdentifier":"176d3835-f962-1886-9ae7-7a6728f21cf8","name":"SplitJson","comments":"","position":{"x":2208.0,"y":1248.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"758d5afa-4def-35f9-bacb-1c8fee582a66","instanceIdentifier":"02b43ca3-be7f-10df-bbbe-0803d7038e2a","name":"RouteOnAttribute","comments":"","position":{"x":288.0,"y":656.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"fb.device.location":"${filename:equals('device_location.json')}","Routing Strategy":"Route to Property name","fb.pirmary.location":"${filename:equals('primary_location.json')}","fb.last.location":"${filename:equals('last_location.json')}","fb.timezones":"${filename:equals('timezone.json')}"},"propertyDescriptors":{"fb.device.location":{"name":"fb.device.location","displayName":"fb.device.location","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"fb.pirmary.location":{"name":"fb.pirmary.location","displayName":"fb.pirmary.location","identifiesControllerService":false,"sensitive":false},"fb.last.location":{"name":"fb.last.location","displayName":"fb.last.location","identifiesControllerService":false,"sensitive":false},"fb.timezones":{"name":"fb.timezones","displayName":"fb.timezones","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7fbd58dc-5d76-3696-92e9-b0642580f4f4","instanceIdentifier":"ce700bd1-0184-1000-ffff-ffff864de493","name":"","source":{"id":"15fd2b29-8366-30eb-9329-176495927f5d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"de62307b-d8e5-1da0-8791-9ae06f8ad047"},"destination":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"eed27244-3875-3687-8200-8ec818aadd9e","instanceIdentifier":"e0f13325-e913-1d8a-8660-11097daa14da","name":"","source":{"id":"7207fcf9-6966-3e55-83b4-433bf3c46d2a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"baf834c9-855c-1532-b4ab-de0522f4c64f"},"destination":{"id":"9e403946-eccf-3ad6-8a4c-c2a8fc05748c","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"038432bb-29fe-1f00-8c46-17a83cac6df4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"703db89a-7e3b-3a2e-97e3-30794eacf346","instanceIdentifier":"31fc3552-a7f8-1d91-a889-3ffe3a8a6400","name":"","source":{"id":"758d5afa-4def-35f9-bacb-1c8fee582a66","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"02b43ca3-be7f-10df-bbbe-0803d7038e2a"},"destination":{"id":"322d32c0-8ebf-3e8d-9730-6a80a52a9be0","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"41e63fdd-78b4-1518-93eb-7e6a86efb33b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fb.timezones"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"9edc63f6-8e27-3811-a1bd-bd62e90be540","instanceIdentifier":"a31d36e5-17b7-1bd9-a7c3-376c45ab0569","name":"","source":{"id":"93965855-bb87-3a81-a4e2-e149b0a931d3","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"b372339c-6220-1401-bbfd-89f36579798e"},"destination":{"id":"e0a45ac4-85a4-3c2f-9fbb-a90083cb4a96","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"08ca3793-5be2-199a-bcac-c0c8368d946d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"d8b97769-35e4-36b3-8277-b1ed72a1f78b","instanceIdentifier":"bf8b31a9-a064-168d-9c69-dbd3d8538618","name":"","source":{"id":"90313263-800d-36d0-81b0-4f31e4b2edf8","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"ca193d7f-a1e4-1ced-b699-eac3fac2fd11"},"destination":{"id":"1d58d906-cca4-3b3b-91c9-2e3d589957b0","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"d1063c9f-2b01-17d4-bcf7-0d58334c2e02"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"2049d710-0261-3ab0-a8f6-fc8d16c5911a","instanceIdentifier":"38ff36b1-8394-18c0-9ffe-a6c1b780b843","name":"","source":{"id":"7c193625-751f-354d-ab3c-7b6cde01809d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"d7ed39e8-e3fa-1f1a-be5c-74b14ab3da59"},"destination":{"id":"ab2caf89-27b5-310b-8cd0-b500b0e80e5d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"a8763c80-8417-1287-bc65-585d9cf85f1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"0d185ba0-b289-3001-8a7a-59cd793a01e4","instanceIdentifier":"6d333a5d-b8d8-1e8f-0000-0000320a5383","name":"","source":{"id":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Route on Facebook Folder","comments":"","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254"},"destination":{"id":"5a5e8a4d-162e-3ab7-a8cc-b515150be518","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5f7c3539-9e43-19f3-95e0-d2b02b7910ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["facebook.posts"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"89f96595-23d1-30f7-9d9c-14b51f22ba53","instanceIdentifier":"6d333a6e-b8d8-1e8f-0000-0000285a453d","name":"","source":{"id":"7f5388da-7c10-3293-b75d-b08485b2716a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"2f8e3de1-f258-1c66-81dc-bd27805ab57e"},"destination":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"61089df5-a5ec-32ca-aa76-e455a8072a28","instanceIdentifier":"ce71581d-0184-1000-0000-00004eddeeb1","name":"","source":{"id":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Route on Facebook Folder","comments":"","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254"},"destination":{"id":"758d5afa-4def-35f9-bacb-1c8fee582a66","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"02b43ca3-be7f-10df-bbbe-0803d7038e2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["facebook.location"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"c7308f33-5938-35d7-b6fd-d66cafd3663d","instanceIdentifier":"e4e739f6-cc87-13ae-9f53-eea416c6530a","name":"","source":{"id":"1357fc14-6951-3822-a05f-9427640bfcfe","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"b7ac3373-9c45-1d59-9d65-66a026f5189b"},"destination":{"id":"d9e9a7f9-724f-3093-86ed-05a9eb0c16ce","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FlattenJson","comments":"","instanceIdentifier":"4a5a3b48-eef2-1a2f-9ea1-9ec87f01cab2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"b1817605-c1df-32ef-9392-f70f9ddb6779","instanceIdentifier":"a5693bda-2683-1e33-b411-5ca20ad3e342","name":"","source":{"id":"7387e3b0-6483-3588-b273-06cce02b692a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"f6683fc5-945c-1205-a959-831f3f518c1e"},"destination":{"id":"f20adc66-3606-32d6-adc3-e944fddfeba4","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"75d83ae7-17df-16a5-b2ae-714f2d18e27b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7a46d68f-eb25-3a71-8950-715a72585ff0","instanceIdentifier":"3c443c41-1e2f-100c-a7ea-6ae431c60942","name":"","source":{"id":"1b29b74d-6520-34fb-8c57-8226cd16707f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"1c5e3527-b7ee-1857-9261-370708ac8d8c"},"destination":{"id":"322d32c0-8ebf-3e8d-9730-6a80a52a9be0","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"41e63fdd-78b4-1518-93eb-7e6a86efb33b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"1d02d3f0-109d-340e-947f-99888799f52a","instanceIdentifier":"eca43688-7537-1875-ffff-ffffec30437d","name":"","source":{"id":"0db893ea-dd21-3cc7-84c5-2a95391a4c25","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MDC-ListS3","comments":"","instanceIdentifier":"eca43668-7537-1875-ffff-ffff8eaea729"},"destination":{"id":"e2d3cf77-0828-31e1-b51f-cd7acaf37284","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FetchS3Object","comments":"","instanceIdentifier":"08ce33fa-f7c7-19ec-aca0-0a82343e417f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"32e22070-4b96-3e96-a1b9-9e92eaa0dd44","instanceIdentifier":"ce720582-0184-1000-0000-000052df4801","name":"","source":{"id":"f20adc66-3606-32d6-adc3-e944fddfeba4","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"75d83ae7-17df-16a5-b2ae-714f2d18e27b"},"destination":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"748c59cc-df59-3201-8fa4-ad3ca56abea7","instanceIdentifier":"25933a67-a2bc-1017-b50a-3fbdc945524e","name":"","source":{"id":"ab2caf89-27b5-310b-8cd0-b500b0e80e5d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"a8763c80-8417-1287-bc65-585d9cf85f1b"},"destination":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"bf049ad4-3cb2-39d3-a17a-a76a23d5b470","instanceIdentifier":"65d530cd-1596-1886-ffff-ffff90b6cce6","name":"","source":{"id":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Route on Facebook Folder","comments":"","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254"},"destination":{"id":"2fee273d-a9b4-398c-83e9-e8af658da90f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"950c37a8-bd09-1dd8-9533-91ecabb74c7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["facebook.security.login.information"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7d0d090f-04e6-36e8-9e5d-d259e345f96d","instanceIdentifier":"d49f3eab-93ad-1eaa-92ca-a9a0a4d6aad9","name":"","source":{"id":"35c2255a-9196-320b-96ae-6256a2622ddb","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"SplitJson","comments":"","instanceIdentifier":"03ce359c-9c8d-1dfa-9f34-a922d010e06b"},"destination":{"id":"60ab099c-aaf5-33a2-9dbd-40588d76af74","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"f51b35e9-fa9b-1e74-8483-c6cf2507a054"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7eba3d5c-50cd-354b-806e-57a59a701714","instanceIdentifier":"6d333a67-b8d8-1e8f-0000-00002e628824","name":"","source":{"id":"9c43c36e-a575-3559-93c4-b67e550ef01b","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"f15a360e-36a6-1955-9c0c-923f9934bafb"},"destination":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"54c54dec-c184-39e2-a59a-8e3e4af1b89c","instanceIdentifier":"401e323a-8d69-12b0-9076-2fb6841bc1c0","name":"","source":{"id":"26baf411-e275-39fc-9feb-9323fb70b04f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ListS3","comments":"","instanceIdentifier":"92e138b0-a61c-1762-89ca-849bb658c339"},"destination":{"id":"e2d3cf77-0828-31e1-b51f-cd7acaf37284","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FetchS3Object","comments":"","instanceIdentifier":"08ce33fa-f7c7-19ec-aca0-0a82343e417f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"1b30436a-2cf9-31ce-b110-4abbd58ffedd","instanceIdentifier":"f0c33fe9-8f88-1634-b26a-4bc90c001c75","name":"","source":{"id":"9e403946-eccf-3ad6-8a4c-c2a8fc05748c","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"038432bb-29fe-1f00-8c46-17a83cac6df4"},"destination":{"id":"15fd2b29-8366-30eb-9329-176495927f5d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"de62307b-d8e5-1da0-8791-9ae06f8ad047"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"50b99333-23c8-3b69-bfa3-4e2b1b0dd9f9","instanceIdentifier":"8803c05a-80a8-19cc-ffff-ffffe561c1fa","name":"","source":{"id":"5e45cceb-5e70-31c0-9f59-a1086df47303","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"PutS3Object","comments":"","instanceIdentifier":"8803bef4-80a8-19cc-ffff-ffffbad50dd8"},"destination":{"id":"5e45cceb-5e70-31c0-9f59-a1086df47303","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"PutS3Object","comments":"","instanceIdentifier":"8803bef4-80a8-19cc-ffff-ffffbad50dd8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1132.9609,"y":2549.4417},{"x":1132.9609,"y":2599.4417}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"53775d74-7132-32e6-84b9-fef3f5bc0aaa","instanceIdentifier":"76cdd0b0-0184-1000-0000-00004fbb0fdb","name":"","source":{"id":"be393ec7-e02e-3f9d-b0e5-a3b563c04e27","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"UnpackContent","comments":"","instanceIdentifier":"e511b04c-c1d7-3207-974f-b9afe095ad8b"},"destination":{"id":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Route on Facebook Folder","comments":"","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"46d292b5-fe68-3604-8334-c966a7e18f64","instanceIdentifier":"be4234ed-eab6-147c-9732-2543075fbfd6","name":"","source":{"id":"d9e9a7f9-724f-3093-86ed-05a9eb0c16ce","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FlattenJson","comments":"","instanceIdentifier":"4a5a3b48-eef2-1a2f-9ea1-9ec87f01cab2"},"destination":{"id":"03131fbe-c436-3825-b534-ebb082c6d968","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"dffa3c0c-b26a-1f15-beb4-29784e225f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"935c0ac1-25ea-3e69-acd4-9cf1173a7734","instanceIdentifier":"65d530ba-1596-1886-b04e-a69796b5a667","name":"","source":{"id":"2fee273d-a9b4-398c-83e9-e8af658da90f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"950c37a8-bd09-1dd8-9533-91ecabb74c7d"},"destination":{"id":"93965855-bb87-3a81-a4e2-e149b0a931d3","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"b372339c-6220-1401-bbfd-89f36579798e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"094cd9bf-8f55-3a19-a044-086376301a65","instanceIdentifier":"06423bb5-92d7-12f6-bca6-22a24a7e2a93","name":"","source":{"id":"03131fbe-c436-3825-b534-ebb082c6d968","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"dffa3c0c-b26a-1f15-beb4-29784e225f80"},"destination":{"id":"7387e3b0-6483-3588-b273-06cce02b692a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"f6683fc5-945c-1205-a959-831f3f518c1e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"2c869d31-2e37-38b9-bd40-4ae0b011051f","instanceIdentifier":"d4e63c3c-1ac2-1334-90e9-acb859bcd956","name":"","source":{"id":"2c57306d-84f1-352d-b38d-c534a53ffd4f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"5ae83eeb-ad1d-1c5e-9d69-a0fa4e5dd781"},"destination":{"id":"1cc9836d-4e1e-35ee-938a-a43aad7b4686","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"980333d6-01a6-1bdf-88e7-523c22e26548"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"55e27737-c64f-3920-a040-e3bbca853098","instanceIdentifier":"8803befb-80a8-19cc-ffff-ffffc760d4de","name":"","source":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"destination":{"id":"5e45cceb-5e70-31c0-9f59-a1086df47303","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"PutS3Object","comments":"","instanceIdentifier":"8803bef4-80a8-19cc-ffff-ffffbad50dd8"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"e0b05173-c9cc-3f93-9df1-5676ac1e7675","instanceIdentifier":"3c6a346c-f7e4-1c2a-8360-465ab380e320","name":"","source":{"id":"1cc9836d-4e1e-35ee-938a-a43aad7b4686","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"980333d6-01a6-1bdf-88e7-523c22e26548"},"destination":{"id":"9c43c36e-a575-3559-93c4-b67e550ef01b","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"f15a360e-36a6-1955-9c0c-923f9934bafb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"47ca6706-f503-3dad-ba2a-5f6d565c78b9","instanceIdentifier":"62f7e339-0184-1000-ffff-ffffbfaf106b","name":"","source":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"destination":{"id":"7f9c4399-5a7f-38ea-aef9-7fa1b7f0389f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"62f7cfeb-0184-1000-ffff-ffffe0bcf03d"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"2d516d19-8003-35bf-beb2-ff1bc5229b42","instanceIdentifier":"b5713de5-5270-12c5-a571-f2c1ed8ca4f0","name":"","source":{"id":"33883d4a-cd0f-3aa2-a87b-a92b38d715b5","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"SplitJson","comments":"","instanceIdentifier":"176d3835-f962-1886-9ae7-7a6728f21cf8"},"destination":{"id":"11ac7ba8-8f6a-3bed-a911-bae6ddd65b16","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FlattenJson","comments":"","instanceIdentifier":"111137e1-46de-1ad7-bfd7-b8b4a3d3cad3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"9d130377-6cc0-3aaf-9dd6-a1857bee1196","instanceIdentifier":"24dc375d-f614-142d-b718-92941bf0ca32","name":"","source":{"id":"5a5e8a4d-162e-3ab7-a8cc-b515150be518","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5f7c3539-9e43-19f3-95e0-d2b02b7910ae"},"destination":{"id":"33883d4a-cd0f-3aa2-a87b-a92b38d715b5","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"SplitJson","comments":"","instanceIdentifier":"176d3835-f962-1886-9ae7-7a6728f21cf8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["your.posts"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"17f18814-c73c-30c6-aecc-025cc72555be","instanceIdentifier":"51bc34c5-c940-1ce1-aaa2-dba1a88449d1","name":"","source":{"id":"758d5afa-4def-35f9-bacb-1c8fee582a66","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"02b43ca3-be7f-10df-bbbe-0803d7038e2a"},"destination":{"id":"1b29b74d-6520-34fb-8c57-8226cd16707f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"1c5e3527-b7ee-1857-9261-370708ac8d8c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fb.device.location"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"741ca096-c461-3293-be98-30cd5c6c2fc9","instanceIdentifier":"7ca838e9-45a6-1d7d-ac87-9269fb9edf45","name":"","source":{"id":"322d32c0-8ebf-3e8d-9730-6a80a52a9be0","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"41e63fdd-78b4-1518-93eb-7e6a86efb33b"},"destination":{"id":"7387e3b0-6483-3588-b273-06cce02b692a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"f6683fc5-945c-1205-a959-831f3f518c1e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"b674f80c-fe52-369f-87ee-f2682e5238cf","instanceIdentifier":"76cdb69c-0184-1000-ffff-ffffa6e89c4c","name":"","source":{"id":"e2d3cf77-0828-31e1-b51f-cd7acaf37284","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FetchS3Object","comments":"","instanceIdentifier":"08ce33fa-f7c7-19ec-aca0-0a82343e417f"},"destination":{"id":"15d4518d-9de5-373b-9a2c-cd7a7aa03d27","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Create Package ID","comments":"","instanceIdentifier":"535fb3aa-0184-1000-0000-00000a568392"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"404ad195-ad11-3953-9a22-9bce8115fdc6","instanceIdentifier":"81203d7d-7366-1f80-a678-30a2804f3446","name":"","source":{"id":"5a5e8a4d-162e-3ab7-a8cc-b515150be518","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5f7c3539-9e43-19f3-95e0-d2b02b7910ae"},"destination":{"id":"7f5388da-7c10-3293-b75d-b08485b2716a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"2f8e3de1-f258-1c66-81dc-bd27805ab57e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["image"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"a4c5dfb4-6f37-3aab-a946-3b49ece4a580","instanceIdentifier":"e73f323e-dac6-1598-946a-bbc55a841aa1","name":"","source":{"id":"758d5afa-4def-35f9-bacb-1c8fee582a66","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"02b43ca3-be7f-10df-bbbe-0803d7038e2a"},"destination":{"id":"1357fc14-6951-3822-a05f-9427640bfcfe","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"b7ac3373-9c45-1d59-9d65-66a026f5189b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fb.last.location"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"f37de585-d32b-3cec-896c-24180d45f611","instanceIdentifier":"65d530e5-1596-1886-ffff-ffffb3115fc4","name":"","source":{"id":"8f275507-8119-3643-ab9d-ba5894ec093f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"b11537e2-4393-1ee8-a2af-81e160c94119"},"destination":{"id":"1cb72841-6738-3a90-bed8-a1699f96d58e","type":"FUNNEL","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Funnel","comments":"","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"4788d5ee-8984-3f98-914c-200e64a84c79","instanceIdentifier":"27ee3268-8566-1633-8abc-cf10d6093d60","name":"","source":{"id":"e0a45ac4-85a4-3c2f-9fbb-a90083cb4a96","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"08ca3793-5be2-199a-bcac-c0c8368d946d"},"destination":{"id":"8f275507-8119-3643-ab9d-ba5894ec093f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Update File Name","comments":"","instanceIdentifier":"b11537e2-4393-1ee8-a2af-81e160c94119"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"8599216b-384f-3168-bcab-face13309029","instanceIdentifier":"76cdc0da-0184-1000-ffff-ffff94d3eb9f","name":"","source":{"id":"15d4518d-9de5-373b-9a2c-cd7a7aa03d27","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Create Package ID","comments":"","instanceIdentifier":"535fb3aa-0184-1000-0000-00000a568392"},"destination":{"id":"be393ec7-e02e-3f9d-b0e5-a3b563c04e27","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"UnpackContent","comments":"","instanceIdentifier":"e511b04c-c1d7-3207-974f-b9afe095ad8b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"deddd214-561c-3d11-af2b-c0252d08caed","instanceIdentifier":"bd1538f8-6b81-137f-8803-70a986348e7e","name":"","source":{"id":"821636af-fae4-3828-bff3-1be780d6298d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Flatten Arrays","comments":"","instanceIdentifier":"444f3458-29cc-1c50-a25e-52760a5b40b1"},"destination":{"id":"7207fcf9-6966-3e55-83b4-433bf3c46d2a","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"baf834c9-855c-1532-b4ab-de0522f4c64f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"dd4143c5-57e1-3d11-bf2d-f9093908ad7b","instanceIdentifier":"53aeea1f-0184-1000-ffff-ffffb745fed9","name":"","source":{"id":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Route on Facebook Folder","comments":"","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254"},"destination":{"id":"90313263-800d-36d0-81b0-4f31e4b2edf8","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Parse JSON","comments":"","instanceIdentifier":"ca193d7f-a1e4-1ced-b699-eac3fac2fd11"},"labelIndex":1,"zIndex":0,"selectedRelationships":["facebook.friends.followers"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"e05dce99-80ea-339c-abf1-c8697f70f8aa","instanceIdentifier":"167f39a7-8c59-19b8-bdac-9705265daab9","name":"","source":{"id":"5a5e8a4d-162e-3ab7-a8cc-b515150be518","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5f7c3539-9e43-19f3-95e0-d2b02b7910ae"},"destination":{"id":"35c2255a-9196-320b-96ae-6256a2622ddb","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"SplitJson","comments":"","instanceIdentifier":"03ce359c-9c8d-1dfa-9f34-a922d010e06b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["post.words"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"33a56649-d8f4-3fd9-81a0-a331fff7ce18","instanceIdentifier":"cf7e324c-d7a9-1cd9-bce0-8fe3be92ab1d","name":"","source":{"id":"67e6796c-25bb-3968-8060-cf0abdfef59f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FlattenJson","comments":"","instanceIdentifier":"0f1b3bfa-2024-10a6-b3af-56de48d1f892"},"destination":{"id":"821636af-fae4-3828-bff3-1be780d6298d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Flatten Arrays","comments":"","instanceIdentifier":"444f3458-29cc-1c50-a25e-52760a5b40b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"d957661e-adc0-321c-a65a-8c90b1d23fe1","instanceIdentifier":"08703d86-47ae-1e08-8fa9-9a06f153e761","name":"","source":{"id":"758d5afa-4def-35f9-bacb-1c8fee582a66","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"02b43ca3-be7f-10df-bbbe-0803d7038e2a"},"destination":{"id":"7513fcc4-ab1e-3e64-a600-dcf39ce059eb","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"861c3061-079b-1dbf-8dfc-1bcd6f0179f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fb.pirmary.location"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"4fb5a165-480e-3aac-98ba-d70d2011e118","instanceIdentifier":"d1c33908-f144-1865-a5c0-f7ba30b5cc00","name":"","source":{"id":"bd0b4f9f-bb5c-335e-b6b1-7cc983137648","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ReplaceText","comments":"","instanceIdentifier":"60ab3c8d-eac2-1487-a5c7-fb31d697c5a2"},"destination":{"id":"322d32c0-8ebf-3e8d-9730-6a80a52a9be0","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"41e63fdd-78b4-1518-93eb-7e6a86efb33b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"7ffd8059-fbdc-3898-8b8f-ae51aaee141a","instanceIdentifier":"026c39be-6292-16f8-9feb-1c0991c44df3","name":"","source":{"id":"1d58d906-cca4-3b3b-91c9-2e3d589957b0","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"d1063c9f-2b01-17d4-bcf7-0d58334c2e02"},"destination":{"id":"7c193625-751f-354d-ab3c-7b6cde01809d","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"d7ed39e8-e3fa-1f1a-be5c-74b14ab3da59"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"6185f6ac-3a7c-3ef8-831a-dc444ed450e2","instanceIdentifier":"0f913b4b-5a38-16a9-b725-10f0bdd71aba","name":"","source":{"id":"8df33e3c-d25a-3931-bec3-fc5536a9d4ed","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Flatten Arrays","comments":"","instanceIdentifier":"02303597-235c-170a-b03c-8e6276439589"},"destination":{"id":"2c57306d-84f1-352d-b38d-c534a53ffd4f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ConvertRecord","comments":"","instanceIdentifier":"5ae83eeb-ad1d-1c5e-9d69-a0fa4e5dd781"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"f0660344-fcb1-338a-96ca-c35cd5c8c179","instanceIdentifier":"73dc3b19-19d7-12a2-a8ca-eaa94c9e8181","name":"","source":{"id":"7513fcc4-ab1e-3e64-a600-dcf39ce059eb","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"861c3061-079b-1dbf-8dfc-1bcd6f0179f2"},"destination":{"id":"bd0b4f9f-bb5c-335e-b6b1-7cc983137648","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"ReplaceText","comments":"","instanceIdentifier":"60ab3c8d-eac2-1487-a5c7-fb31d697c5a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"d2cf434b-bcc1-3096-aa53-08d3fedaf501","instanceIdentifier":"fe243a17-f342-18fd-af7a-32bf19c630f0","name":"","source":{"id":"11ac7ba8-8f6a-3bed-a911-bae6ddd65b16","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FlattenJson","comments":"","instanceIdentifier":"111137e1-46de-1ad7-bfd7-b8b4a3d3cad3"},"destination":{"id":"8df33e3c-d25a-3931-bec3-fc5536a9d4ed","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Flatten Arrays","comments":"","instanceIdentifier":"02303597-235c-170a-b03c-8e6276439589"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"37be7a00-9b9e-3143-8c21-082776772fe6","instanceIdentifier":"6d3339da-b8d8-1e8f-b624-77147a688c7f","name":"","source":{"id":"60ab099c-aaf5-33a2-9dbd-40588d76af74","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"MergeRecord","comments":"","instanceIdentifier":"f51b35e9-fa9b-1e74-8483-c6cf2507a054"},"destination":{"id":"1cc9836d-4e1e-35ee-938a-a43aad7b4686","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Add package ID","comments":"","instanceIdentifier":"980333d6-01a6-1bdf-88e7-523c22e26548"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"740206e2-2f14-3b15-883e-24efdcb74db6","instanceIdentifier":"f44c3cd8-b464-15b1-0000-000054394b0a","name":"","source":{"id":"ebb1141c-2705-31c9-b1bd-2f5d41abdb50","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"Route on Facebook Folder","comments":"","instanceIdentifier":"401e8368-8d69-12b0-0000-00005ff30254"},"destination":{"id":"67e6796c-25bb-3968-8060-cf0abdfef59f","type":"PROCESSOR","groupId":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f","name":"FlattenJson","comments":"","instanceIdentifier":"0f1b3bfa-2024-10a6-b3af-56de48d1f892"},"labelIndex":1,"zIndex":0,"selectedRelationships":["facebook.profile.information"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"}],"labels":[{"identifier":"7740855e-30de-3c15-9a08-3f0773e87edb","instanceIdentifier":"3dde3e95-f6ca-1bc8-814b-0ddc0b130898","position":{"x":-320.0,"y":600.0},"label":"Location","zIndex":0,"width":1136.0,"height":1464.0,"style":{"background-color":"#aec0f5","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"c1363750-3d33-34ab-a55e-02024fe1cff1","instanceIdentifier":"f4b931a5-79e9-18c4-a817-463bde6e0eb1","position":{"x":24.0,"y":2448.0},"label":"Store","zIndex":0,"width":1008.0,"height":520.0,"style":{"background-color":"#ccffeb","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"1fb9d15d-b9a2-33b3-9735-106f0c6a87a5","instanceIdentifier":"7c08328b-54b7-1b73-b50b-237f6389811f","position":{"x":1496.0,"y":648.0},"label":"Posts","zIndex":0,"width":1168.0,"height":1560.0,"style":{"background-color":"#aec0f5","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"c2399b90-519a-3185-8183-5f6cdd02a3e3","instanceIdentifier":"7c0832c5-54b7-1b73-ffff-ffffac1f37f3","position":{"x":32.0,"y":-216.0},"label":"Process","zIndex":0,"width":1024.0,"height":832.0,"style":{"background-color":"#d6fffa","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"a3ee56c6-c395-3a02-9c7b-badafa96a43f","instanceIdentifier":"6d333a99-b8d8-1e8f-ffff-ffff8d725386","position":{"x":-1400.0,"y":648.0},"label":"Friends and Followers","zIndex":0,"width":504.0,"height":984.0,"style":{"background-color":"#aec0f5","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"9eaaebb7-d86c-3e8a-87c6-4e595cf704da","instanceIdentifier":"23543635-8899-1a86-843a-f4e4ea03468e","position":{"x":896.0,"y":648.0},"label":"Security and Login","zIndex":0,"width":520.0,"height":1120.0,"style":{"background-color":"#aec0f5","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"ce944011-88fe-3a95-853d-2740d448d2ad","instanceIdentifier":"6334948a-0184-1000-ffff-ffffea7e69c1","position":{"x":8.0,"y":-768.0},"label":"Acquire","zIndex":0,"width":1008.0,"height":520.0,"style":{"background-color":"#f0cfff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"fcd312ec-ffb4-30b2-a5e1-5a21317e5883","instanceIdentifier":"cd053ecd-201b-18a0-9905-c0f60ef45c2f","position":{"x":-832.0,"y":656.0},"label":"Profile Information","zIndex":0,"width":488.0,"height":1040.0,"style":{"background-color":"#aec0f5","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"}],"funnels":[{"identifier":"1cb72841-6738-3a90-bed8-a1699f96d58e","instanceIdentifier":"62b9a0cb-0184-1000-ffff-ffff895a9f80","position":{"x":464.0,"y":2336.0},"componentType":"FUNNEL","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"}],"controllerServices":[{"identifier":"9732e7b9-fc0f-3cb6-a6f3-3c980a7b19fa","instanceIdentifier":"d31436a0-63fe-147b-ffff-ffffe610358a","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"ALL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ea54fc9-0184-1000-ffff-ffffd817abb0"},{"identifier":"f711b8a5-7773-39a1-bfba-f07dc816f389","instanceIdentifier":"d3143692-63fe-147b-0000-00001b83fe0e","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ea54fc9-0184-1000-ffff-ffffd817abb0"},{"identifier":"b1456a5b-46fd-3159-9c96-050ab27440e2","instanceIdentifier":"5def460e-e2cb-1e43-0000-000066039e84","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a7a3836e-4603-3c5e-89cd-bce2b0e6927f"}],"variables":{},"parameterContextName":"Facebook Data Processing","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Facebook Data Processing":{"name":"Facebook Data Processing","parameters":[{"name":"CDP Username","description":"","sensitive":false,"provided":false,"value":"nasheb"},{"name":"S3 Secret Key","description":"","sensitive":true,"provided":false},{"name":"CDP Password","description":"","sensitive":true,"provided":false},{"name":"Facebook Package S3 Bucket","description":"","sensitive":false,"provided":false,"value":"cgsi-demos"},{"name":"S3 Access Key","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}