NiFi_Cyber-Analysis/Cyber_Analysis.json
{"flowContents":{"identifier":"15672268-f2da-39ce-80bf-c2535011f749","instanceIdentifier":"7c08ad3f-54b7-1b73-0000-0000636c6e81","name":"Cyber Analysis","comments":"","position":{"x":6208.0,"y":-216.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d52274bb-2b04-38b6-b93e-e038a0cebc22","instanceIdentifier":"90533ede-40cf-1ffd-a089-ff69b7b0e03d","name":"Predict Machine Health","comments":"","position":{"x":1608.0,"y":1568.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"result-contents":"insert-entire-record","request.body":"concat('{\"accessKey\":\"', '${cdsw.access.key}', '\",\"request\":{\"feature\":\"', /sensor_0, ', ', /sensor_1, ', ', /sensor_2, ', ', /sensor_3, ', ', /sensor_4, ', ', /sensor_5, ', ', /sensor_6, ', ', /sensor_7, ', ', /sensor_8, ', ', /sensor_9, ', ', /sensor_10, ', ', /sensor_11, '\"}}')","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/response","record-writer":"04b2f66d-3e58-31ec-b003-21f1527310cc","request.method":"toString('post', 'UTF-8')","record-reader":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","lookup-service":"14520ff5-57ac-3982-9536-b73eb8b7f1f2","record-update-strategy":"use-property","mime.type":"toString('application/json', 'UTF-8')"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"request.body":{"name":"request.body","displayName":"request.body","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"request.method":{"name":"request.method","displayName":"request.method","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"0f837d94-7097-3b47-8045-3f26976c617c","instanceIdentifier":"6eda318e-2a84-1699-9cfe-03859eb5680d","name":"Capture Syslog RFC5424","comments":"","position":{"x":1608.0,"y":1048.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"##\n## Author: Nasheb Ismaily\n## Description: Generates a random RFC5424 format syslog message\n##\n\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nimport random\nfrom datetime import datetime\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, outputStream):\n        hostname = \"host\"\n        domain_name = \".example.com\"\n        tag = [\"kernel\", \"python\", \"application\"]\n        version = \"1\"\n        nouns = \"application\"\n        verbs = (\"started\", \"stopped\", \"exited\", \"completed\")\n        adv = (\"successfully\", \"unexpectedly\", \"cleanly\", \"gracefully\")\n\n        for i in range(0,10):\n            application = \"{0}{1}\".format(nouns, random.choice(range(1, 11)))\n            message_id = \"ID{0}\".format(random.choice(range(1, 50)))\n            random_tag = random.choice(tag)\n            structured_data = \"[SDID iut=\\\"{0}\\\" eventSource=\\\"{1}\\\" eventId=\\\"{2}\\\"]\".format(random.choice(range(1, 10)), random_tag, random.choice(range(1, 100)))\n            time_output = datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z'\n            random_host = random.choice(range(1, 11))\n            fqdn = \"{0}{1}{2}\".format(hostname, random_host, domain_name)\n            random_pid = random.choice(range(500, 9999))\n            priority = random.choice(range(0, 191))\n            num = random.randrange(0, 4)\n            random_message = application + ' has ' + verbs[num] + ' ' + adv[num]\n\n            syslog_output = (\"<{0}>{1} {2} {3} {4} {5} {6} {7} {8}\\n\".format(priority, version, time_output, fqdn, application,random_pid, message_id,structured_data, random_message))\n            outputStream.write(bytearray(syslog_output.encode('utf-8')))\n\nflowFile = session.create()\nif (flowFile != None):\n    flowFile = session.write(flowFile, PyOutputStreamCallback())\n    session.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"f287cd51-5cf2-3875-98a6-fc2d01f4be26","instanceIdentifier":"14f8354c-018b-1000-0000-0000042a1031","name":"ExecuteScript","comments":"","position":{"x":551.9246587087666,"y":1047.353551295742},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport org.apache.nifi.processor.io.OutputStreamCallback\nimport java.time.ZonedDateTime\nimport java.time.format.DateTimeFormatter\n\nclass GroovyOutputStreamCallback implements OutputStreamCallback {\n    \n    @Override\n    void process(OutputStream outputStream) throws IOException {\n        def hostname = \"host\"\n        def domain_name = \".example.com\"\n        def tag = [\"kernel\", \"python\", \"application\"]\n        def version = \"1\"\n        def nouns = \"application\"\n        def verbs = [\"started\", \"stopped\", \"exited\", \"completed\"]\n        def adv = [\"successfully\", \"unexpectedly\", \"cleanly\", \"gracefully\"]\n\n        (1..10).each {\n            def application = \"${nouns}${new Random().nextInt(10) + 1}\"\n            def message_id = \"ID${new Random().nextInt(49) + 1}\"\n            def random_tag = tag[new Random().nextInt(tag.size())]\n            def structured_data = \"[SDID iut=\\\"${new Random().nextInt(9) + 1}\\\" eventSource=\\\"${random_tag}\\\" eventId=\\\"${new Random().nextInt(99) + 1}\\\"]\"\n            def time_output = ZonedDateTime.now().format(DateTimeFormatter.ISO_INSTANT)\n            def random_host = new Random().nextInt(10) + 1\n            def fqdn = \"${hostname}${random_host}${domain_name}\"\n            def random_pid = new Random().nextInt(9499) + 500\n            def priority = new Random().nextInt(190)\n            def num = new Random().nextInt(4)\n            def random_message = \"${application} has ${verbs[num]} ${adv[num]}\"\n\n            def syslog_output = \"<${priority}>${version} ${time_output} ${fqdn} ${application} ${random_pid} ${message_id} ${structured_data} ${random_message}\\n\"\n            outputStream.write(syslog_output.getBytes('utf-8'))\n        }\n    }\n}\n\nflowFile = session.create()\nif (flowFile) {\n    flowFile = session.write(flowFile, new GroovyOutputStreamCallback())\n    session.transfer(flowFile, REL_SUCCESS)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"82552aa7-1f3b-3d44-9237-44329942b13e","instanceIdentifier":"71118d40-018a-1000-0000-00006c2b52ab","name":"ExecuteSQL","comments":"","position":{"x":2480.0,"y":1232.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"bea3d5ae-b693-3653-b69a-eece8759ebc1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"73b65bcf-3025-3e01-865f-8a598139d103","instanceIdentifier":"c0133824-4491-1a65-94b6-5adb7bb2fbd3","name":"Schema Lookup","comments":"","position":{"x":1608.0,"y":1320.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"syslogml","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"6a33eb07-f28b-304a-a568-3cbc2d896151","instanceIdentifier":"711ea2f3-018a-1000-ffff-ffff8467c6e6","name":"ExecuteScript","comments":"","position":{"x":2560.0,"y":1696.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"Clojure","Script Body":null,"Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"f7313631-697b-3a0b-a2d9-4e2cbff6c3f2","instanceIdentifier":"850a3ad8-b5d2-1de1-af20-8ff9b961dc78","name":"WriteToKafka","comments":"","position":{"x":1608.0,"y":2088.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"04b2f66d-3e58-31ec-b003-21f1527310cc","bootstrap.servers":"#{Kafka Broker Endpoint}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"93e912d5-4036-30db-92b2-ca720779b5a7","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Kafka Destination Topic}","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"7a410bb0-86e2-3745-8305-4e195597b804","instanceIdentifier":"e4284d6b-0184-1000-ffff-ffffb8944c28","name":"Detect Is Malicious","comments":"","position":{"x":1608.0,"y":1808.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"04b2f66d-3e58-31ec-b003-21f1527310cc","record-reader":"93e912d5-4036-30db-92b2-ca720779b5a7","replacement-value-strategy":"record-path-value","/is_malicious":"/response/result"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/is_malicious":{"name":"/is_malicious","displayName":"/is_malicious","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6eabfc39-afa8-3d87-a1ca-6334b91d604b","instanceIdentifier":"14f8a0e3-018b-1000-0000-00001828a59a","name":"","source":{"id":"f287cd51-5cf2-3875-98a6-fc2d01f4be26","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"ExecuteScript","comments":"","instanceIdentifier":"14f8354c-018b-1000-0000-0000042a1031"},"destination":{"id":"73b65bcf-3025-3e01-865f-8a598139d103","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Schema Lookup","comments":"","instanceIdentifier":"c0133824-4491-1a65-94b6-5adb7bb2fbd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"d6309034-dc11-3c9e-80d5-e5921b5229e0","instanceIdentifier":"616e3633-3a04-17e1-8e36-02456011199e","name":"schema_update","source":{"id":"73b65bcf-3025-3e01-865f-8a598139d103","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Schema Lookup","comments":"","instanceIdentifier":"c0133824-4491-1a65-94b6-5adb7bb2fbd3"},"destination":{"id":"d52274bb-2b04-38b6-b93e-e038a0cebc22","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Predict Machine Health","comments":"","instanceIdentifier":"90533ede-40cf-1ffd-a089-ff69b7b0e03d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"462300b5-eb48-3ca6-8358-5bea004917b1","instanceIdentifier":"b45135a7-d7ef-1859-8e4a-6e7ebe9ec688","name":"ml_prediction","source":{"id":"d52274bb-2b04-38b6-b93e-e038a0cebc22","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Predict Machine Health","comments":"","instanceIdentifier":"90533ede-40cf-1ffd-a089-ff69b7b0e03d"},"destination":{"id":"7a410bb0-86e2-3745-8305-4e195597b804","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Detect Is Malicious","comments":"","instanceIdentifier":"e4284d6b-0184-1000-ffff-ffffb8944c28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"0582865b-a6dd-3eb3-8f43-1c474052e6ec","instanceIdentifier":"e42922fa-0184-1000-ffff-ffffbb152b95","name":"is_malicious","source":{"id":"7a410bb0-86e2-3745-8305-4e195597b804","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Detect Is Malicious","comments":"","instanceIdentifier":"e4284d6b-0184-1000-ffff-ffffb8944c28"},"destination":{"id":"f7313631-697b-3a0b-a2d9-4e2cbff6c3f2","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"WriteToKafka","comments":"","instanceIdentifier":"850a3ad8-b5d2-1de1-af20-8ff9b961dc78"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"aeab8702-1376-386e-a8b6-90ce3251afb7","instanceIdentifier":"6eda31bb-2a84-1699-ffff-ffff9e378d1b","name":"failure_kafka_write","source":{"id":"f7313631-697b-3a0b-a2d9-4e2cbff6c3f2","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"WriteToKafka","comments":"","instanceIdentifier":"850a3ad8-b5d2-1de1-af20-8ff9b961dc78"},"destination":{"id":"f7313631-697b-3a0b-a2d9-4e2cbff6c3f2","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"WriteToKafka","comments":"","instanceIdentifier":"850a3ad8-b5d2-1de1-af20-8ff9b961dc78"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2064.0645,"y":2126.906},{"x":2127.6787,"y":2169.4358}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"5056ca3c-7b88-308e-88a7-70c0e1b220b3","instanceIdentifier":"6eda3197-2a84-1699-ffff-ffff97819868","name":"syslog_data","source":{"id":"0f837d94-7097-3b47-8045-3f26976c617c","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Capture Syslog RFC5424","comments":"","instanceIdentifier":"6eda318e-2a84-1699-9cfe-03859eb5680d"},"destination":{"id":"73b65bcf-3025-3e01-865f-8a598139d103","type":"PROCESSOR","groupId":"15672268-f2da-39ce-80bf-c2535011f749","name":"Schema Lookup","comments":"","instanceIdentifier":"c0133824-4491-1a65-94b6-5adb7bb2fbd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"}],"labels":[{"identifier":"7ffd78ba-c9a5-31d2-a948-6e81b389f656","instanceIdentifier":"494838d0-f8d3-19e4-81b7-5901571bf231","position":{"x":1384.0,"y":1288.0},"label":"Process","zIndex":0,"width":856.0,"height":680.0,"style":{"background-color":"#d6fffa","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"525223a5-5223-351b-b8e8-724ec55894af","instanceIdentifier":"dd363281-9318-1e07-8065-f06cefb09656","position":{"x":1384.0,"y":2048.0},"label":"Store","zIndex":0,"width":856.0,"height":264.0,"style":{"background-color":"#ccffeb","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"e61bc8ae-a9b5-3298-bd80-107934e2c22e","instanceIdentifier":"df0834b5-38b3-1011-a364-2be982d520a9","position":{"x":1384.0,"y":952.0},"label":"Acquire","zIndex":0,"width":856.0,"height":264.0,"style":{"background-color":"#f0cfff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"}],"funnels":[],"controllerServices":[{"identifier":"04b2f66d-3e58-31ec-b003-21f1527310cc","instanceIdentifier":"e3e564f7-0184-1000-ffff-ffffb2d83934","name":"JsonAvrRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"e66e1721-de50-3acc-8653-32cdcee1f80f","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"14520ff5-57ac-3982-9536-b73eb8b7f1f2","instanceIdentifier":"e4000be5-0184-1000-ffff-ffffbb85e0aa","name":"RestLookupService","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"rest-lookup-record-reader":"93e912d5-4036-30db-92b2-ca720779b5a7","Authorization":"Bearer ${cdsw.model.api.key}","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"https://modelservice.ml-4c5feac0-3ec.go01-dem.ylcu-atmi.cloudera.site/model","rest-lookup-ssl-context-service":null,"proxy-configuration-service":null,"rest-lookup-record-path":"/response","rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"93e912d5-4036-30db-92b2-ca720779b5a7","instanceIdentifier":"e4087345-0184-1000-ffff-ffffdec1c029","name":"JSONAvrReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"e66e1721-de50-3acc-8653-32cdcee1f80f","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"195d6cf3-08d5-30b9-aa83-bdcd15c8f247","instanceIdentifier":"0222b577-39e9-389f-bded-187b46693042","name":"CDP_Schema_Registry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"d3fecf89-795e-31b5-9085-a241498a6556","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"e66e1721-de50-3acc-8653-32cdcee1f80f","instanceIdentifier":"e3e3df92-0184-1000-ffff-ffff87306a65","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"testr":"{\n \"name\": \"gpt\",\n \"type\": \"record\",\n \"namespace\": \"com.cloudera\",\n \"fields\": [\n  {\n      \"name\": \"lab_her2_results\",\n      \"type\": \"string\"\n\n    },\n    {\n      \"name\": \"lab_biopsy_results\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"lab_bloodwork_results\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"lab_mammogram_results\",\n      \"type\": \"string\"\n    }\n\n  ,{\n   \"name\": \"response\",\n   \"doc\": \"response record\",\n   \"type\": {\n    \"type\": \"record\",\n    \"name\": \"CDSWResponse\",\n    \"namespace\": \"com.cloudera.example\",\n    \"doc\": \"This is a CDSW Model response\",\n    \"fields\": [\n     {\n      \"name\": \"result\",\n      \"doc\": \"Result\",\n      \"type\": \"int\"\n     }\n    ]\n   }\n  },\n  {\n   \"name\": \"gpt_report_location\",\n   \"type\": \"string\"\n  }\n ]\n}","test":"{\n \"name\": \"report\",\n \"type\": \"record\",\n \"namespace\": \"com.cloudera\",\n \"fields\": [\n  {\n      \"name\": \"lab_her2_results\",\n      \"type\": \"string\"\n\n    },\n    {\n      \"name\": \"lab_biopsy_results\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"lab_bloodwork_results\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"lab_mammogram_results\",\n      \"type\": \"string\"\n    }\n ]\n}","avro-reg-validated-field-names":"true","SensorReading":"{\n \"type\": \"record\",\n \"name\": \"SensorReading\",\n \"namespace\": \"com.cloudera.example\",\n \"doc\": \"This is a sample sensor reading\",\n \"fields\": [\n  {\n   \"name\": \"sensor_id\",\n   \"doc\": \"Sensor identification number.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_ts\",\n   \"doc\": \"Timestamp, in microseconds, of the collected readings.\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"is_healthy\",\n   \"doc\": \"Flag indicating health (healthy == 1)\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"response\",\n   \"doc\": \"response record\",\n   \"type\": {\n    \"type\": \"record\",\n    \"name\": \"CDSWResponse\",\n    \"namespace\": \"com.cloudera.example\",\n    \"doc\": \"This is a CDSW Model response\",\n    \"fields\": [\n     {\n      \"name\": \"result\",\n      \"doc\": \"Result\",\n      \"type\": \"int\"\n     }\n    ]\n   }\n  },\n  {\n   \"name\": \"sensor_0\",\n   \"doc\": \"Reading #0.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_1\",\n   \"doc\": \"Reading #1.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_2\",\n   \"doc\": \"Reading #2.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_3\",\n   \"doc\": \"Reading #3.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_4\",\n   \"doc\": \"Reading #4.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_5\",\n   \"doc\": \"Reading #5.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_6\",\n   \"doc\": \"Reading #6.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_7\",\n   \"doc\": \"Reading #7.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_8\",\n   \"doc\": \"Reading #8.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_9\",\n   \"doc\": \"Reading #9.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_10\",\n   \"doc\": \"Reading #10.\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"sensor_11\",\n   \"doc\": \"Reading #11.\",\n   \"type\": \"int\"\n  }\n ]\n}","syslogml":"{\n \"name\": \"syslog\",\n \"type\": \"record\",\n \"namespace\": \"com.cloudera\",\n \"fields\": [\n  {\n   \"name\": \"priority\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"severity\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"facility\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"version\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"timestamp\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"hostname\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"body\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"appName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"procid\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"messageid\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"structuredData\",\n   \"type\": {\n    \"name\": \"structuredData\",\n    \"type\": \"record\",\n    \"fields\": [\n     {\n      \"name\": \"SDID\",\n      \"type\": {\n       \"name\": \"SDID\",\n       \"type\": \"record\",\n       \"fields\": [\n        {\n         \"name\": \"eventId\",\n         \"type\": \"string\"\n        },\n        {\n         \"name\": \"eventSource\",\n         \"type\": \"string\"\n        },\n        {\n         \"name\": \"iut\",\n         \"type\": \"string\"\n        }\n       ]\n      }\n     }\n    ]\n   }\n  },{\n   \"name\": \"response\",\n   \"doc\": \"response record\",\n   \"type\": {\n    \"type\": \"record\",\n    \"name\": \"CDSWResponse\",\n    \"namespace\": \"com.cloudera.example\",\n    \"doc\": \"This is a CDSW Model response\",\n    \"fields\": [\n     {\n      \"name\": \"result\",\n      \"doc\": \"Result\",\n      \"type\": \"int\"\n     }\n    ]\n   }\n  },\n  {\n   \"name\": \"is_malicious\",\n   \"doc\": \"Flag indicating malicious (malicious == 1)\",\n   \"type\": \"int\"\n  }\n ]\n}","syslog":"{\n \"name\": \"syslog\",\n \"type\": \"record\",\n \"namespace\": \"com.cloudera\",\n \"fields\": [\n  {\n   \"name\": \"priority\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"severity\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"facility\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"version\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"timestamp\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"hostname\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"body\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"appName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"procid\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"messageid\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"structuredData\",\n   \"type\": {\n    \"name\": \"structuredData\",\n    \"type\": \"record\",\n    \"fields\": [\n     {\n      \"name\": \"SDID\",\n      \"type\": {\n       \"name\": \"SDID\",\n       \"type\": \"record\",\n       \"fields\": [\n        {\n         \"name\": \"eventId\",\n         \"type\": \"string\"\n        },\n        {\n         \"name\": \"eventSource\",\n         \"type\": \"string\"\n        },\n        {\n         \"name\": \"iut\",\n         \"type\": \"string\"\n        }\n       ]\n      }\n     }\n    ]\n   }\n  }\n ]\n}"},"propertyDescriptors":{"testr":{"name":"testr","displayName":"testr","identifiesControllerService":false,"sensitive":false},"test":{"name":"test","displayName":"test","identifiesControllerService":false,"sensitive":false},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"SensorReading":{"name":"SensorReading","displayName":"SensorReading","identifiesControllerService":false,"sensitive":false},"syslogml":{"name":"syslogml","displayName":"syslogml","identifiesControllerService":false,"sensitive":false},"syslog":{"name":"syslog","displayName":"syslog","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7c08ad3f-54b7-1b73-0000-0000636c6e81"},{"identifier":"bea3d5ae-b693-3653-b69a-eece8759ebc1","instanceIdentifier":"c67f2cac-0185-1000-0000-00001be1b2f6","name":"DBCPConnectionPool","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":null,"dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":null,"dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7c08ad3f-54b7-1b73-0000-0000636c6e81"},{"identifier":"7527960b-a29a-39f4-b3ab-42bf79427e41","instanceIdentifier":"53003e41-427f-1ca1-ffff-ffffa211449f","name":"JsonTreeReaderTest","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"test","starting-field-strategy":"ROOT_NODE","schema-registry":"e66e1721-de50-3acc-8653-32cdcee1f80f","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","instanceIdentifier":"e0e8b6a4-7cb6-3641-9015-dd5d45c2ee4b","name":"Syslog_5424_Reader","comments":"","type":"org.apache.nifi.syslog.Syslog5424Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Character Set":"UTF-8","syslog-5424-reader-raw-message":"false"},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"syslog-5424-reader-raw-message":{"name":"syslog-5424-reader-raw-message","displayName":"Raw message","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"15672268-f2da-39ce-80bf-c2535011f749"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7c08ad3f-54b7-1b73-0000-0000636c6e81"}],"variables":{"cdsw.access.key":"x","cdsw.model.api.key":"x"},"parameterContextName":"syslog-to-kafka","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"syslog-to-kafka":{"name":"syslog-to-kafka","parameters":[{"name":"CDP Workload User Password","description":"Specify the password of the CDP machine user or workload user you are using to authenticate against Kafka.","sensitive":true,"provided":false},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-master0.go01-dem.ylcu-atmi.cloudera.site"},{"name":"Kafka Destination Topic","description":"Specify the destination topic name.","sensitive":false,"provided":false,"value":"syslogml"},{"name":"CDP Workload User","description":"Specify the CDP machine user or workload user name that you want to use to authenticate to Kafka. Ensure this user has the appropriate access rights to the source and destination Kafka topics.","sensitive":false,"provided":false,"value":"nismaily"},{"name":"Kafka Producer ID","description":"Specify the id for the Kafka producer writing into the destination topic.","sensitive":false,"provided":false,"value":"cdf-aw-dh"},{"name":"Filter Rule","description":"Specify the SQL Filter that will be applied to the incoming Syslog data.","sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE"},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry.","sensitive":false,"provided":false,"value":"syslog"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}