NiFi_Supply-Chain-Demo/SupplyChain.json
{"flowContents":{"identifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","instanceIdentifier":"df943a93-0185-1000-0000-00003da2f642","name":"SupplyChain","comments":"","position":{"x":6952.0,"y":-200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"de4542dc-d17e-3141-9fd9-6705abbb0ed7","instanceIdentifier":"b8ad3ce7-f15b-17b1-886a-044378b4b104","name":"Get Hospital B Inventory","comments":"","position":{"x":272.0,"y":368.0},"type":"org.apache.nifi.processors.hive.SelectHive3QL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"hive-max-frags":"0","hive-pre-query":null,"csv-quote":"true","hive-output-format":"Avro","csv-alt-header":null,"hive3-dbcp-service":"48c5d723-aacc-3074-b7ad-be567353828f","csv-header":"true","hive-query":"SELECT * FROM vademo.hospital_b","hive-max-rows":"0","csv-escape":"true","hive-post-query":null,"hive-fetch-size":"0","hive-normalize-avro":"false","hive3-query-timeout":"0","use-logical-types":"false","csv-delimiter":",","hive3-charset":"UTF-8"},"propertyDescriptors":{"hive-max-frags":{"name":"hive-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"hive-pre-query":{"name":"hive-pre-query","displayName":"HiveQL Pre-Query","identifiesControllerService":false,"sensitive":false},"csv-quote":{"name":"csv-quote","displayName":"CSV Quote","identifiesControllerService":false,"sensitive":false},"hive-output-format":{"name":"hive-output-format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"csv-alt-header":{"name":"csv-alt-header","displayName":"Alternate CSV Header","identifiesControllerService":false,"sensitive":false},"hive3-dbcp-service":{"name":"hive3-dbcp-service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"csv-header":{"name":"csv-header","displayName":"CSV Header","identifiesControllerService":false,"sensitive":false},"hive-query":{"name":"hive-query","displayName":"HiveQL Select Query","identifiesControllerService":false,"sensitive":false},"hive-max-rows":{"name":"hive-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"csv-escape":{"name":"csv-escape","displayName":"CSV Escape","identifiesControllerService":false,"sensitive":false},"hive-post-query":{"name":"hive-post-query","displayName":"HiveQL Post-Query","identifiesControllerService":false,"sensitive":false},"hive-fetch-size":{"name":"hive-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"hive-normalize-avro":{"name":"hive-normalize-avro","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"hive3-query-timeout":{"name":"hive3-query-timeout","displayName":"Query timeout","identifiesControllerService":false,"sensitive":false},"use-logical-types":{"name":"use-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"csv-delimiter":{"name":"csv-delimiter","displayName":"CSV Delimiter","identifiesControllerService":false,"sensitive":false},"hive3-charset":{"name":"hive3-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"4a87fcc1-ff1e-3893-a478-28bcace793a3","instanceIdentifier":"df9db638-0185-1000-ffff-ffff9554006b","name":"Get Hospital A Inventory","comments":"","position":{"x":256.0,"y":104.0},"type":"org.apache.nifi.processors.hive.SelectHive3QL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"hive-max-frags":"0","hive-pre-query":null,"csv-quote":"true","hive-output-format":"Avro","csv-alt-header":null,"hive3-dbcp-service":"48c5d723-aacc-3074-b7ad-be567353828f","csv-header":"true","hive-query":"SELECT * FROM vademo.hospital_a","hive-max-rows":"0","csv-escape":"true","hive-post-query":null,"hive-fetch-size":"0","hive-normalize-avro":"false","hive3-query-timeout":"0","use-logical-types":"false","csv-delimiter":",","hive3-charset":"UTF-8"},"propertyDescriptors":{"hive-max-frags":{"name":"hive-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"hive-pre-query":{"name":"hive-pre-query","displayName":"HiveQL Pre-Query","identifiesControllerService":false,"sensitive":false},"csv-quote":{"name":"csv-quote","displayName":"CSV Quote","identifiesControllerService":false,"sensitive":false},"hive-output-format":{"name":"hive-output-format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"csv-alt-header":{"name":"csv-alt-header","displayName":"Alternate CSV Header","identifiesControllerService":false,"sensitive":false},"hive3-dbcp-service":{"name":"hive3-dbcp-service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"csv-header":{"name":"csv-header","displayName":"CSV Header","identifiesControllerService":false,"sensitive":false},"hive-query":{"name":"hive-query","displayName":"HiveQL Select Query","identifiesControllerService":false,"sensitive":false},"hive-max-rows":{"name":"hive-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"csv-escape":{"name":"csv-escape","displayName":"CSV Escape","identifiesControllerService":false,"sensitive":false},"hive-post-query":{"name":"hive-post-query","displayName":"HiveQL Post-Query","identifiesControllerService":false,"sensitive":false},"hive-fetch-size":{"name":"hive-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"hive-normalize-avro":{"name":"hive-normalize-avro","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"hive3-query-timeout":{"name":"hive3-query-timeout","displayName":"Query timeout","identifiesControllerService":false,"sensitive":false},"use-logical-types":{"name":"use-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"csv-delimiter":{"name":"csv-delimiter","displayName":"CSV Delimiter","identifiesControllerService":false,"sensitive":false},"hive3-charset":{"name":"hive3-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"ce7cb79f-8152-34e3-bc04-fe7848ad1875","instanceIdentifier":"94db3f83-fbac-1590-0000-0000496f30ef","name":"Put SQL DataLake","comments":"","position":{"x":1680.0,"y":264.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"kerberos-credentials-service":null,"cdp-storage-location":null,"Kerberos Principal":"nismaily","writing-strategy":"simpleWrite","Directory":"/demo/va/supplychain","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"b0d7804f-eb99-3803-8a7e-bd0cb44161dd","instanceIdentifier":"dabf3691-1c8f-196f-860c-a667e0442a81","name":"Get Hospital B Inventory","comments":"","position":{"x":264.0,"y":600.0},"type":"org.apache.nifi.processors.hive.SelectHive3QL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"hive-max-frags":"0","hive-pre-query":null,"csv-quote":"true","hive-output-format":"Avro","csv-alt-header":null,"hive3-dbcp-service":"48c5d723-aacc-3074-b7ad-be567353828f","csv-header":"true","hive-query":"SELECT * FROM vademo.hospital_b","hive-max-rows":"0","csv-escape":"true","hive-post-query":null,"hive-fetch-size":"0","hive-normalize-avro":"false","hive3-query-timeout":"0","use-logical-types":"false","csv-delimiter":",","hive3-charset":"UTF-8"},"propertyDescriptors":{"hive-max-frags":{"name":"hive-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"hive-pre-query":{"name":"hive-pre-query","displayName":"HiveQL Pre-Query","identifiesControllerService":false,"sensitive":false},"csv-quote":{"name":"csv-quote","displayName":"CSV Quote","identifiesControllerService":false,"sensitive":false},"hive-output-format":{"name":"hive-output-format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"csv-alt-header":{"name":"csv-alt-header","displayName":"Alternate CSV Header","identifiesControllerService":false,"sensitive":false},"hive3-dbcp-service":{"name":"hive3-dbcp-service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"csv-header":{"name":"csv-header","displayName":"CSV Header","identifiesControllerService":false,"sensitive":false},"hive-query":{"name":"hive-query","displayName":"HiveQL Select Query","identifiesControllerService":false,"sensitive":false},"hive-max-rows":{"name":"hive-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"csv-escape":{"name":"csv-escape","displayName":"CSV Escape","identifiesControllerService":false,"sensitive":false},"hive-post-query":{"name":"hive-post-query","displayName":"HiveQL Post-Query","identifiesControllerService":false,"sensitive":false},"hive-fetch-size":{"name":"hive-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"hive-normalize-avro":{"name":"hive-normalize-avro","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"hive3-query-timeout":{"name":"hive3-query-timeout","displayName":"Query timeout","identifiesControllerService":false,"sensitive":false},"use-logical-types":{"name":"use-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"csv-delimiter":{"name":"csv-delimiter","displayName":"CSV Delimiter","identifiesControllerService":false,"sensitive":false},"hive3-charset":{"name":"hive3-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"f212c8fe-6cb5-338c-9376-1deb1c96ea11","instanceIdentifier":"94db3fb6-fbac-1590-0000-00003119b61b","name":"ConvertRecord","comments":"","position":{"x":1040.0,"y":264.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"29aaa9b4-a66a-3206-a08c-e179b274eb6e","record-reader":"eb189f8e-c8ac-3c4b-a00e-70f972d37541","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e1969a4d-c15f-3cc7-86b5-4eb3da5af759","instanceIdentifier":"dfb0bd59-0185-1000-ffff-ffffa961ec3f","name":"","source":{"id":"f212c8fe-6cb5-338c-9376-1deb1c96ea11","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"ConvertRecord","comments":"","instanceIdentifier":"94db3fb6-fbac-1590-0000-00003119b61b"},"destination":{"id":"ce7cb79f-8152-34e3-bc04-fe7848ad1875","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"Put SQL DataLake","comments":"","instanceIdentifier":"94db3f83-fbac-1590-0000-0000496f30ef"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"2daa8a8a-33c7-37d6-8903-49900c321d18","instanceIdentifier":"94db3fc6-fbac-1590-0000-0000508f12fb","name":"","source":{"id":"de4542dc-d17e-3141-9fd9-6705abbb0ed7","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"Get Hospital B Inventory","comments":"","instanceIdentifier":"b8ad3ce7-f15b-17b1-886a-044378b4b104"},"destination":{"id":"f212c8fe-6cb5-338c-9376-1deb1c96ea11","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"ConvertRecord","comments":"","instanceIdentifier":"94db3fb6-fbac-1590-0000-00003119b61b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"9fa61264-a14a-3944-af7b-39c3b44659b6","instanceIdentifier":"dfb096dd-0185-1000-ffff-ffffd28b9830","name":"","source":{"id":"b0d7804f-eb99-3803-8a7e-bd0cb44161dd","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"Get Hospital B Inventory","comments":"","instanceIdentifier":"dabf3691-1c8f-196f-860c-a667e0442a81"},"destination":{"id":"f212c8fe-6cb5-338c-9376-1deb1c96ea11","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"ConvertRecord","comments":"","instanceIdentifier":"94db3fb6-fbac-1590-0000-00003119b61b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"bf967cf1-da0d-398c-8e29-4daacc7c3f46","instanceIdentifier":"94db3fbe-fbac-1590-0000-000079093443","name":"","source":{"id":"4a87fcc1-ff1e-3893-a478-28bcace793a3","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"Get Hospital A Inventory","comments":"","instanceIdentifier":"df9db638-0185-1000-ffff-ffff9554006b"},"destination":{"id":"f212c8fe-6cb5-338c-9376-1deb1c96ea11","type":"PROCESSOR","groupId":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd","name":"ConvertRecord","comments":"","instanceIdentifier":"94db3fb6-fbac-1590-0000-00003119b61b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":816.0,"y":232.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"}],"labels":[{"identifier":"a634519f-dd00-3f8c-9657-c1514296e465","instanceIdentifier":"2d6c3edd-8752-123a-910a-bd2252fbe62c","position":{"x":928.0,"y":40.0},"label":"PROCESS","zIndex":0,"width":552.0,"height":752.0,"style":{"background-color":"#d1fff3","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"37260c2d-48c1-3705-b57f-1dbb8671e4d6","instanceIdentifier":"8365324c-cf83-1e91-8d9e-2ae6040cbc9b","position":{"x":1576.0,"y":48.0},"label":"STORE","zIndex":0,"width":552.0,"height":752.0,"style":{"background-color":"#cfd6ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"c035f339-e8a5-355e-9d80-6016363bba61","instanceIdentifier":"dfb35ad4-0185-1000-ffff-fffff5b2241f","position":{"x":136.0,"y":40.0},"label":"ACQUIRE","zIndex":0,"width":552.0,"height":752.0,"style":{"background-color":"#d6f8ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"}],"funnels":[],"controllerServices":[{"identifier":"29aaa9b4-a66a-3206-a08c-e179b274eb6e","instanceIdentifier":"dfa94ecd-0185-1000-0000-000039d43286","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"4855cf95-eeac-30e4-8e51-9ae7d12e12be","instanceIdentifier":"94db3e81-fbac-1590-0000-0000157ca9a4","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"eb189f8e-c8ac-3c4b-a00e-70f972d37541","instanceIdentifier":"dfa9366b-0185-1000-ffff-ffffae9ade56","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df943a93-0185-1000-0000-00003da2f642"},{"identifier":"48c5d723-aacc-3074-b7ad-be567353828f","instanceIdentifier":"df9de17e-0185-1000-0000-00002f5d38a9","name":"Hive3ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.Hive3ConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"dbcp-min-idle-conns":"0","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":null,"kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://hs2-default-hive-aws.dw-go01-demo-aws.ylcu-atmi.cloudera.site/default;transportMode=http;httpPath=cliservice;socketTimeout=60;ssl=true;retries=3;","Kerberos Principal":"nismaily","dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"nismaily"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.dbcp.hive.Hive3DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19ad81ad-6905-39a7-a0f4-51e4d045ebfd"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"df943a93-0185-1000-0000-00003da2f642"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}