NiFi_Medical-Predictions/Med_Demo.json
{"flowContents":{"identifier":"7fd6d5a9-4331-3ddb-b265-c6a7c075f9eb","instanceIdentifier":"cbd0d88a-0185-1000-ffff-ffffa669639e","name":"Med Demo","comments":"","position":{"x":5648.0,"y":112.0},"processGroups":[{"identifier":"92bef581-bcf0-31dc-acf3-1293e014ba0f","instanceIdentifier":"87c69148-223e-37ce-8f23-63b2c1b80334","name":"Create Medical Records","comments":"","position":{"x":8.0,"y":-808.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"12607858-91cd-3a54-adfe-db8992a8131b","instanceIdentifier":"88048d52-7c9b-34f0-a7ea-07d726945b46","name":"WriteToKafka","comments":"","position":{"x":656.0,"y":-72.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"130ca8db-39e4-3b18-a9a4-c78b6b7ee913","bootstrap.servers":"#{Kafka Broker Endpoint}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"44abb197-a839-32a4-91b4-865a83571aba","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Kafka Destination Topic}","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"92bef581-bcf0-31dc-acf3-1293e014ba0f"},{"identifier":"7a5f5ea2-4584-3f79-994a-42cf59c80559","instanceIdentifier":"df6463b3-2e08-314d-aeda-dac797551a86","name":"Generate Medical Recrod","comments":"","position":{"x":664.0,"y":-368.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"##\n## Author: Nasheb Ismaily\n## Description: Generates a random Medical Record\n##\n\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nimport uuid\nimport random\nfrom datetime import datetime\nimport json\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, outputStream):\n\n        patient_id = str(uuid.uuid4())\n        time_output = datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z'\n        age = random.randint(18, 90)\n        anaemia = random.randint(0,1)\n        creatinine_phosphokinase = random.randint(200, 750)\n        diabetes = random.randint(0, 1)\n        ejection_fraction = random.randint(10, 80)\n        high_blood_pressure = random.randint(0, 1)\n        platelets = random.randint(100000, 400000)\n        serum_creatinine= round(random.uniform(1.0, 2.0), 2)\n        serum_sodium = random.randint(100, 200)\n        sex = random.randint(0, 1)\n        smoking = random.randint(0, 1)\n        time = random.randint(1, 90)\n\n        val = {}\n        val[\"patient_id\"] = patient_id\n        val[\"age\"] = age\n        val[\"anaemia\"] = anaemia\n        val[\"creatinine_phosphokinase\"] = creatinine_phosphokinase\n        val[\"diabetes\"] = diabetes\n        val[\"ejection_fraction\"] = ejection_fraction\n        val[\"high_blood_pressure\"] = high_blood_pressure\n        val[\"platelets\"] = platelets\n        val[\"serum_creatinine\"] = serum_creatinine\n        val[\"serum_sodium\"] = serum_sodium\n        val[\"sex\"] = sex\n        val[\"smoking\"] = smoking\n        val[\"time\"] = time\n\n        msg = {}\n        msg[\"topic\"] = \"clinical\"\n        msg[\"key\"] = \"[\\\"{}\\\", \\\"{}\\\"]\".format(patient_id,time_output)\n        msg[\"value\"] = json.dumps(val)\n        msg[\"timestamp\"] = time_output\n        msg[\"partition\"] = random.randint(0, 8)\n        msg[\"offset\"] = random.randint(0, 100)\n\n        outputStream.write(bytearray(json.dumps(msg).encode('utf-8')))\n\nflowFile = session.create()\nif (flowFile != None):\n    flowFile = session.write(flowFile, PyOutputStreamCallback())\n    session.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"92bef581-bcf0-31dc-acf3-1293e014ba0f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a2c6c29f-d8c4-3f9a-b815-6648cbb56afe","instanceIdentifier":"a4814b72-650d-3894-bf26-692225812dc0","name":"","source":{"id":"12607858-91cd-3a54-adfe-db8992a8131b","type":"PROCESSOR","groupId":"92bef581-bcf0-31dc-acf3-1293e014ba0f","name":"WriteToKafka","comments":"","instanceIdentifier":"88048d52-7c9b-34f0-a7ea-07d726945b46"},"destination":{"id":"12607858-91cd-3a54-adfe-db8992a8131b","type":"PROCESSOR","groupId":"92bef581-bcf0-31dc-acf3-1293e014ba0f","name":"WriteToKafka","comments":"","instanceIdentifier":"88048d52-7c9b-34f0-a7ea-07d726945b46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1125.0,"y":-33.0},{"x":1125.0,"y":17.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"92bef581-bcf0-31dc-acf3-1293e014ba0f"},{"identifier":"501446c9-6754-3f2b-8ab4-b7fb48e53208","instanceIdentifier":"2e9b214e-3c33-3894-a3da-eee37eef3fe9","name":"","source":{"id":"7a5f5ea2-4584-3f79-994a-42cf59c80559","type":"PROCESSOR","groupId":"92bef581-bcf0-31dc-acf3-1293e014ba0f","name":"Generate Medical Recrod","comments":"","instanceIdentifier":"df6463b3-2e08-314d-aeda-dac797551a86"},"destination":{"id":"12607858-91cd-3a54-adfe-db8992a8131b","type":"PROCESSOR","groupId":"92bef581-bcf0-31dc-acf3-1293e014ba0f","name":"WriteToKafka","comments":"","instanceIdentifier":"88048d52-7c9b-34f0-a7ea-07d726945b46"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"92bef581-bcf0-31dc-acf3-1293e014ba0f"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"CML","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7fd6d5a9-4331-3ddb-b265-c6a7c075f9eb"},{"identifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","instanceIdentifier":"c35f3b09-6877-3ce7-b91f-d32657729e9b","name":"Process Medical Records","comments":"","position":{"x":504.0,"y":-808.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6a263696-94d1-32dc-a15c-bf984201cb1d","instanceIdentifier":"48be259c-8cf2-3cf3-b241-3772ea151e98","name":"Predict Heart Failure","comments":"","position":{"x":728.0,"y":680.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"https","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{cml.remote.url}","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"2048","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"d3fecf89-795e-31b5-9085-a241498a6556","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"88b6647f-5f6d-394a-94e6-30ae2744e763","instanceIdentifier":"66612b92-12df-3e43-bffe-2218782e53ec","name":"Publish Kafka","comments":"","position":{"x":720.0,"y":1440.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"130ca8db-39e4-3b18-a9a4-c78b6b7ee913","bootstrap.servers":"#{Kafka Broker Endpoint}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"44abb197-a839-32a4-91b4-865a83571aba","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Kafka Results Topic}","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"b9e0850e-dcf3-3f93-9466-4a7de24c5bef","instanceIdentifier":"084bbe7e-6ffb-3264-8c1d-ed31924d0bd7","name":"Build Prediction Call","comments":"","position":{"x":726.9998,"y":438.99973},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"accessKey\": \"#{cml.access.key}\",\n  \"request\": {\n    \"patient_id\" : \"${msg.patient_id}\",\n    \"age\": ${msg.age},\n    \"anaemia\": ${msg.anaemia},\n    \"creatinine_phosphokinase\": ${msg.creatinine_phosphokinase},\n    \"diabetes\": ${msg.diabetes},\n    \"ejection_fraction\": ${msg.ejection_fraction},\n    \"high_blood_pressure\": ${msg.high_blood_pressure},\n    \"platelets\": ${msg.platelets},\n    \"serum_creatinine\": ${msg.serum_creatinine},\n    \"serum_sodium\": ${msg.serum_sodium},\n    \"sex\": ${msg.sex},\n    \"smoking\": ${msg.smoking},\n    \"time\": ${msg.time}  }\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"5d97228f-ee3a-3454-bf10-3570449cc246","instanceIdentifier":"6d120df5-6f3a-39b0-80c3-34a25198d91f","name":"Extract Medical Attributes","comments":"","position":{"x":720.0,"y":232.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Destination":"flowfile-attribute","msg.serum_sodium":"$.serum_sodium","msg.patient_id":"$.patient_id","msg.ejection_fraction":"$.ejection_fraction","msg.diabetes":"$.diabetes","Return Type":"auto-detect","msg.smoking":"$.smoking","msg.ts":"$.ts","Null Value Representation":"empty string","msg.platelets":"$.platelets","Path Not Found Behavior":"ignore","msg.serum_creatinine":"$.serum_creatinine","msg.anaemia":"$.anaemia","msg.name":"$.name","msg.time":"$.time","msg.age":"$.age","msg.creatinine_phosphokinase":"$.creatinine_phosphokinase","msg.high_blood_pressure":"$.high_blood_pressure","msg.sex":"$.sex"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"msg.serum_sodium":{"name":"msg.serum_sodium","displayName":"msg.serum_sodium","identifiesControllerService":false,"sensitive":false},"msg.patient_id":{"name":"msg.patient_id","displayName":"msg.patient_id","identifiesControllerService":false,"sensitive":false},"msg.ejection_fraction":{"name":"msg.ejection_fraction","displayName":"msg.ejection_fraction","identifiesControllerService":false,"sensitive":false},"msg.diabetes":{"name":"msg.diabetes","displayName":"msg.diabetes","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"msg.smoking":{"name":"msg.smoking","displayName":"msg.smoking","identifiesControllerService":false,"sensitive":false},"msg.ts":{"name":"msg.ts","displayName":"msg.ts","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"msg.platelets":{"name":"msg.platelets","displayName":"msg.platelets","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"msg.serum_creatinine":{"name":"msg.serum_creatinine","displayName":"msg.serum_creatinine","identifiesControllerService":false,"sensitive":false},"msg.anaemia":{"name":"msg.anaemia","displayName":"msg.anaemia","identifiesControllerService":false,"sensitive":false},"msg.name":{"name":"msg.name","displayName":"msg.name","identifiesControllerService":false,"sensitive":false},"msg.time":{"name":"msg.time","displayName":"msg.time","identifiesControllerService":false,"sensitive":false},"msg.age":{"name":"msg.age","displayName":"msg.age","identifiesControllerService":false,"sensitive":false},"msg.creatinine_phosphokinase":{"name":"msg.creatinine_phosphokinase","displayName":"msg.creatinine_phosphokinase","identifiesControllerService":false,"sensitive":false},"msg.high_blood_pressure":{"name":"msg.high_blood_pressure","displayName":"msg.high_blood_pressure","identifiesControllerService":false,"sensitive":false},"msg.sex":{"name":"msg.sex","displayName":"msg.sex","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"98f2b105-0104-3eca-bc56-a1b175d9f101","instanceIdentifier":"10846464-5357-3caf-919b-60cc6f766a19","name":"Extract Prediction","comments":"","position":{"x":726.9998,"y":934.9997},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Destination":"flowfile-attribute","cml.prediction":"$.response","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"cml.prediction":{"name":"cml.prediction","displayName":"cml.prediction","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"403174d9-6512-3b75-9d1e-2804974222b1","instanceIdentifier":"d184a27f-4bb5-393e-93ad-329b1974b8f9","name":"Update Content","comments":"","position":{"x":726.9998,"y":-33.00028},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${stream.value}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"fcea8d82-f6f7-34bd-8160-192042cc7cd1","instanceIdentifier":"44f5e88c-e5ed-381a-9c64-d7e9dcadc56a","name":"Parse JSON","comments":"","position":{"x":726.9998,"y":-273.00027},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Destination":"flowfile-attribute","stream.value":"$.value","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"stream.value":{"name":"stream.value","displayName":"stream.value","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"d05d2827-a88a-3838-8c35-e28bc25f91b0","instanceIdentifier":"c50cc81e-4992-39e1-9fac-c53be299b74f","name":"Consume Kafka","comments":"","position":{"x":728.0,"y":-568.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2CDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"cg1","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":"#{CDP Workload User}","max.poll.records":"10000","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Destination Topic}","separate-by-key":"false","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"80c18f0a-b2ad-38bb-9057-88b795ab4a5f","instanceIdentifier":"dc825b5b-7c2d-38e5-9d2e-36bbdfcc916b","name":"Add Prediction to Medical Record","comments":"","position":{"x":726.9998,"y":1174.9998},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n    \"patient_id\" : \"${msg.patient_id}\",\n    \"age\": ${msg.age},\n    \"anaemia\": ${msg.anaemia},\n    \"creatinine_phosphokinase\": ${msg.creatinine_phosphokinase},\n    \"diabetes\": ${msg.diabetes},\n    \"ejection_fraction\": ${msg.ejection_fraction},\n    \"high_blood_pressure\": ${msg.high_blood_pressure},\n    \"platelets\": ${msg.platelets},\n    \"serum_creatinine\": ${msg.serum_creatinine},\n    \"serum_sodium\": ${msg.serum_sodium},\n    \"sex\": ${msg.sex},\n    \"smoking\": ${msg.smoking},\n    \"time\": ${msg.time},\n\t\"predicted_heart_failure\": ${cml.prediction}\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a59a4803-c6d6-33ed-88c7-87f69edab31a","instanceIdentifier":"8f0f2fc2-c1f4-3bde-abde-e7c80c5aa294","name":"","source":{"id":"98f2b105-0104-3eca-bc56-a1b175d9f101","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Extract Prediction","comments":"","instanceIdentifier":"10846464-5357-3caf-919b-60cc6f766a19"},"destination":{"id":"80c18f0a-b2ad-38bb-9057-88b795ab4a5f","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Add Prediction to Medical Record","comments":"","instanceIdentifier":"dc825b5b-7c2d-38e5-9d2e-36bbdfcc916b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"399ddb83-4af6-34e9-a831-d0f8bbb93251","instanceIdentifier":"55143182-d70f-3a2b-8c3b-21ce0bb1169a","name":"","source":{"id":"6a263696-94d1-32dc-a15c-bf984201cb1d","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Predict Heart Failure","comments":"","instanceIdentifier":"48be259c-8cf2-3cf3-b241-3772ea151e98"},"destination":{"id":"6a263696-94d1-32dc-a15c-bf984201cb1d","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Predict Heart Failure","comments":"","instanceIdentifier":"48be259c-8cf2-3cf3-b241-3772ea151e98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1198.7759,"y":715.68225},{"x":1198.7759,"y":765.68225}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"b65cc79a-2fb2-3acc-8142-f90e191b674b","instanceIdentifier":"8bbffe8f-39cb-387d-b31e-dae92d233c56","name":"","source":{"id":"5d97228f-ee3a-3454-bf10-3570449cc246","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Extract Medical Attributes","comments":"","instanceIdentifier":"6d120df5-6f3a-39b0-80c3-34a25198d91f"},"destination":{"id":"b9e0850e-dcf3-3f93-9466-4a7de24c5bef","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Build Prediction Call","comments":"","instanceIdentifier":"084bbe7e-6ffb-3264-8c1d-ed31924d0bd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"ce08f994-0dae-3a09-9b91-358075522f63","instanceIdentifier":"20ce70d5-191c-36a8-80bb-b2a8c662ec35","name":"","source":{"id":"d05d2827-a88a-3838-8c35-e28bc25f91b0","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Consume Kafka","comments":"","instanceIdentifier":"c50cc81e-4992-39e1-9fac-c53be299b74f"},"destination":{"id":"fcea8d82-f6f7-34bd-8160-192042cc7cd1","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Parse JSON","comments":"","instanceIdentifier":"44f5e88c-e5ed-381a-9c64-d7e9dcadc56a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"c7b3c27c-42c5-30d0-b83c-4885cd76b92f","instanceIdentifier":"1681e532-5855-30d5-8a18-deb3d63f0607","name":"","source":{"id":"fcea8d82-f6f7-34bd-8160-192042cc7cd1","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Parse JSON","comments":"","instanceIdentifier":"44f5e88c-e5ed-381a-9c64-d7e9dcadc56a"},"destination":{"id":"403174d9-6512-3b75-9d1e-2804974222b1","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Update Content","comments":"","instanceIdentifier":"d184a27f-4bb5-393e-93ad-329b1974b8f9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"80de0b5a-2712-38f1-bac6-0bc97d0c056e","instanceIdentifier":"880436f8-80a8-19cc-ffff-ffffb60978de","name":"","source":{"id":"b9e0850e-dcf3-3f93-9466-4a7de24c5bef","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Build Prediction Call","comments":"","instanceIdentifier":"084bbe7e-6ffb-3264-8c1d-ed31924d0bd7"},"destination":{"id":"6a263696-94d1-32dc-a15c-bf984201cb1d","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Predict Heart Failure","comments":"","instanceIdentifier":"48be259c-8cf2-3cf3-b241-3772ea151e98"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"ae721ecd-896d-394d-a74f-d8f380e6f494","instanceIdentifier":"a904526d-20c4-367d-b39e-f55bd7744da3","name":"","source":{"id":"88b6647f-5f6d-394a-94e6-30ae2744e763","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Publish Kafka","comments":"","instanceIdentifier":"66612b92-12df-3e43-bffe-2218782e53ec"},"destination":{"id":"88b6647f-5f6d-394a-94e6-30ae2744e763","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Publish Kafka","comments":"","instanceIdentifier":"66612b92-12df-3e43-bffe-2218782e53ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1189.0,"y":1479.0},{"x":1189.0,"y":1529.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"0f039979-9e0c-39c3-b340-56d8d2d2193b","instanceIdentifier":"0c8d8110-f13a-3f5e-9e1b-6df47df9e1da","name":"","source":{"id":"80c18f0a-b2ad-38bb-9057-88b795ab4a5f","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Add Prediction to Medical Record","comments":"","instanceIdentifier":"dc825b5b-7c2d-38e5-9d2e-36bbdfcc916b"},"destination":{"id":"88b6647f-5f6d-394a-94e6-30ae2744e763","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Publish Kafka","comments":"","instanceIdentifier":"66612b92-12df-3e43-bffe-2218782e53ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"64be3604-3e9d-3bd2-838f-5ca8f44f7e9f","instanceIdentifier":"d1be874b-e2e7-34a4-8054-193febcb4048","name":"","source":{"id":"6a263696-94d1-32dc-a15c-bf984201cb1d","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Predict Heart Failure","comments":"","instanceIdentifier":"48be259c-8cf2-3cf3-b241-3772ea151e98"},"destination":{"id":"98f2b105-0104-3eca-bc56-a1b175d9f101","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Extract Prediction","comments":"","instanceIdentifier":"10846464-5357-3caf-919b-60cc6f766a19"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"bd69cb01-7f33-3621-80ec-50c0ff0beaf1","instanceIdentifier":"e476ca53-0185-1000-ffff-ffff8e71dfbd","name":"","source":{"id":"403174d9-6512-3b75-9d1e-2804974222b1","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Update Content","comments":"","instanceIdentifier":"d184a27f-4bb5-393e-93ad-329b1974b8f9"},"destination":{"id":"5d97228f-ee3a-3454-bf10-3570449cc246","type":"PROCESSOR","groupId":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b","name":"Extract Medical Attributes","comments":"","instanceIdentifier":"6d120df5-6f3a-39b0-80c3-34a25198d91f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"}],"labels":[{"identifier":"ed95d204-29b1-39f7-a31d-241733e30a58","instanceIdentifier":"8802380f-80a8-19cc-a2ea-69007c21db2f","position":{"x":312.0,"y":1392.0},"label":"Store","zIndex":0,"width":1216.0,"height":240.0,"style":{"background-color":"#ccffe7","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"cae4591e-f421-358f-beae-f8e761445614","instanceIdentifier":"9f393aac-e319-1770-8e68-b8186725efdb","position":{"x":328.0,"y":-424.0},"label":"Process","zIndex":0,"width":1216.0,"height":1704.0,"style":{"background-color":"#d4fffe","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"3392ea7c-3a68-3e55-a152-b9e797c68861","instanceIdentifier":"e95687d4-0185-1000-ffff-ffffe1fea3a7","position":{"x":320.0,"y":-632.0},"label":"Acquire","zIndex":0,"width":1216.0,"height":240.0,"style":{"background-color":"#d6e0ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"}],"funnels":[],"controllerServices":[{"identifier":"1fa580a7-9184-3c07-92d7-bda5b254bab5","instanceIdentifier":"e46b0eca-0185-1000-0000-000050d26e89","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"38494ca8-02ce-3116-a00d-4d7f2910bd92","instanceIdentifier":"e46bfc50-0185-1000-ffff-fffffda540cd","name":"CMLWriterJSON","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"b701acd6-1723-368d-86d7-ede651efd4d4","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"d0d8516c-0edc-30a6-8d23-fe6417099f3a","instanceIdentifier":"e470c251-0185-1000-ffff-ffffae262b5d","name":"CMLRestLookupService","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"rest-lookup-record-reader":"1fa580a7-9184-3c07-92d7-bda5b254bab5","Authorization":"Bearer ${cdsw.model.api.key}","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"https://modelservice.ml-4c5feac0-3ec.go01-dem.ylcu-atmi.cloudera.site/model","rest-lookup-ssl-context-service":"d3fecf89-795e-31b5-9085-a241498a6556","proxy-configuration-service":null,"rest-lookup-record-path":"/prediction","rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"},{"identifier":"b701acd6-1723-368d-86d7-ede651efd4d4","instanceIdentifier":"e46c3642-0185-1000-0000-0000722a17b8","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"avro-reg-validated-field-names":"true","medresults":"{\n    \"type\": \"record\",\n    \"name\": \"medresults\",\n    \"namespace\": \"demos\",\n    \"fields\": [{\n        \"name\": \"anaemia\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"serum_creatinine\",\n        \"type\": \"float\"\n    },{\n        \"name\": \"sex\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"creatinine_phosphokinase\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"ejection_fraction\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"platelets\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"high_blood_pressure\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"patient_id\",\n        \"type\": \"string\"\n    },{\n        \"name\": \"smoking\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"serum_sodium\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"time\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"diabetes\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"age\",\n        \"type\": \"int\"\n    },{\n        \"name\": \"prediction\",\n        \"type\": \"int\"\n    }\n    ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"medresults":{"name":"medresults","displayName":"medresults","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d0b47d53-f11c-3ac8-9ef2-48d0f3983f5b"}],"variables":{"cdsw.access.key":"m5iwjs0mutr94yhbzhs225p5aeqkrj58","cdsw.model.api.key":"d8b121ee3bf678f54e8b45c10f27394f63845a4030c862dad12485771b6812f9.830ab21db1d48f510e7923dac86f7dabb9100e6cd2cbee9c986bfaa6e7399b80"},"parameterContextName":"CML","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7fd6d5a9-4331-3ddb-b265-c6a7c075f9eb"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3fbc073d-7b7f-3fb3-bd29-6326fb858af6","instanceIdentifier":"ed835618-b18f-3bb3-8be6-b31d1f0113e6","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7fd6d5a9-4331-3ddb-b265-c6a7c075f9eb"},{"identifier":"130ca8db-39e4-3b18-a9a4-c78b6b7ee913","instanceIdentifier":"ec3ba622-7705-31dd-b796-4af1d76fe932","name":"CMLJsonWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7fd6d5a9-4331-3ddb-b265-c6a7c075f9eb"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cbd0d88a-0185-1000-ffff-ffffa669639e"},{"identifier":"44abb197-a839-32a4-91b4-865a83571aba","instanceIdentifier":"ed953f05-62d9-327d-95eb-b1074e00812e","name":"CMLJsonReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7fd6d5a9-4331-3ddb-b265-c6a7c075f9eb"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"cbd0d88a-0185-1000-ffff-ffffa669639e"}],"variables":{},"parameterContextName":"CML","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"CML":{"name":"CML","parameters":[{"name":"CDP Workload User Password","description":"","sensitive":true,"provided":false},{"name":"Kafka Destination Topic","description":"","sensitive":false,"provided":false,"value":"medical-records"},{"name":"CDP Workload User","description":"","sensitive":false,"provided":false,"value":"nismaily"},{"name":"Kafka Producer ID","description":"","sensitive":false,"provided":false,"value":"nifi_dh"},{"name":"cml.access.key","description":"","sensitive":false,"provided":false,"value":"m5iwjs0mutr94yhbzhs225p5aeqkrj58"},{"name":"Kafka Results Topic","description":"","sensitive":false,"provided":false,"value":"medical-record-predictions"},{"name":"cml.remote.url","description":"","sensitive":false,"provided":false,"value":"https://modelservice.ml-4c5feac0-3ec.go01-dem.ylcu-atmi.cloudera.site/model"},{"name":"Kafka Broker Endpoint","description":"","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}