NiFi_Syslog_to_Kafka/syslog-to-kafka.json
{"flowContents":{"identifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a","instanceIdentifier":"98c4e8fd-0186-1000-0000-000029b9b9cf","name":"syslog-to-kafka","comments":"","position":{"x":15064.0,"y":3592.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"49470951-81f0-3eac-84c5-08ae85092054","instanceIdentifier":"c5f426de-ad6b-384e-a016-f6fc44edd0f7","name":"WriteToKafka","comments":"","position":{"x":-40.0,"y":1800.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.2-2"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"0cce4749-be5e-3460-9b6a-20bf7d2ffc1a","bootstrap.servers":"#{Kafka Broker Endpoint}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"4628730f-7679-39ff-9a78-06ad135065c9","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{Kafka Producer ID}","ack.wait.time":"5 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"1","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"e6872ddf-b0df-3248-96c5-5aba823f88e8","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Kafka Destination Topic}","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"24f57837-45b5-3263-b6b6-9f45095d8f04","instanceIdentifier":"668b7759-b6f3-3781-90e5-57b430d029bc","name":"Filter Events","comments":"","position":{"x":-152.0,"y":1432.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"cache-schema":"false","dbf-default-precision":"10","filtered_events":"#{Filter Rule}","record-writer":"0cce4749-be5e-3460-9b6a-20bf7d2ffc1a","record-reader":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"filtered_events":{"name":"filtered_events","displayName":"filtered_events","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"fee6afe6-239c-3b03-9d3a-cebd776fa08c","instanceIdentifier":"ac411f21-6abd-3343-a81c-41a5f0b42afe","name":"Generate Syslog RFC5424","comments":"","position":{"x":96.0,"y":1096.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"##\n## Author: Nasheb Ismaily\n## Description: Generates a random RFC5424 format syslog message\n##\n\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nimport random\nfrom datetime import datetime\n\nclass PyOutputStreamCallback(OutputStreamCallback):\n    def __init__(self):\n        pass\n\n    def process(self, outputStream):\n        hostname = \"host\"\n        domain_name = \".example.com\"\n        tag = [\"kernel\", \"python\", \"application\"]\n        version = \"1\"\n        nouns = \"application\"\n        verbs = (\"started\", \"stopped\", \"exited\", \"completed\")\n        adv = (\"successfully\", \"unexpectedly\", \"cleanly\", \"gracefully\")\n\n        for i in range(1,10):\n            application = \"{0}{1}\".format(nouns, random.choice(range(1, 11)))\n            message_id = \"ID{0}\".format(random.choice(range(1, 50)))\n            random_tag = random.choice(tag)\n            structured_data = \"[SDID iut=\\\"{0}\\\" eventSource=\\\"{1}\\\" eventId=\\\"{2}\\\"]\".format(random.choice(range(1, 10)), random_tag, random.choice(range(1, 100)))\n            time_output = datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z'\n            random_host = random.choice(range(1, 11))\n            fqdn = \"{0}{1}{2}\".format(hostname, random_host, domain_name)\n            random_pid = random.choice(range(500, 9999))\n            priority = random.choice(range(0, 191))\n            num = random.randrange(0, 4)\n            random_message = application + ' has ' + verbs[num] + ' ' + adv[num]\n\n            syslog_output = (\"<{0}>{1} {2} {3} {4} {5} {6} {7} {8}\\n\".format(priority, version, time_output, fqdn, application,random_pid, message_id,structured_data, random_message))\n            outputStream.write(bytearray(syslog_output.encode('utf-8')))\n\nflowFile = session.create()\nif (flowFile != None):\n    flowFile = session.write(flowFile, PyOutputStreamCallback())\n    session.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"06326bc0-3146-38e8-88c1-270688207c71","instanceIdentifier":"a5f4bed1-018b-1000-0000-0000128e70d4","name":"PutS3Object","comments":"","position":{"x":602.832635279419,"y":1534.036673863409},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":null,"Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"0c0ac625-091a-3b5d-8993-79eb769d822e","instanceIdentifier":"b9861f95-018b-1000-0000-00005732a99e","name":"PutAzureDataLakeStorage","comments":"","position":{"x":-760.0,"y":1632.0},"type":"org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"filesystem-name":null,"conflict-resolution-strategy":"fail","adls-credentials-service":null,"proxy-configuration-service":null,"directory-name":null,"file-name":"${azure.filename}","base-temporary-path":""},"propertyDescriptors":{"filesystem-name":{"name":"filesystem-name","displayName":"Filesystem Name","identifiesControllerService":false,"sensitive":false},"conflict-resolution-strategy":{"name":"conflict-resolution-strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false},"adls-credentials-service":{"name":"adls-credentials-service","displayName":"ADLS Credentials","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"directory-name":{"name":"directory-name","displayName":"Directory Name","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false},"base-temporary-path":{"name":"base-temporary-path","displayName":"Base Temporary Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6a5e28f3-a31e-3a16-b7df-055b306f587a","instanceIdentifier":"3272579d-651f-379b-a352-356b6aa86d25","name":"success_Generate-FilterEvents","source":{"id":"fee6afe6-239c-3b03-9d3a-cebd776fa08c","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"Generate Syslog RFC5424","comments":"","instanceIdentifier":"ac411f21-6abd-3343-a81c-41a5f0b42afe"},"destination":{"id":"24f57837-45b5-3263-b6b6-9f45095d8f04","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"Filter Events","comments":"","instanceIdentifier":"668b7759-b6f3-3781-90e5-57b430d029bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"d904b786-3435-35f7-a4f0-c9954224d2df","instanceIdentifier":"cdb7a8ff-b3c3-35a1-85d7-872eb8c61e31","name":"failure_WriteToKafka","source":{"id":"49470951-81f0-3eac-84c5-08ae85092054","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"WriteToKafka","comments":"","instanceIdentifier":"c5f426de-ad6b-384e-a016-f6fc44edd0f7"},"destination":{"id":"49470951-81f0-3eac-84c5-08ae85092054","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"WriteToKafka","comments":"","instanceIdentifier":"c5f426de-ad6b-384e-a016-f6fc44edd0f7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":178.90520061708662,"y":1983.1816828336407},{"x":130.90520061708662,"y":2055.1816828336405}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"ad163074-0119-3ce6-a70c-ee492c72686c","instanceIdentifier":"b9869b1f-018b-1000-ffff-ffffda69ecd0","name":"","source":{"id":"24f57837-45b5-3263-b6b6-9f45095d8f04","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"Filter Events","comments":"","instanceIdentifier":"668b7759-b6f3-3781-90e5-57b430d029bc"},"destination":{"id":"0c0ac625-091a-3b5d-8993-79eb769d822e","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"PutAzureDataLakeStorage","comments":"","instanceIdentifier":"b9861f95-018b-1000-0000-00005732a99e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filtered_events"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"484902f2-5d75-38c1-b512-8257c07f9146","instanceIdentifier":"3ad609b1-8903-3c32-8996-1ad0fd28de6c","name":"","source":{"id":"24f57837-45b5-3263-b6b6-9f45095d8f04","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"Filter Events","comments":"","instanceIdentifier":"668b7759-b6f3-3781-90e5-57b430d029bc"},"destination":{"id":"49470951-81f0-3eac-84c5-08ae85092054","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"WriteToKafka","comments":"","instanceIdentifier":"c5f426de-ad6b-384e-a016-f6fc44edd0f7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["filtered_events"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"ba7333a1-34bf-3923-beb9-4a9222848d7d","instanceIdentifier":"a5f4d7e5-018b-1000-ffff-ffffd9130276","name":"","source":{"id":"24f57837-45b5-3263-b6b6-9f45095d8f04","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"Filter Events","comments":"","instanceIdentifier":"668b7759-b6f3-3781-90e5-57b430d029bc"},"destination":{"id":"06326bc0-3146-38e8-88c1-270688207c71","type":"PROCESSOR","groupId":"238eb2bd-173b-3045-89fe-108fcbbfb54a","name":"PutS3Object","comments":"","instanceIdentifier":"a5f4bed1-018b-1000-0000-0000128e70d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0cce4749-be5e-3460-9b6a-20bf7d2ffc1a","instanceIdentifier":"e4b1bb03-792a-38d5-9d8d-294d6fde9a2c","name":"JSON_Syslog_5424_Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"#{Schema Name}","schema-registry":"195d6cf3-08d5-30b9-aa83-bdcd15c8f247","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"195d6cf3-08d5-30b9-aa83-bdcd15c8f247","instanceIdentifier":"a527e950-30af-3280-8a68-b1d59661cac5","name":"CDP_Schema_Registry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"e6872ddf-b0df-3248-96c5-5aba823f88e8","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"4628730f-7679-39ff-9a78-06ad135065c9","instanceIdentifier":"9465b3c4-9d06-39c7-b01c-66a36062a94c","name":"JSON_Syslog_5424_Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{Schema Name}","starting-field-strategy":"ROOT_NODE","schema-registry":"195d6cf3-08d5-30b9-aa83-bdcd15c8f247","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"},{"identifier":"e6872ddf-b0df-3248-96c5-5aba823f88e8","instanceIdentifier":"98c4e73d-0186-1000-ffff-ffff9e72b9f2","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"98c4e8fd-0186-1000-0000-000029b9b9cf"},{"identifier":"16e3df33-d164-3e2a-9ab3-1d9cc3cdef33","instanceIdentifier":"67fc84c6-b255-3154-8c5e-9da49502fbd7","name":"Syslog_5424_Reader","type":"org.apache.nifi.syslog.Syslog5424Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Character Set":"UTF-8","syslog-5424-reader-raw-message":"false"},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"syslog-5424-reader-raw-message":{"name":"syslog-5424-reader-raw-message","displayName":"Raw message","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"238eb2bd-173b-3045-89fe-108fcbbfb54a"}],"variables":{},"parameterContextName":"syslog-to-kafka","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"syslog-to-kafka":{"name":"syslog-to-kafka","parameters":[{"name":"CDP Workload User Password","description":"Specify the password of the CDP machine user or workload user you are using to authenticate against Kafka.","sensitive":true,"provided":false},{"name":"CDP Workload User","description":"Specify the CDP machine user or workload user name that you want to use to authenticate to Kafka. Ensure this user has the appropriate access rights to the source and destination Kafka topics.","sensitive":false,"provided":false,"value":"ahennessy"},{"name":"Kafka Destination Topic","description":"Specify the destination topic name.","sensitive":false,"provided":false,"value":"syslog"},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-master0.go01-dem.ylcu-atmi.cloudera.site"},{"name":"Kafka Producer ID","description":"Specify the id for the Kafka producer writing into the destination topic.","sensitive":false,"provided":false,"value":"cdf-aw-dfx"},{"name":"Filter Rule","description":"Specify the SQL Filter that will be applied to the incoming Syslog data.","sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE"},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry.","sensitive":false,"provided":false,"value":"syslog"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}