NiFi_S3-to-Kafka-to-COD/SCE-CDP-Demo-DataflowV12.json
{"flowContents":{"identifier":"5885ffde-9eeb-3852-9f60-47002c5e9774","instanceIdentifier":"d2d03d49-018a-1000-0000-00005beef1a3","name":"SCE-CDP-Demo-DataflowV12","position":{"x":672.0,"y":192.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"47b0be03-fa4d-3fea-a937-53482eb570dd","instanceIdentifier":"d3087317-018a-1000-0000-00001ba5aeaa","name":"UpdateAttribute","comments":"","position":{"x":-856.0,"y":144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"f2423ba4-8a1c-4a6c-b421-a2742c5dfe45","instanceIdentifier":"ad179d08-88d3-3f4f-a2a8-8d9c73c0fc98","name":"Consume From Kafka","comments":"","position":{"x":616.1522827249813,"y":-54.165583588674735},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"header-name-regex":null,"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"90899e0d-54c1-4ba6-92dc-f039446fc837","group.id":"#{Kafka Consumer Group ID}","bootstrap.servers":"#{Kafka Brokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","record-reader":"4e6140d5-5bac-47ba-b215-4f87849fe316","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":"#{CDP Username}","max.poll.records":"#{Max Poll Records}","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"85fa7344-eee0-3547-89b0-0c76e54082cb","key-record-reader":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Topic Name}","separate-by-key":"false","sasl.password":"#{CDP Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"2e81dbfc-8250-43d7-99a0-d20fedae32b4","instanceIdentifier":"94c9db9a-6895-3152-b76d-b6dd04719f3f","name":"GenerateFlowFile","comments":"","position":{"x":18.60057138261277,"y":-302.92308940062344},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"bd9aca84-34d9-3a51-bc92-a57e117f37b4","instanceIdentifier":"d309a3f4-018a-1000-0000-00006498d8e9","name":"LookupRecord","comments":"","position":{"x":-848.0,"y":384.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":null,"record-writer":null,"record-reader":null,"lookup-service":null,"record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","instanceIdentifier":"6b564070-be56-37e6-a9ec-7cd9829868ab","name":"Fetch file from CDP ObjectStore","comments":"","position":{"x":16.0,"y":72.0},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"kerberos-credentials-service":null,"cdp.configuration.resources":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml","filename":"#{Filename}","Kerberos Password":"#{CDP Password}","cdp-storage-location":"#{Storage Bucket}","Kerberos Principal":"#{CDP Username}"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"cdp.configuration.resources":{"name":"cdp.configuration.resources","displayName":"cdp.configuration.resources","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"80c6df70-4973-4ddb-a2d1-b0e21496a376","instanceIdentifier":"06cfb5f7-8d31-3a33-b491-e560ca2d6b01","name":"Write To Operational DB (HBase)","comments":"","position":{"x":605.3283081156063,"y":404.52410032550983},"type":"org.apache.nifi.hbase.PutHBaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Table Name":"#{COD Table Name}","Row Identifier Field Name":"#{COD Row Identifier Field Name}","hbase-record-null-field-strategy":"skip-field","Column Family":"#{COD Column Family Name}","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"#{Batch Size}","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"4e6140d5-5bac-47ba-b215-4f87849fe316","HBase Client Service":"65191e02-45bd-4ad7-b1bc-8e477fad0bfc","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"978d637a-11b9-4784-bda9-6dc0c889679a","instanceIdentifier":"cf36a714-c3c6-3f2b-b51c-8d74f9422543","name":"Publish to Kafka Topic","comments":"","position":{"x":25.461495663308142,"y":455.00627139469907},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"90899e0d-54c1-4ba6-92dc-f039446fc837","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","record-reader":"4e6140d5-5bac-47ba-b215-4f87849fe316","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"#{CDP Username}","use-transactions":"true","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"85fa7344-eee0-3547-89b0-0c76e54082cb","max.request.size":"#{Max Request Size}","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Topic Name}","sasl.password":"#{CDP Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"}],"inputPorts":[],"outputPorts":[{"identifier":"8f84f711-4695-4b56-899b-5466847ddaed","instanceIdentifier":"8e9997ee-b30c-3e5d-9204-ddc595193b78","name":"Kafka Parse Failure","comments":"","position":{"x":1271.6304931742002,"y":-12.038014390066337},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"}],"connections":[{"identifier":"e36599fa-0c4f-4f76-a1d3-74c6cdb2628e","instanceIdentifier":"41a976ff-9697-3062-b972-5353752fceba","name":"","source":{"id":"978d637a-11b9-4784-bda9-6dc0c889679a","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Publish to Kafka Topic","comments":"","instanceIdentifier":"cf36a714-c3c6-3f2b-b51c-8d74f9422543"},"destination":{"id":"63c6277f-f12f-48aa-84cf-db38d70e9c4f","type":"FUNNEL","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Funnel","comments":"","instanceIdentifier":"c5970745-67b0-352a-9081-592afceaa869"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"06d8bd92-ef55-40df-97a1-c19d5ce38f5f","instanceIdentifier":"45bb058e-00be-3dd0-8ecf-1a1de976a18b","name":"success_ConsumeFromKafka-WriteToCOD","source":{"id":"f2423ba4-8a1c-4a6c-b421-a2742c5dfe45","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Consume From Kafka","comments":"","instanceIdentifier":"ad179d08-88d3-3f4f-a2a8-8d9c73c0fc98"},"destination":{"id":"80c6df70-4973-4ddb-a2d1-b0e21496a376","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Write To Operational DB (HBase)","comments":"","instanceIdentifier":"06cfb5f7-8d31-3a33-b491-e560ca2d6b01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"e819963f-7ccb-4f61-821d-c1c10706fa81","instanceIdentifier":"0eb6ebbc-0b0f-3158-a08b-a87cba8d37d2","name":"","source":{"id":"978d637a-11b9-4784-bda9-6dc0c889679a","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Publish to Kafka Topic","comments":"","instanceIdentifier":"cf36a714-c3c6-3f2b-b51c-8d74f9422543"},"destination":{"id":"b83a049f-f2db-4c34-8c19-d6282017dc83","type":"FUNNEL","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Funnel","comments":"","instanceIdentifier":"406e10d0-c0fc-3586-ba41-83d35fdecb8d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"4909fe9d-b18b-46a6-b146-4a4abff29739","instanceIdentifier":"6c1e992a-88d0-3c13-a9c9-a2ce7cddbf28","name":"parse.failure_ConsumeFromKafka","source":{"id":"f2423ba4-8a1c-4a6c-b421-a2742c5dfe45","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Consume From Kafka","comments":"","instanceIdentifier":"ad179d08-88d3-3f4f-a2a8-8d9c73c0fc98"},"destination":{"id":"8f84f711-4695-4b56-899b-5466847ddaed","type":"OUTPUT_PORT","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Kafka Parse Failure","comments":"","instanceIdentifier":"8e9997ee-b30c-3e5d-9204-ddc595193b78"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"97213861-b882-3266-91bc-71514df07ee7","instanceIdentifier":"d309d9fc-018a-1000-ffff-ffffaa12ed07","name":"","source":{"id":"47b0be03-fa4d-3fea-a937-53482eb570dd","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"UpdateAttribute","comments":"","instanceIdentifier":"d3087317-018a-1000-0000-00001ba5aeaa"},"destination":{"id":"bd9aca84-34d9-3a51-bc92-a57e117f37b4","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"LookupRecord","comments":"","instanceIdentifier":"d309a3f4-018a-1000-0000-00006498d8e9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"bc29d36f-a253-4e7b-88d3-5cd354b69e5e","instanceIdentifier":"be8c1f09-f6f9-3212-a041-0cd43df6b2cb","name":"Fetch file success","source":{"id":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Fetch file from CDP ObjectStore","comments":"","instanceIdentifier":"6b564070-be56-37e6-a9ec-7cd9829868ab"},"destination":{"id":"978d637a-11b9-4784-bda9-6dc0c889679a","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Publish to Kafka Topic","comments":"","instanceIdentifier":"cf36a714-c3c6-3f2b-b51c-8d74f9422543"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"3b1c980b-8e03-49a7-9cec-5fb7b3e48550","instanceIdentifier":"0f7f473e-369d-3860-88f0-e8eb5cf07874","name":"failure_WriteToCOD","source":{"id":"80c6df70-4973-4ddb-a2d1-b0e21496a376","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Write To Operational DB (HBase)","comments":"","instanceIdentifier":"06cfb5f7-8d31-3a33-b491-e560ca2d6b01"},"destination":{"id":"80c6df70-4973-4ddb-a2d1-b0e21496a376","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Write To Operational DB (HBase)","comments":"","instanceIdentifier":"06cfb5f7-8d31-3a33-b491-e560ca2d6b01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":813.3283081156063,"y":628.5241003255098},{"x":765.3283081156063,"y":676.5241003255098}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"17409959-8eda-3ca9-8f56-6f9acf7ee4f9","instanceIdentifier":"d30a284a-018a-1000-ffff-ffff93c1a9c6","name":"","source":{"id":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Fetch file from CDP ObjectStore","comments":"","instanceIdentifier":"6b564070-be56-37e6-a9ec-7cd9829868ab"},"destination":{"id":"47b0be03-fa4d-3fea-a937-53482eb570dd","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"UpdateAttribute","comments":"","instanceIdentifier":"d3087317-018a-1000-0000-00001ba5aeaa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"56de35ab-626e-431b-a516-4bb0c59eb0c9","instanceIdentifier":"65e881c1-38ae-3cae-a332-d3a10a0dc737","name":"","source":{"id":"2e81dbfc-8250-43d7-99a0-d20fedae32b4","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"GenerateFlowFile","comments":"","instanceIdentifier":"94c9db9a-6895-3152-b76d-b6dd04719f3f"},"destination":{"id":"bb1261ce-11cc-4ac1-90ce-04ccc0676592","type":"PROCESSOR","groupId":"5885ffde-9eeb-3852-9f60-47002c5e9774","name":"Fetch file from CDP ObjectStore","comments":"","instanceIdentifier":"6b564070-be56-37e6-a9ec-7cd9829868ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"}],"labels":[{"identifier":"11de6879-f1b2-4d21-936a-c9b2f554ddb6","instanceIdentifier":"e5574644-ab85-3a52-909d-909fe2562fb5","position":{"x":-364.6484885227753,"y":-514.3395061080574},"label":"S3 to Kafka","zIndex":0,"width":800.0,"height":1216.0,"style":{"background-color":"#CDF6FF","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"73583a3c-a636-4374-a3a5-cf09fd060861","instanceIdentifier":"9b88e425-f359-3e42-9a17-5acbbd43801a","position":{"x":576.7183246957142,"y":-165.42762128275356},"label":"Kafka to Cloudera Operational Database","zIndex":0,"width":704.0,"height":928.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"}],"funnels":[{"identifier":"b83a049f-f2db-4c34-8c19-d6282017dc83","instanceIdentifier":"406e10d0-c0fc-3586-ba41-83d35fdecb8d","position":{"x":144.5214352277494,"y":788.9230894006234},"componentType":"FUNNEL","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"63c6277f-f12f-48aa-84cf-db38d70e9c4f","instanceIdentifier":"c5970745-67b0-352a-9081-592afceaa869","position":{"x":-381.87005616248126,"y":513.9390434184133},"componentType":"FUNNEL","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"}],"controllerServices":[{"identifier":"4e6140d5-5bac-47ba-b215-4f87849fe316","instanceIdentifier":"dc7c4c72-6497-3b48-ae1d-c5902b071705","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"65191e02-45bd-4ad7-b1bc-8e477fad0bfc","instanceIdentifier":"886a45d4-25ff-3a7a-aeb0-b26ef86d233e","name":"COD_HBase_ClientService","type":"org.apache.nifi.hbase.HBase_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{CDP Password}","Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":"#{CDP Username}","HBase Client Retries":"1","kerberos-user-service":null,"Hadoop Configuration Files":"#{CDPEnvironment}","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","URL","DIRECTORY"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"90899e0d-54c1-4ba6-92dc-f039446fc837","instanceIdentifier":"50c4f240-b07f-3975-b10d-780646556f0a","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5885ffde-9eeb-3852-9f60-47002c5e9774"},{"identifier":"85fa7344-eee0-3547-89b0-0c76e54082cb","instanceIdentifier":"d2d03b94-018a-1000-ffff-ffff898e7bf2","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d2d03d49-018a-1000-0000-00005beef1a3"}],"variables":{},"parameterContextName":"SCE-CDP-Demo-DataflowV12","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"SCE-CDP-Demo-DataflowV12":{"name":"SCE-CDP-Demo-DataflowV12","parameters":[{"name":"Max Request Size","sensitive":false,"provided":false,"value":"100 MB"},{"name":"CDP Username","sensitive":false,"provided":false,"value":"vbandari"},{"name":"Filename","sensitive":false,"provided":false,"value":"/rp-data/song_stream_data_json.json"},{"name":"CDP Password","sensitive":true,"provided":false},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"},{"name":"Storage Bucket","sensitive":false,"provided":false,"value":"s3a://go01-demo"},{"name":"Topic Name","sensitive":false,"provided":false,"value":"SCE-Click-Stream"},{"name":"Kafka Brokers","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093, cdf-aw-kafka-demo-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093, cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093"},{"name":"COD Column Family Name","sensitive":false,"provided":false,"value":"song_data"},{"name":"Batch Size","sensitive":false,"provided":false,"value":"100000"},{"name":"Kafka Consumer Group ID","sensitive":false,"provided":false,"value":"Click-Stream-0"},{"name":"COD Table Name","sensitive":false,"provided":false,"value":"song_stream_data"},{"name":"Max Poll Records","sensitive":false,"provided":false,"value":"500000"},{"name":"COD Row Identifier Field Name","sensitive":false,"provided":false,"value":"songid"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}