NiFi_Image-Resize-Hybrid-Demo/ImageResizeFunction.json
{"flowContents":{"identifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","instanceIdentifier":"7a186a2c-0187-1000-ffff-ffffabbeb5aa","name":"ImageResizeFunction","comments":"","position":{"x":1280.0,"y":96.0},"processGroups":[{"identifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210","instanceIdentifier":"42b3b4ee-3c2c-34d6-8993-3d303fa0129f","name":"AZURE","comments":"","position":{"x":784.0,"y":560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae298fa6-4043-3412-be7c-d2d3f1d9d049","instanceIdentifier":"ea517660-5bc7-3c65-bcf3-31986acb62bc","name":"UpdateAttribute","comments":"","position":{"x":648.0,"y":144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","resizeWidth":"${azure.http.header.resize-width:isEmpty():ifElse(#{defaultWidth},${azure.http.header.resize-width})}","mime.type":"image/jpeg","Stateful Variables Initial Value":null,"resizeHeight":"${azure.http.header.resize-height:isEmpty():ifElse(#{defaultHeight},${azure.http.header.resize-height})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"resizeWidth":{"name":"resizeWidth","displayName":"resizeWidth","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"resizeHeight":{"name":"resizeHeight","displayName":"resizeHeight","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"},{"identifier":"df44eb6b-2667-37d3-93fb-3be4cdf8abc9","instanceIdentifier":"f4203c53-40b1-39e7-b147-e9ad13ab2fc1","name":"ResizeImage","comments":"","position":{"x":648.0,"y":328.0},"type":"org.apache.nifi.processors.image.ResizeImage","bundle":{"group":"org.apache.nifi","artifact":"nifi-media-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Scaling Algorithm":"Default","Image Width (in pixels)":"${resizeWidth}","keep-ratio":"true","Image Height (in pixels)":"${resizeHeight}"},"propertyDescriptors":{"Scaling Algorithm":{"name":"Scaling Algorithm","displayName":"Scaling Algorithm","identifiesControllerService":false,"sensitive":false},"Image Width (in pixels)":{"name":"Image Width (in pixels)","displayName":"Image Width (in pixels)","identifiesControllerService":false,"sensitive":false},"keep-ratio":{"name":"keep-ratio","displayName":"Maintain aspect ratio","identifiesControllerService":false,"sensitive":false},"Image Height (in pixels)":{"name":"Image Height (in pixels)","displayName":"Image Height (in pixels)","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"}],"inputPorts":[{"identifier":"ab038a99-2306-390f-a676-8b1e6ff728c2","instanceIdentifier":"c4a95cd6-a68c-31c6-a7d3-c85b9f86f01c","name":"payload","position":{"x":704.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"}],"outputPorts":[{"identifier":"6127b21b-026a-3ea5-84fa-0e80df979e5e","instanceIdentifier":"e3529e16-2705-30bf-96c6-a8e803f77705","name":"success","position":{"x":704.0,"y":528.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"}],"connections":[{"identifier":"29508984-f032-30ec-bbae-c59420e5efc3","instanceIdentifier":"7214e9fc-c5e6-3880-9001-da6fc08cf43a","name":"","source":{"id":"ab038a99-2306-390f-a676-8b1e6ff728c2","type":"INPUT_PORT","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"payload","instanceIdentifier":"c4a95cd6-a68c-31c6-a7d3-c85b9f86f01c"},"destination":{"id":"ae298fa6-4043-3412-be7c-d2d3f1d9d049","type":"PROCESSOR","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"UpdateAttribute","comments":"","instanceIdentifier":"ea517660-5bc7-3c65-bcf3-31986acb62bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"},{"identifier":"0e7e047c-24f1-3f60-9a87-15e46d50a8a9","instanceIdentifier":"a9c1b959-438b-32e6-a224-13af0522eeba","name":"","source":{"id":"df44eb6b-2667-37d3-93fb-3be4cdf8abc9","type":"PROCESSOR","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"ResizeImage","comments":"","instanceIdentifier":"f4203c53-40b1-39e7-b147-e9ad13ab2fc1"},"destination":{"id":"6127b21b-026a-3ea5-84fa-0e80df979e5e","type":"OUTPUT_PORT","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"success","instanceIdentifier":"e3529e16-2705-30bf-96c6-a8e803f77705"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"},{"identifier":"aabb8881-c72c-3264-a247-e98b5120c70e","instanceIdentifier":"56bb0362-9cff-3495-97d2-4f5312b9e6c1","name":"","source":{"id":"ae298fa6-4043-3412-be7c-d2d3f1d9d049","type":"PROCESSOR","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"UpdateAttribute","comments":"","instanceIdentifier":"ea517660-5bc7-3c65-bcf3-31986acb62bc"},"destination":{"id":"df44eb6b-2667-37d3-93fb-3be4cdf8abc9","type":"PROCESSOR","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"ResizeImage","comments":"","instanceIdentifier":"f4203c53-40b1-39e7-b147-e9ad13ab2fc1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9ac7f940-5a58-3aff-b5c0-c6431737a210"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"ImageResizeFunctionPC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"b9e1bad7-ee3c-3016-a267-508477df75b7","instanceIdentifier":"7e70aed1-2531-3eca-bed3-18aa29d35179","name":"AWS","comments":"","position":{"x":384.0,"y":560.0},"processGroups":[{"identifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c","instanceIdentifier":"6af259ea-0c19-38ee-b0b6-de162378af81","name":"Extract Data From Trigger Payload","comments":"","position":{"x":608.0,"y":160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dbdf019a-b60d-3ead-a32a-b1fcbe6452a2","instanceIdentifier":"8134d847-b983-3589-aaf4-42438025c379","name":"Base64 Decode Content","comments":"","position":{"x":496.0,"y":152.0},"type":"org.apache.nifi.processors.standard.Base64EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Mode":"Decode"},"propertyDescriptors":{"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"c10af788-d363-3f44-b1b8-64a86fc7f8a1","instanceIdentifier":"26a1ac3e-d022-3e9e-8f81-6e29173b0e22","name":"Extract headers","comments":"","position":{"x":496.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Destination":"flowfile-attribute","resizeWidth":"$.headers.resize-width","Return Type":"auto-detect","Null Value Representation":"empty string","resizeHeight":"$.headers.resize-height","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"resizeWidth":{"name":"resizeWidth","displayName":"resizeWidth","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"resizeHeight":{"name":"resizeHeight","displayName":"resizeHeight","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"77e954cd-8df8-3e0c-a10d-2451eed973d6","instanceIdentifier":"520e3cae-15a3-3d7f-b80c-53654a8cc60f","name":"Extract body","comments":"","position":{"x":496.0,"y":16.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","body":"$.body","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"body":{"name":"body","displayName":"body","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"0fc972a2-8cfa-3f3c-b783-b3f77e4be1f5","instanceIdentifier":"ece09135-d008-3a82-924f-886e1190976a","name":"UpdateAttribute","comments":"","position":{"x":496.0,"y":-120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","resizeWidth":"${resizeWidth:isEmpty():ifElse(#{defaultWidth},${resizeWidth})}","Stateful Variables Initial Value":null,"resizeHeight":"${resizeHeight:isEmpty():ifElse(#{defaultHeight},${resizeHeight})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"resizeWidth":{"name":"resizeWidth","displayName":"resizeWidth","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"resizeHeight":{"name":"resizeHeight","displayName":"resizeHeight","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"}],"inputPorts":[{"identifier":"754015f2-edc4-384b-9c45-2c2c419591c9","instanceIdentifier":"03d7519b-991d-313a-a60f-fb67c7067f29","name":"payload","position":{"x":552.0,"y":-352.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"}],"outputPorts":[{"identifier":"820f828b-de4b-3977-84f2-c9f820e4c0ef","instanceIdentifier":"c2921975-12be-313d-b7b8-3d4aa260d304","name":"image","position":{"x":1184.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"}],"connections":[{"identifier":"4fa4eef1-0777-369c-9e88-68bc467d740b","instanceIdentifier":"95632882-a27f-3386-88a6-89b2428e8e31","name":"","source":{"id":"754015f2-edc4-384b-9c45-2c2c419591c9","type":"INPUT_PORT","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"payload","instanceIdentifier":"03d7519b-991d-313a-a60f-fb67c7067f29"},"destination":{"id":"c10af788-d363-3f44-b1b8-64a86fc7f8a1","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Extract headers","comments":"","instanceIdentifier":"26a1ac3e-d022-3e9e-8f81-6e29173b0e22"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"1213fa57-5129-3062-adad-7258fe426c89","instanceIdentifier":"57aa97d7-8ea7-3c5a-b7e0-90eed37a28e7","name":"","source":{"id":"dbdf019a-b60d-3ead-a32a-b1fcbe6452a2","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Base64 Decode Content","comments":"","instanceIdentifier":"8134d847-b983-3589-aaf4-42438025c379"},"destination":{"id":"820f828b-de4b-3977-84f2-c9f820e4c0ef","type":"OUTPUT_PORT","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"image","instanceIdentifier":"c2921975-12be-313d-b7b8-3d4aa260d304"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"9fe3184b-255a-3b5e-95cc-480f36a76fef","instanceIdentifier":"8ef60e1c-ab1f-3710-b2bb-82c0a7dcbdde","name":"","source":{"id":"c10af788-d363-3f44-b1b8-64a86fc7f8a1","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Extract headers","comments":"","instanceIdentifier":"26a1ac3e-d022-3e9e-8f81-6e29173b0e22"},"destination":{"id":"0fc972a2-8cfa-3f3c-b783-b3f77e4be1f5","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"UpdateAttribute","comments":"","instanceIdentifier":"ece09135-d008-3a82-924f-886e1190976a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":984.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"b39682df-d742-300b-9aa2-529a99f79e63","instanceIdentifier":"503ec14b-4744-3a2e-a025-1ea151532c80","name":"","source":{"id":"c10af788-d363-3f44-b1b8-64a86fc7f8a1","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Extract headers","comments":"","instanceIdentifier":"26a1ac3e-d022-3e9e-8f81-6e29173b0e22"},"destination":{"id":"0fc972a2-8cfa-3f3c-b783-b3f77e4be1f5","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"UpdateAttribute","comments":"","instanceIdentifier":"ece09135-d008-3a82-924f-886e1190976a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":360.0,"y":-112.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"78cee4b6-7fea-3bf7-af91-ff62313022ad","instanceIdentifier":"db7f6551-cb58-3184-948d-76de41614fb3","name":"","source":{"id":"0fc972a2-8cfa-3f3c-b783-b3f77e4be1f5","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"UpdateAttribute","comments":"","instanceIdentifier":"ece09135-d008-3a82-924f-886e1190976a"},"destination":{"id":"77e954cd-8df8-3e0c-a10d-2451eed973d6","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Extract body","comments":"","instanceIdentifier":"520e3cae-15a3-3d7f-b80c-53654a8cc60f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":352.0,"y":16.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"},{"identifier":"3ac0f90f-7c26-32bb-80ca-77a5493fee40","instanceIdentifier":"50eead13-63d3-3402-b480-1d82f97150e1","name":"","source":{"id":"77e954cd-8df8-3e0c-a10d-2451eed973d6","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Extract body","comments":"","instanceIdentifier":"520e3cae-15a3-3d7f-b80c-53654a8cc60f"},"destination":{"id":"dbdf019a-b60d-3ead-a32a-b1fcbe6452a2","type":"PROCESSOR","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"Base64 Decode Content","comments":"","instanceIdentifier":"8134d847-b983-3589-aaf4-42438025c379"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":368.0,"y":168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72b8b325-3174-3e53-9f9c-aa28546eb57c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"ImageResizeFunctionPC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"},{"identifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0","instanceIdentifier":"9e85897a-f928-3645-aeb9-f0a6674a9129","name":"Prepare response payload","comments":"","position":{"x":608.0,"y":480.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7de903e8-df1e-3922-9de4-043c5a6b503a","instanceIdentifier":"4cff10db-8862-3d57-b87f-705bab0b3f54","name":"Base64EncodeContent","comments":"","position":{"x":672.0,"y":176.0},"type":"org.apache.nifi.processors.standard.Base64EncodeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Mode":"Encode"},"propertyDescriptors":{"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"},{"identifier":"f487e1f2-a6ba-3e6c-9a55-796c7e372200","instanceIdentifier":"df3c43de-dbc1-34eb-b892-71d6c28989f8","name":"ReplaceText","comments":"","position":{"x":672.0,"y":376.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n\t\"statusCode\": 200,\n\t\"headers\": { \"Content-Type\": \"image/png\" },\n\t\"isBase64Encoded\": true,\n\t\"body\": \"$1\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"}],"inputPorts":[{"identifier":"45509ee2-eef0-3c2b-a42c-0690ae68a2e7","instanceIdentifier":"6fef227a-506d-3b4e-86c5-b4fe44e7d202","name":"resizedImage","position":{"x":424.0,"y":56.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"}],"outputPorts":[{"identifier":"77583bbb-b388-37ef-9743-1b8fe4c5aaa9","instanceIdentifier":"0f79acc7-f90d-39fb-8c09-5d42aafb72a9","name":"response","position":{"x":472.0,"y":624.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"}],"connections":[{"identifier":"b8420efa-2ad6-3f2b-beab-71e2c259fd43","instanceIdentifier":"781a183c-c77c-3032-b33c-ccdc7cd41461","name":"","source":{"id":"7de903e8-df1e-3922-9de4-043c5a6b503a","type":"PROCESSOR","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"Base64EncodeContent","comments":"","instanceIdentifier":"4cff10db-8862-3d57-b87f-705bab0b3f54"},"destination":{"id":"f487e1f2-a6ba-3e6c-9a55-796c7e372200","type":"PROCESSOR","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"ReplaceText","comments":"","instanceIdentifier":"df3c43de-dbc1-34eb-b892-71d6c28989f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"},{"identifier":"5db8d3fb-f65f-3c34-bf99-5b4b329ab6a6","instanceIdentifier":"550ba3ef-ce9b-37af-96dc-524e2c120959","name":"","source":{"id":"f487e1f2-a6ba-3e6c-9a55-796c7e372200","type":"PROCESSOR","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"ReplaceText","comments":"","instanceIdentifier":"df3c43de-dbc1-34eb-b892-71d6c28989f8"},"destination":{"id":"77583bbb-b388-37ef-9743-1b8fe4c5aaa9","type":"OUTPUT_PORT","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"response","instanceIdentifier":"0f79acc7-f90d-39fb-8c09-5d42aafb72a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"},{"identifier":"eeba37b7-ac51-3774-88f0-56466826b790","instanceIdentifier":"c9e5876e-da8a-3290-acdf-1a00ac8c5cf3","name":"","source":{"id":"45509ee2-eef0-3c2b-a42c-0690ae68a2e7","type":"INPUT_PORT","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"resizedImage","instanceIdentifier":"6fef227a-506d-3b4e-86c5-b4fe44e7d202"},"destination":{"id":"7de903e8-df1e-3922-9de4-043c5a6b503a","type":"PROCESSOR","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"Base64EncodeContent","comments":"","instanceIdentifier":"4cff10db-8862-3d57-b87f-705bab0b3f54"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"566484ae-360b-3d64-b74a-0d2ca414b4d0"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"}],"remoteProcessGroups":[],"processors":[{"identifier":"d7bd4d49-cc8e-3a00-b4bf-5412ab309dd7","instanceIdentifier":"34382819-7b45-37ae-8ce0-7c78b11d4e2b","name":"ResizeImage","comments":"","position":{"x":624.0,"y":344.0},"type":"org.apache.nifi.processors.image.ResizeImage","bundle":{"group":"org.apache.nifi","artifact":"nifi-media-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Scaling Algorithm":"Default","Image Width (in pixels)":"${resizeWidth}","keep-ratio":"true","Image Height (in pixels)":"${resizeHeight}"},"propertyDescriptors":{"Scaling Algorithm":{"name":"Scaling Algorithm","displayName":"Scaling Algorithm","identifiesControllerService":false,"sensitive":false},"Image Width (in pixels)":{"name":"Image Width (in pixels)","displayName":"Image Width (in pixels)","identifiesControllerService":false,"sensitive":false},"keep-ratio":{"name":"keep-ratio","displayName":"Maintain aspect ratio","identifiesControllerService":false,"sensitive":false},"Image Height (in pixels)":{"name":"Image Height (in pixels)","displayName":"Image Height (in pixels)","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"}],"inputPorts":[{"identifier":"753d5c24-9670-3502-ab45-83713b8496ae","instanceIdentifier":"9bc35cc5-cf53-34dc-b585-1d263291f7dc","name":"payload","position":{"x":680.0,"y":24.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"}],"outputPorts":[{"identifier":"af202219-3845-3834-84b7-7cc3eba20f79","instanceIdentifier":"c01cf27a-4b62-3647-8096-6cb9c7bbad1b","name":"success","position":{"x":680.0,"y":744.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"}],"connections":[{"identifier":"f299caed-114e-30bd-9565-e41261a34af1","instanceIdentifier":"14d04477-686b-30a6-9b71-fdcd360db019","name":"","source":{"id":"820f828b-de4b-3977-84f2-c9f820e4c0ef","type":"OUTPUT_PORT","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"image","instanceIdentifier":"c2921975-12be-313d-b7b8-3d4aa260d304"},"destination":{"id":"d7bd4d49-cc8e-3a00-b4bf-5412ab309dd7","type":"PROCESSOR","groupId":"b9e1bad7-ee3c-3016-a267-508477df75b7","name":"ResizeImage","comments":"","instanceIdentifier":"34382819-7b45-37ae-8ce0-7c78b11d4e2b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1136.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"},{"identifier":"2598d0cc-5a7c-3eab-ac53-53407c0ce41c","instanceIdentifier":"4a21eff5-e3d5-3f0d-8b93-4ffcc777df51","name":"","source":{"id":"753d5c24-9670-3502-ab45-83713b8496ae","type":"INPUT_PORT","groupId":"b9e1bad7-ee3c-3016-a267-508477df75b7","name":"payload","instanceIdentifier":"9bc35cc5-cf53-34dc-b585-1d263291f7dc"},"destination":{"id":"754015f2-edc4-384b-9c45-2c2c419591c9","type":"INPUT_PORT","groupId":"72b8b325-3174-3e53-9f9c-aa28546eb57c","name":"payload","instanceIdentifier":"03d7519b-991d-313a-a60f-fb67c7067f29"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"},{"identifier":"2d79a4b4-efcc-3285-9406-4f7143f2e44d","instanceIdentifier":"a707177f-dbee-3be3-9e35-56a1e810a85d","name":"","source":{"id":"d7bd4d49-cc8e-3a00-b4bf-5412ab309dd7","type":"PROCESSOR","groupId":"b9e1bad7-ee3c-3016-a267-508477df75b7","name":"ResizeImage","comments":"","instanceIdentifier":"34382819-7b45-37ae-8ce0-7c78b11d4e2b"},"destination":{"id":"45509ee2-eef0-3c2b-a42c-0690ae68a2e7","type":"INPUT_PORT","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"resizedImage","instanceIdentifier":"6fef227a-506d-3b4e-86c5-b4fe44e7d202"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1144.0,"y":456.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"},{"identifier":"acacc583-a159-3403-b791-73b7819494d5","instanceIdentifier":"624e1325-7671-366c-89c3-c4288251391b","name":"","source":{"id":"77583bbb-b388-37ef-9743-1b8fe4c5aaa9","type":"OUTPUT_PORT","groupId":"566484ae-360b-3d64-b74a-0d2ca414b4d0","name":"response","instanceIdentifier":"0f79acc7-f90d-39fb-8c09-5d42aafb72a9"},"destination":{"id":"af202219-3845-3834-84b7-7cc3eba20f79","type":"OUTPUT_PORT","groupId":"b9e1bad7-ee3c-3016-a267-508477df75b7","name":"success","instanceIdentifier":"c01cf27a-4b62-3647-8096-6cb9c7bbad1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9e1bad7-ee3c-3016-a267-508477df75b7"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"ImageResizeFunctionPC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","instanceIdentifier":"ac4f4553-b6ed-3822-a9b1-3484738d1b7c","name":"GCP","comments":"","position":{"x":1184.0,"y":560.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"026850c5-e201-3614-b4a4-1ae2588f94c4","instanceIdentifier":"3d0810c7-1950-360c-a839-3a87c45cbaa3","name":"ResizeImage","comments":"","position":{"x":648.0,"y":328.0},"type":"org.apache.nifi.processors.image.ResizeImage","bundle":{"group":"org.apache.nifi","artifact":"nifi-media-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Scaling Algorithm":"Default","Image Width (in pixels)":"${resizeWidth}","keep-ratio":"true","Image Height (in pixels)":"${resizeHeight}"},"propertyDescriptors":{"Scaling Algorithm":{"name":"Scaling Algorithm","displayName":"Scaling Algorithm","identifiesControllerService":false,"sensitive":false},"Image Width (in pixels)":{"name":"Image Width (in pixels)","displayName":"Image Width (in pixels)","identifiesControllerService":false,"sensitive":false},"keep-ratio":{"name":"keep-ratio","displayName":"Maintain aspect ratio","identifiesControllerService":false,"sensitive":false},"Image Height (in pixels)":{"name":"Image Height (in pixels)","displayName":"Image Height (in pixels)","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"},{"identifier":"6c1558c8-9a50-315b-b40f-c64526828aa6","instanceIdentifier":"c8ab0949-1974-37d7-8696-bbac10d61064","name":"UpdateAttribute","comments":"","position":{"x":648.0,"y":144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","resizeWidth":"${gcp.http.header.resize-width:isEmpty():ifElse(#{defaultWidth},${gcp.http.header.resize-width})}","Stateful Variables Initial Value":null,"resizeHeight":"${gcp.http.header.resize-height:isEmpty():ifElse(#{defaultHeight},${gcp.http.header.resize-height})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"resizeWidth":{"name":"resizeWidth","displayName":"resizeWidth","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"resizeHeight":{"name":"resizeHeight","displayName":"resizeHeight","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"}],"inputPorts":[{"identifier":"065a5af0-fe20-3224-b194-4ace6004c77f","instanceIdentifier":"c092a280-4e98-334c-8075-5d1f5b429197","name":"payload","position":{"x":704.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"}],"outputPorts":[{"identifier":"d283ff22-6676-3803-a63b-6804ed6647a8","instanceIdentifier":"3707e21c-5df4-34e8-9101-51bdf16680a8","name":"success","position":{"x":704.0,"y":528.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"}],"connections":[{"identifier":"75792e84-d249-306f-b4f0-9e4c321610dd","instanceIdentifier":"68aea47e-7222-3ae2-875e-4e6d312a6fe7","name":"","source":{"id":"065a5af0-fe20-3224-b194-4ace6004c77f","type":"INPUT_PORT","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"payload","instanceIdentifier":"c092a280-4e98-334c-8075-5d1f5b429197"},"destination":{"id":"6c1558c8-9a50-315b-b40f-c64526828aa6","type":"PROCESSOR","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8ab0949-1974-37d7-8696-bbac10d61064"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"},{"identifier":"36ddc8e4-3007-3060-a876-b99967e4ddba","instanceIdentifier":"f63a6cc6-4708-3a7d-971a-c10b44f36896","name":"","source":{"id":"6c1558c8-9a50-315b-b40f-c64526828aa6","type":"PROCESSOR","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"UpdateAttribute","comments":"","instanceIdentifier":"c8ab0949-1974-37d7-8696-bbac10d61064"},"destination":{"id":"026850c5-e201-3614-b4a4-1ae2588f94c4","type":"PROCESSOR","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"ResizeImage","comments":"","instanceIdentifier":"3d0810c7-1950-360c-a839-3a87c45cbaa3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"},{"identifier":"50c9f37f-6564-3192-bb7c-ac4665bda960","instanceIdentifier":"0d1bee4a-8e3a-3305-848e-2234c72a90f4","name":"","source":{"id":"026850c5-e201-3614-b4a4-1ae2588f94c4","type":"PROCESSOR","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"ResizeImage","comments":"","instanceIdentifier":"3d0810c7-1950-360c-a839-3a87c45cbaa3"},"destination":{"id":"d283ff22-6676-3803-a63b-6804ed6647a8","type":"OUTPUT_PORT","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"success","instanceIdentifier":"3707e21c-5df4-34e8-9101-51bdf16680a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68085849-eecc-3fdf-ac9e-d80b5ed73a56"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"ImageResizeFunctionPC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"}],"remoteProcessGroups":[],"processors":[{"identifier":"c2b877c5-5856-38dd-9fa0-4bbd9c0ba289","instanceIdentifier":"4b402388-d45b-3a2c-b07f-4dbe7506c4ab","name":"Log Attributes and Content","comments":"","position":{"x":984.0,"y":0.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"8f48eb50-f9d9-37c7-ba74-0de799cf62a8","instanceIdentifier":"2361c719-36b1-37ca-a855-3a64caf9037e","name":"Log payload?","comments":"","position":{"x":624.0,"y":0.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Routing Strategy":"Route to Property name","logPayload":"${#{logPayload}:equals(\"true\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"logPayload":{"name":"logPayload","displayName":"logPayload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"67e52e13-289f-36a7-ad10-9dab85fcb862","instanceIdentifier":"f52b328b-c6c0-388f-a8e6-fd16edc95096","name":"Cloud provider?","comments":"","position":{"x":800.0,"y":304.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"AZURE":"${cloud.provider:equals(\"AZURE\")}","Routing Strategy":"Route to Property name","GCP":"${cloud.provider:equals(\"GCP\")}","AWS":"${cloud.provider:equals(\"AWS\")}"},"propertyDescriptors":{"AZURE":{"name":"AZURE","displayName":"AZURE","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"GCP":{"name":"GCP","displayName":"GCP","identifiesControllerService":false,"sensitive":false},"AWS":{"name":"AWS","displayName":"AWS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"}],"inputPorts":[{"identifier":"a1ecd0ef-c761-3709-96d4-cf6600d406d7","instanceIdentifier":"1ce78665-58e2-3e88-8ff5-a85ca361dcca","name":"triggerPayload","position":{"x":392.0,"y":-232.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"}],"outputPorts":[{"identifier":"42719326-a437-35ea-b069-e71fa6ccb10e","instanceIdentifier":"d66caebe-3837-3aeb-93d1-7843d062ffee","name":"success","position":{"x":856.0,"y":912.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"}],"connections":[{"identifier":"81292199-1840-377f-88ab-d39f28f6bb28","instanceIdentifier":"b2769b11-715f-3edb-8fb7-5a0bdedd0c63","name":"","source":{"id":"67e52e13-289f-36a7-ad10-9dab85fcb862","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Cloud provider?","comments":"","instanceIdentifier":"f52b328b-c6c0-388f-a8e6-fd16edc95096"},"destination":{"id":"ab038a99-2306-390f-a676-8b1e6ff728c2","type":"INPUT_PORT","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"payload","instanceIdentifier":"c4a95cd6-a68c-31c6-a7d3-c85b9f86f01c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["AZURE"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"55718f03-4006-3f7d-84ed-b04a622f91da","instanceIdentifier":"4e8d2f43-2c00-3ede-895a-bdf62417d728","name":"","source":{"id":"a1ecd0ef-c761-3709-96d4-cf6600d406d7","type":"INPUT_PORT","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"triggerPayload","instanceIdentifier":"1ce78665-58e2-3e88-8ff5-a85ca361dcca"},"destination":{"id":"8f48eb50-f9d9-37c7-ba74-0de799cf62a8","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Log payload?","comments":"","instanceIdentifier":"2361c719-36b1-37ca-a855-3a64caf9037e"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"c57cb40d-6b78-34ea-b510-27f4359ef9f6","instanceIdentifier":"c8285efa-b022-3c95-a217-8b1f196c5cdb","name":"","source":{"id":"67205f74-cb43-31af-b602-ac855d760af8","type":"FUNNEL","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Funnel","comments":"","instanceIdentifier":"86a99c02-3cff-37cf-9598-13805e32608b"},"destination":{"id":"67e52e13-289f-36a7-ad10-9dab85fcb862","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Cloud provider?","comments":"","instanceIdentifier":"f52b328b-c6c0-388f-a8e6-fd16edc95096"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"d2742d37-ca02-3fd2-ada6-7643b85566c5","instanceIdentifier":"e286d1c1-d55c-3162-bd14-72b396c85c5d","name":"Log payload","source":{"id":"8f48eb50-f9d9-37c7-ba74-0de799cf62a8","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Log payload?","comments":"","instanceIdentifier":"2361c719-36b1-37ca-a855-3a64caf9037e"},"destination":{"id":"c2b877c5-5856-38dd-9fa0-4bbd9c0ba289","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Log Attributes and Content","comments":"","instanceIdentifier":"4b402388-d45b-3a2c-b07f-4dbe7506c4ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["logPayload"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1016.0,"y":-40.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"1e686fa0-0ffb-3126-9b0e-d6d859e746e4","instanceIdentifier":"b22c89f9-c94b-3bd8-9472-1b9c79cb1796","name":"","source":{"id":"d283ff22-6676-3803-a63b-6804ed6647a8","type":"OUTPUT_PORT","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"success","instanceIdentifier":"3707e21c-5df4-34e8-9101-51bdf16680a8"},"destination":{"id":"42719326-a437-35ea-b069-e71fa6ccb10e","type":"OUTPUT_PORT","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"success","instanceIdentifier":"d66caebe-3837-3aeb-93d1-7843d062ffee"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1376.0,"y":784.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"fd9cb036-8ba9-3bf8-a7b8-b22c0fca8dc4","instanceIdentifier":"41622ed7-a920-393e-a5f1-6ef34fd18c6c","name":"","source":{"id":"67e52e13-289f-36a7-ad10-9dab85fcb862","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Cloud provider?","comments":"","instanceIdentifier":"f52b328b-c6c0-388f-a8e6-fd16edc95096"},"destination":{"id":"753d5c24-9670-3502-ab45-83713b8496ae","type":"INPUT_PORT","groupId":"b9e1bad7-ee3c-3016-a267-508477df75b7","name":"payload","instanceIdentifier":"9bc35cc5-cf53-34dc-b585-1d263291f7dc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["AWS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"ae6f9962-2806-39d7-96d6-0ede2375bf9f","instanceIdentifier":"65757da8-fe9b-3b91-b9f6-489f08bb4620","name":"","source":{"id":"c2b877c5-5856-38dd-9fa0-4bbd9c0ba289","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Log Attributes and Content","comments":"","instanceIdentifier":"4b402388-d45b-3a2c-b07f-4dbe7506c4ab"},"destination":{"id":"67205f74-cb43-31af-b602-ac855d760af8","type":"FUNNEL","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Funnel","comments":"","instanceIdentifier":"86a99c02-3cff-37cf-9598-13805e32608b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1160.0,"y":168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"42f7fd9e-c3e5-37f8-80d9-be237e02c10e","instanceIdentifier":"253b1efc-b737-35f4-b300-f5d7b409348c","name":"","source":{"id":"af202219-3845-3834-84b7-7cc3eba20f79","type":"OUTPUT_PORT","groupId":"b9e1bad7-ee3c-3016-a267-508477df75b7","name":"success","instanceIdentifier":"c01cf27a-4b62-3647-8096-6cb9c7bbad1b"},"destination":{"id":"42719326-a437-35ea-b069-e71fa6ccb10e","type":"OUTPUT_PORT","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"success","instanceIdentifier":"d66caebe-3837-3aeb-93d1-7843d062ffee"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":576.0,"y":784.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"39567466-205c-38f2-8107-3422f95dc30a","instanceIdentifier":"ade82654-0019-35aa-960c-389a2614ed1e","name":"","source":{"id":"6127b21b-026a-3ea5-84fa-0e80df979e5e","type":"OUTPUT_PORT","groupId":"9ac7f940-5a58-3aff-b5c0-c6431737a210","name":"success","instanceIdentifier":"e3529e16-2705-30bf-96c6-a8e803f77705"},"destination":{"id":"42719326-a437-35ea-b069-e71fa6ccb10e","type":"OUTPUT_PORT","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"success","instanceIdentifier":"d66caebe-3837-3aeb-93d1-7843d062ffee"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"1352c46b-0b1f-310e-8a9f-558cc6478ba0","instanceIdentifier":"05f9a373-5c2b-337a-a212-181bc1f0188f","name":"","source":{"id":"67e52e13-289f-36a7-ad10-9dab85fcb862","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Cloud provider?","comments":"","instanceIdentifier":"f52b328b-c6c0-388f-a8e6-fd16edc95096"},"destination":{"id":"065a5af0-fe20-3224-b194-4ace6004c77f","type":"INPUT_PORT","groupId":"68085849-eecc-3fdf-ac9e-d80b5ed73a56","name":"payload","instanceIdentifier":"c092a280-4e98-334c-8075-5d1f5b429197"},"labelIndex":0,"zIndex":0,"selectedRelationships":["GCP"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1376.0,"y":504.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"},{"identifier":"12f8db68-1f69-3e4e-8df3-e25dbfee3c72","instanceIdentifier":"906cd120-98df-3d05-913a-b7228ab0b026","name":"Do not log payload","source":{"id":"8f48eb50-f9d9-37c7-ba74-0de799cf62a8","type":"PROCESSOR","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Log payload?","comments":"","instanceIdentifier":"2361c719-36b1-37ca-a855-3a64caf9037e"},"destination":{"id":"67205f74-cb43-31af-b602-ac855d760af8","type":"FUNNEL","groupId":"353fdc41-ac5e-3456-8588-d4ed01cdaf28","name":"Funnel","comments":"","instanceIdentifier":"86a99c02-3cff-37cf-9598-13805e32608b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":800.0,"y":168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"}],"labels":[],"funnels":[{"identifier":"67205f74-cb43-31af-b602-ac855d760af8","instanceIdentifier":"86a99c02-3cff-37cf-9598-13805e32608b","position":{"x":952.0,"y":208.0},"componentType":"FUNNEL","groupIdentifier":"353fdc41-ac5e-3456-8588-d4ed01cdaf28"}],"controllerServices":[],"variables":{},"parameterContextName":"ImageResizeFunctionPC","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"ImageResizeFunctionPC":{"name":"ImageResizeFunctionPC","parameters":[{"name":"defaultHeight","description":"","sensitive":false,"provided":false,"value":"150"},{"name":"defaultWidth","description":"","sensitive":false,"provided":false,"value":"150"},{"name":"logPayload","description":"","sensitive":false,"provided":false,"value":"true"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}