NiFi_Process-Sensor-Data/Process_Sensor_Data.json
{"flowContents":{"identifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","instanceIdentifier":"e3ff1840-0184-1000-0000-00002b647182","name":"Process_Sensor_Data","comments":"","position":{"x":5640.0,"y":-200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"07455c53-d31a-3697-af20-76e478047d6e","instanceIdentifier":"9aa967d0-439d-3369-8906-94368475bf62","name":"Consume Kafka iot messages","comments":"","position":{"x":700.0,"y":0.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"header-name-regex":"schema.*","Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"d792e243-693b-3023-b373-e2f2b08e096e","group.id":"iot-sensor-consumer","bootstrap.servers":"cdp.13.58.201.106.nip.io:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"false","record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"key-record-reader":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"iot","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"5706d2b0-1c9a-3220-9081-db20a841cf13","instanceIdentifier":"2b058086-720e-30bb-8277-7f23211360ec","name":"UpdateAttribute","comments":"","position":{"x":1688.0,"y":-280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"test":"concat('{\"accessKey\":\"', '${cdsw.access.key}', '\",\"request\":{\"feature\":\"', /sensor_0, ', ', /sensor_1, ', ', /sensor_2, ', ', /sensor_3, ', ', /sensor_4, ', ', /sensor_5, ', ', /sensor_6, ', ', /sensor_7, ', ', /sensor_8, ', ', /sensor_9, ', ', /sensor_10, ', ', /sensor_11, '\"}}')","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"test":{"name":"test","displayName":"test","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"efc284ba-5bab-3a8f-bdf0-7d1d65b65e2a","instanceIdentifier":"3522a0dc-be4a-3499-bbc8-2ca22066673a","name":"UpdateRecord","comments":"","position":{"x":1584.0,"y":160.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"d792e243-693b-3023-b373-e2f2b08e096e","record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","replacement-value-strategy":"record-path-value","/test":"concat('{\"accessKey\":\"', '${cdsw.access.key}', '\",\"request\":{\"feature\":\"', /sensor_0, ', ', /sensor_1, ', ', /sensor_2, ', ', /sensor_3, ', ', /sensor_4, ', ', /sensor_5, ', ', /sensor_6, ', ', /sensor_7, ', ', /sensor_8, ', ', /sensor_9, ', ', /sensor_10, ', ', /sensor_11, '\"}}')"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/test":{"name":"/test","displayName":"/test","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"82dc75d5-e946-3205-8c0b-2722cbcfb053","instanceIdentifier":"c7c3d835-51b2-3b80-befd-3f53e0dc2772","name":"LogAttribute","comments":"","position":{"x":1498.5371,"y":-77.689125},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"78a49b4f-585b-3a12-9d45-b86875f36e48","instanceIdentifier":"2bde3bd2-91d7-312a-9d44-1801e55864bf","name":"UpdateAttribute","comments":"","position":{"x":1512.0,"y":456.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"test","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"5f33b6bd-b363-3809-9b2e-f22db43e89b7","instanceIdentifier":"d6df8bfb-c2d1-3e86-8ce1-b3d9c96bdda5","name":"Publish to Kafka topic: iot_enriched","comments":"","position":{"x":300.0,"y":600.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":"schema.*","record-writer":"d792e243-693b-3023-b373-e2f2b08e096e","bootstrap.servers":"cdp.13.58.201.106.nip.io:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-sensor-data","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"iot_enriched","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"818fd80f-2e6e-3128-9145-ce4dc6dc5075","instanceIdentifier":"ec87fcbe-af8d-3bcc-89dd-93dcf2f93b34","name":"Write to Kudu","comments":"","position":{"x":700.0,"y":600.0},"type":"org.apache.nifi.processors.kudu.PutKudu","bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Ignore NULL":"false","Table Name":"default.sensors","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":null,"Lowercase Field Names":"false","Insert Operation":"INSERT","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"cdp.13.58.201.106.nip.io:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","worker-count":"32","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"a6ed1677-923c-3db3-9a46-48079a3f5599","instanceIdentifier":"f0a2e1c2-586b-3b53-a9e8-642c6b7ec203","name":"Publish to Kafka topic: iot_enriched_avro","comments":"","position":{"x":-100.0,"y":600.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":"schema.*","record-writer":"180bd68f-0058-36f2-b86e-4faf7e9491bc","bootstrap.servers":"cdp.13.58.201.106.nip.io:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-sensor-data","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"iot_enriched_avro","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"21023d52-3bf0-3687-86cf-c558be5c240d","instanceIdentifier":"a4bc7eac-c1eb-39f4-9339-8ccc1a4e7355","name":"Publish to Kafka topic: iot","comments":"","position":{"x":0.0,"y":300.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":"schema.*","record-writer":"d792e243-693b-3023-b373-e2f2b08e096e","bootstrap.servers":"cdp.13.58.201.106.nip.io:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"7a3d31ee-fab7-3e3d-9776-29ef5c111040","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-sensor-data","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"iot","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"62d0d9e0-e713-3ac4-85da-fbdc52a57250","instanceIdentifier":"01191649-377e-3db8-8b94-ba3ff9a512d6","name":"Predict machine health","comments":"","position":{"x":700.0,"y":200.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"result-contents":"insert-entire-record","request.body":"concat('{\"accessKey\":\"', '${cdsw.access.key}', '\",\"request\":{\"feature\":\"', /sensor_0, ', ', /sensor_1, ', ', /sensor_2, ', ', /sensor_3, ', ', /sensor_4, ', ', /sensor_5, ', ', /sensor_6, ', ', /sensor_7, ', ', /sensor_8, ', ', /sensor_9, ', ', /sensor_10, ', ', /sensor_11, '\"}}')","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/response","record-writer":"d792e243-693b-3023-b373-e2f2b08e096e","request.method":"toString('post', 'UTF-8')","record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","lookup-service":"2bc89244-4ac9-3504-b19c-5096132839d7","record-update-strategy":"use-property","mime.type":"toString('application/json', 'UTF-8')"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"request.body":{"name":"request.body","displayName":"request.body","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"request.method":{"name":"request.method","displayName":"request.method","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"e9f66ddb-12b8-3a44-8b77-d2ccf94ef79a","instanceIdentifier":"0ac3504b-a55c-363f-b967-ab230dee733f","name":"Update health flag","comments":"","position":{"x":700.0,"y":400.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"/is_healthy":"/response/result","record-writer":"d792e243-693b-3023-b373-e2f2b08e096e","record-reader":"e37803b8-a56e-3e17-ad56-405a596e08c1","replacement-value-strategy":"record-path-value"},"propertyDescriptors":{"/is_healthy":{"name":"/is_healthy","displayName":"/is_healthy","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"aa3e482f-c236-3b07-bb95-93453f5cd9e0","instanceIdentifier":"ebbcf1af-89af-3dec-aac8-d247a49a5094","name":"GenerateFlowFile","comments":"","position":{"x":1080.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"6993afe1-2b30-38dc-a21f-a64459ab21a1","instanceIdentifier":"01f1d2aa-3f49-309c-90fe-60261d7a085d","name":"Set Schema Name","comments":"","position":{"x":0.0,"y":100.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"SensorReading","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"a399c308-1845-322e-b194-31f84cefc22c","instanceIdentifier":"3b2a7c1d-c673-379f-a228-76442d869b0a","name":"Monitor Activity","comments":"","position":{"x":700.0,"y":800.0},"type":"org.apache.nifi.processors.standard.MonitorActivity","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Continually Send Messages":"true","Inactivity Message":"Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Activity Restored Message":"Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Copy Attributes":"false","Monitoring Scope":"node","Threshold Duration":"45 secs","Reporting Node":"all"},"propertyDescriptors":{"Continually Send Messages":{"name":"Continually Send Messages","displayName":"Continually Send Messages","identifiesControllerService":false,"sensitive":false},"Inactivity Message":{"name":"Inactivity Message","displayName":"Inactivity Message","identifiesControllerService":false,"sensitive":false},"Activity Restored Message":{"name":"Activity Restored Message","displayName":"Activity Restored Message","identifiesControllerService":false,"sensitive":false},"Copy Attributes":{"name":"Copy Attributes","displayName":"Copy Attributes","identifiesControllerService":false,"sensitive":false},"Monitoring Scope":{"name":"Monitoring Scope","displayName":"Monitoring Scope","identifiesControllerService":false,"sensitive":false},"Threshold Duration":{"name":"Threshold Duration","displayName":"Threshold Duration","identifiesControllerService":false,"sensitive":false},"Reporting Node":{"name":"Reporting Node","displayName":"Reporting Node","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","activity.restored"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"}],"inputPorts":[{"identifier":"3daec56d-de52-3d4c-83dc-ec300e679d44","instanceIdentifier":"bfcf0308-6b1c-385e-b682-50b653254a64","name":"Sensor Data","comments":"","position":{"x":0.0,"y":0.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"}],"outputPorts":[],"connections":[{"identifier":"984b2b45-3ed3-35fa-9399-5ea6b8b6018d","instanceIdentifier":"c509d0eb-2f01-3340-b09b-bf62f4b1ba2d","name":"","source":{"id":"e9f66ddb-12b8-3a44-8b77-d2ccf94ef79a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Update health flag","comments":"","instanceIdentifier":"0ac3504b-a55c-363f-b967-ab230dee733f"},"destination":{"id":"ab3b4159-7e9c-36f2-b2f1-8a5bdcd5c920","type":"FUNNEL","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Funnel","comments":"","instanceIdentifier":"ddd1a1a1-8c45-382a-a86f-5b8ea734f18c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"524cd628-7b02-3274-a037-b3bef176f296","instanceIdentifier":"21892918-9957-3433-a43d-84a8b77ba0d6","name":"","source":{"id":"aa3e482f-c236-3b07-bb95-93453f5cd9e0","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ebbcf1af-89af-3dec-aac8-d247a49a5094"},"destination":{"id":"5706d2b0-1c9a-3220-9081-db20a841cf13","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"UpdateAttribute","comments":"","instanceIdentifier":"2b058086-720e-30bb-8277-7f23211360ec"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"a66ebb16-883d-36e8-93c9-d7f7fc8c3dec","instanceIdentifier":"9627e341-f828-3f98-b016-9d317ef9e68e","name":"","source":{"id":"62d0d9e0-e713-3ac4-85da-fbdc52a57250","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Predict machine health","comments":"","instanceIdentifier":"01191649-377e-3db8-8b94-ba3ff9a512d6"},"destination":{"id":"e9f66ddb-12b8-3a44-8b77-d2ccf94ef79a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Update health flag","comments":"","instanceIdentifier":"0ac3504b-a55c-363f-b967-ab230dee733f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"06719068-eb3f-3eca-abb4-70f749a43349","instanceIdentifier":"19ba3d9e-fefc-341c-addd-66ecc226a426","name":"","source":{"id":"a399c308-1845-322e-b194-31f84cefc22c","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Monitor Activity","comments":"","instanceIdentifier":"3b2a7c1d-c673-379f-a228-76442d869b0a"},"destination":{"id":"ab3b4159-7e9c-36f2-b2f1-8a5bdcd5c920","type":"FUNNEL","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Funnel","comments":"","instanceIdentifier":"ddd1a1a1-8c45-382a-a86f-5b8ea734f18c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["inactive"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"1c244849-674a-3f93-aa85-9cc1fe872025","instanceIdentifier":"f3f9d624-6808-3f1e-a462-e2f67f7b5d9b","name":"","source":{"id":"07455c53-d31a-3697-af20-76e478047d6e","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Consume Kafka iot messages","comments":"","instanceIdentifier":"9aa967d0-439d-3369-8906-94368475bf62"},"destination":{"id":"ab3b4159-7e9c-36f2-b2f1-8a5bdcd5c920","type":"FUNNEL","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Funnel","comments":"","instanceIdentifier":"ddd1a1a1-8c45-382a-a86f-5b8ea734f18c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"507f2de3-b933-325c-8919-8f3417a46909","instanceIdentifier":"65883551-7a8c-35d7-9626-18d006252c95","name":"","source":{"id":"818fd80f-2e6e-3128-9145-ce4dc6dc5075","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Write to Kudu","comments":"","instanceIdentifier":"ec87fcbe-af8d-3bcc-89dd-93dcf2f93b34"},"destination":{"id":"a399c308-1845-322e-b194-31f84cefc22c","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Monitor Activity","comments":"","instanceIdentifier":"3b2a7c1d-c673-379f-a228-76442d869b0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"c8ed7e7e-6c1a-32b2-9cf4-eb0000bff17a","instanceIdentifier":"128e7e8c-3472-3623-9bd4-fdb78833496a","name":"","source":{"id":"e9f66ddb-12b8-3a44-8b77-d2ccf94ef79a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Update health flag","comments":"","instanceIdentifier":"0ac3504b-a55c-363f-b967-ab230dee733f"},"destination":{"id":"5f33b6bd-b363-3809-9b2e-f22db43e89b7","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Publish to Kafka topic: iot_enriched","comments":"","instanceIdentifier":"d6df8bfb-c2d1-3e86-8ce1-b3d9c96bdda5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"51c57de3-e8e4-3f1c-b1f6-fabd6699f05f","instanceIdentifier":"6d371026-12f2-3392-bae9-9952d8f74238","name":"","source":{"id":"78a49b4f-585b-3a12-9d45-b86875f36e48","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"UpdateAttribute","comments":"","instanceIdentifier":"2bde3bd2-91d7-312a-9d44-1801e55864bf"},"destination":{"id":"efc284ba-5bab-3a8f-bdf0-7d1d65b65e2a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"UpdateRecord","comments":"","instanceIdentifier":"3522a0dc-be4a-3499-bbc8-2ca22066673a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"0e403966-fbce-3bfa-9cc8-018ab908d057","instanceIdentifier":"9e87fc54-d865-35f2-a1e1-51ac89612dd0","name":"","source":{"id":"3daec56d-de52-3d4c-83dc-ec300e679d44","type":"INPUT_PORT","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Sensor Data","comments":"","instanceIdentifier":"bfcf0308-6b1c-385e-b682-50b653254a64"},"destination":{"id":"6993afe1-2b30-38dc-a21f-a64459ab21a1","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Set Schema Name","comments":"","instanceIdentifier":"01f1d2aa-3f49-309c-90fe-60261d7a085d"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"e0c2841f-8242-320f-b7ab-26553e8ffee2","instanceIdentifier":"e6462242-536b-3d3c-b797-45d8b98745c8","name":"","source":{"id":"21023d52-3bf0-3687-86cf-c558be5c240d","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Publish to Kafka topic: iot","comments":"","instanceIdentifier":"a4bc7eac-c1eb-39f4-9339-8ccc1a4e7355"},"destination":{"id":"5fd12154-a57b-33b2-918d-df4af04d911a","type":"FUNNEL","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Funnel","comments":"","instanceIdentifier":"8a9f451f-0073-3a14-9886-445802910377"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"51911f2e-b40d-3ff7-aa22-a372c54210c4","instanceIdentifier":"2b52b304-065e-3436-9a47-61ea7d587f15","name":"","source":{"id":"e9f66ddb-12b8-3a44-8b77-d2ccf94ef79a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Update health flag","comments":"","instanceIdentifier":"0ac3504b-a55c-363f-b967-ab230dee733f"},"destination":{"id":"818fd80f-2e6e-3128-9145-ce4dc6dc5075","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Write to Kudu","comments":"","instanceIdentifier":"ec87fcbe-af8d-3bcc-89dd-93dcf2f93b34"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"51d1a1d1-adcf-3ce1-b451-d62db71edd47","instanceIdentifier":"e99478dc-9894-30f9-8f42-05532050f69d","name":"","source":{"id":"5706d2b0-1c9a-3220-9081-db20a841cf13","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"UpdateAttribute","comments":"","instanceIdentifier":"2b058086-720e-30bb-8277-7f23211360ec"},"destination":{"id":"82dc75d5-e946-3205-8c0b-2722cbcfb053","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"LogAttribute","comments":"","instanceIdentifier":"c7c3d835-51b2-3b80-befd-3f53e0dc2772"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"f6913de2-a2e4-3244-b552-a55ca066a989","instanceIdentifier":"a8fa2c8b-7baf-38c4-8899-4fbb5f1c27ba","name":"","source":{"id":"07455c53-d31a-3697-af20-76e478047d6e","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Consume Kafka iot messages","comments":"","instanceIdentifier":"9aa967d0-439d-3369-8906-94368475bf62"},"destination":{"id":"62d0d9e0-e713-3ac4-85da-fbdc52a57250","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Predict machine health","comments":"","instanceIdentifier":"01191649-377e-3db8-8b94-ba3ff9a512d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"fa6fcfa6-5c87-304a-8adf-c7f747728141","instanceIdentifier":"aea7ac1c-5dd1-35c9-a72d-e78f0d9f6ba2","name":"","source":{"id":"efc284ba-5bab-3a8f-bdf0-7d1d65b65e2a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"UpdateRecord","comments":"","instanceIdentifier":"3522a0dc-be4a-3499-bbc8-2ca22066673a"},"destination":{"id":"82dc75d5-e946-3205-8c0b-2722cbcfb053","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"LogAttribute","comments":"","instanceIdentifier":"c7c3d835-51b2-3b80-befd-3f53e0dc2772"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"8eb33fe8-5ec0-3138-8714-6281be684389","instanceIdentifier":"5ea3bc8c-31a3-30a7-9567-2adef6d3b1bf","name":"","source":{"id":"efc284ba-5bab-3a8f-bdf0-7d1d65b65e2a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"UpdateRecord","comments":"","instanceIdentifier":"3522a0dc-be4a-3499-bbc8-2ca22066673a"},"destination":{"id":"82dc75d5-e946-3205-8c0b-2722cbcfb053","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"LogAttribute","comments":"","instanceIdentifier":"c7c3d835-51b2-3b80-befd-3f53e0dc2772"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1517.2686,"y":105.15544}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"d6b505dd-7081-301f-b33e-5f2ff1e2c95a","instanceIdentifier":"0fb8245e-d7f7-3a98-8e55-a6a02957e287","name":"","source":{"id":"62d0d9e0-e713-3ac4-85da-fbdc52a57250","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Predict machine health","comments":"","instanceIdentifier":"01191649-377e-3db8-8b94-ba3ff9a512d6"},"destination":{"id":"ab3b4159-7e9c-36f2-b2f1-8a5bdcd5c920","type":"FUNNEL","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Funnel","comments":"","instanceIdentifier":"ddd1a1a1-8c45-382a-a86f-5b8ea734f18c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"4c09eddb-7b7e-30b9-976e-d48cc8be047d","instanceIdentifier":"21c1618b-e9cd-39f5-8f86-c12f65e141a4","name":"","source":{"id":"e9f66ddb-12b8-3a44-8b77-d2ccf94ef79a","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Update health flag","comments":"","instanceIdentifier":"0ac3504b-a55c-363f-b967-ab230dee733f"},"destination":{"id":"a6ed1677-923c-3db3-9a46-48079a3f5599","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Publish to Kafka topic: iot_enriched_avro","comments":"","instanceIdentifier":"f0a2e1c2-586b-3b53-a9e8-642c6b7ec203"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"6d260468-e50d-3af9-81dc-4c1faf68bfa7","instanceIdentifier":"45ed8d58-7165-3de9-ab3a-94da5c3ba1eb","name":"","source":{"id":"6993afe1-2b30-38dc-a21f-a64459ab21a1","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Set Schema Name","comments":"","instanceIdentifier":"01f1d2aa-3f49-309c-90fe-60261d7a085d"},"destination":{"id":"21023d52-3bf0-3687-86cf-c558be5c240d","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Publish to Kafka topic: iot","comments":"","instanceIdentifier":"a4bc7eac-c1eb-39f4-9339-8ccc1a4e7355"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"7e2e31d3-4576-3a3d-871a-875dbdb6a38f","instanceIdentifier":"47f2a1fe-7577-3263-958c-9846a0f25f80","name":"","source":{"id":"818fd80f-2e6e-3128-9145-ce4dc6dc5075","type":"PROCESSOR","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Write to Kudu","comments":"","instanceIdentifier":"ec87fcbe-af8d-3bcc-89dd-93dcf2f93b34"},"destination":{"id":"ab3b4159-7e9c-36f2-b2f1-8a5bdcd5c920","type":"FUNNEL","groupId":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290","name":"Funnel","comments":"","instanceIdentifier":"ddd1a1a1-8c45-382a-a86f-5b8ea734f18c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"}],"labels":[],"funnels":[{"identifier":"5fd12154-a57b-33b2-918d-df4af04d911a","instanceIdentifier":"8a9f451f-0073-3a14-9886-445802910377","position":{"x":600.0,"y":343.0},"componentType":"FUNNEL","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"ab3b4159-7e9c-36f2-b2f1-8a5bdcd5c920","instanceIdentifier":"ddd1a1a1-8c45-382a-a86f-5b8ea734f18c","position":{"x":1400.0,"y":340.0},"componentType":"FUNNEL","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"}],"controllerServices":[{"identifier":"180bd68f-0058-36f2-b86e-4faf7e9491bc","instanceIdentifier":"ea66f520-c868-3e08-827c-a18f0747f8f0","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression-format":"NONE","Schema Write Strategy":"hwx-content-encoded-schema","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"90bf795c-133f-3afc-bb6c-22b08f6c64fd","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"e37803b8-a56e-3e17-ad56-405a596e08c1","instanceIdentifier":"e7d599db-232f-347b-b991-0a637e6a2015","name":"JsonTreeReader - With schema identifier","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"90bf795c-133f-3afc-bb6c-22b08f6c64fd","starting-field-name":null,"Time Format":null,"schema-access-strategy":"hwx-schema-ref-attributes","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e3ff1840-0184-1000-0000-00002b647182"},{"identifier":"2bc89244-4ac9-3504-b19c-5096132839d7","instanceIdentifier":"315aca3a-93d6-3e44-954d-cf0bfce6d6e7","name":"RestLookupService","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"rest-lookup-record-reader":"7a3d31ee-fab7-3e3d-9776-29ef5c111040","Authorization":"Bearer ${cdsw.model.api.key}","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"https://modelservice.ml-4c5feac0-3ec.go01-dem.ylcu-atmi.cloudera.site/model","rest-lookup-ssl-context-service":null,"proxy-configuration-service":null,"rest-lookup-record-path":"/response","rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"90bf795c-133f-3afc-bb6c-22b08f6c64fd","instanceIdentifier":"8445985e-0ec3-3dbb-8aad-8f4976eb53ca","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":null,"cache-size":"1000","kerberos-principal":null,"basic-auth-username":null,"url":"http://cdp.13.58.201.106.nip.io:7788/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"7a3d31ee-fab7-3e3d-9776-29ef5c111040","instanceIdentifier":"5a665bc5-5173-31cf-954b-3afa855182e8","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"90bf795c-133f-3afc-bb6c-22b08f6c64fd","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"d792e243-693b-3023-b373-e2f2b08e096e","instanceIdentifier":"29a84631-c2df-30a3-9176-f6910880a8cc","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"hwx-schema-ref-attributes","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"90bf795c-133f-3afc-bb6c-22b08f6c64fd","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dd61f155-b0af-3d7f-b9bf-f4f9c68f2290"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e3ff1840-0184-1000-0000-00002b647182"}],"variables":{"cdsw.access.key":"x","cdsw.model.api.key":"x"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}