NiFi_Fraud-Detection-Demos/Fraud_Detection_Demo_New.json
{"flowContents":{"identifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","instanceIdentifier":"5ea9c499-0182-1000-ffff-ffffb6640624","name":"Fraud Detection Demo New","comments":"","position":{"x":3856.0,"y":-272.0},"processGroups":[{"identifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819","instanceIdentifier":"880264f8-80a8-19cc-ffff-ffffbc992124","name":"ASIAN_AVATAR_FACE_SCRAPE","comments":"","position":{"x":4400.0,"y":-264.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c160fe73-cb97-3513-a214-2f2dc163cda6","instanceIdentifier":"8802fcf2-80a8-19cc-ffff-ffffa2229c9e","name":"SelectHive3QL","comments":"","position":{"x":1008.0,"y":272.0},"type":"org.apache.nifi.processors.hive.SelectHive3QL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"hive-max-frags":"0","hive-pre-query":"USE default;","csv-quote":"true","hive-output-format":"Avro","csv-alt-header":null,"hive3-dbcp-service":"2b2c1db9-a4a3-3c1a-9596-d76cab165d3a","csv-header":"true","hive-query":"INSERT INTO fct_revenue_skuclass_agg_part1\n\n(\nrevcalday,\nrevglaccount,\nrevsitecode,\nrevdistchannel,\nrevprofitctr,\nrevarticle,\nrevamount,\nrevqty,\nfirst_sale,\narticle_class,\nrevcosamount,\nrevecomamount,\ningst_dttm,\nrevcalyear,\nrevcalmonth)\n\nVALUES\n\n(‘${revcalday}’,\n‘${revglaccount}’,\n‘${revsitecode}’,\n‘${revdistchannel}’,\n‘${revprofitctr}’,\n‘${revarticle}’,\n‘${revamount}’,\n‘${revqty}’,\n‘${first_sale}’,\n‘${article_class}’,\n‘${revcosamount}’,\n‘${revecomamount}’,\n‘${ingst_dttm}’,\n‘${revcalyear}’,\n‘${revcalmonth}’);","hive-max-rows":"0","csv-escape":"true","hive-post-query":null,"hive-fetch-size":"0","hive-normalize-avro":"false","hive3-query-timeout":"0","use-logical-types":"false","csv-delimiter":",","hive3-charset":"UTF-8"},"propertyDescriptors":{"hive-max-frags":{"name":"hive-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false},"hive-pre-query":{"name":"hive-pre-query","displayName":"HiveQL Pre-Query","identifiesControllerService":false,"sensitive":false},"csv-quote":{"name":"csv-quote","displayName":"CSV Quote","identifiesControllerService":false,"sensitive":false},"hive-output-format":{"name":"hive-output-format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"csv-alt-header":{"name":"csv-alt-header","displayName":"Alternate CSV Header","identifiesControllerService":false,"sensitive":false},"hive3-dbcp-service":{"name":"hive3-dbcp-service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"csv-header":{"name":"csv-header","displayName":"CSV Header","identifiesControllerService":false,"sensitive":false},"hive-query":{"name":"hive-query","displayName":"HiveQL Select Query","identifiesControllerService":false,"sensitive":false},"hive-max-rows":{"name":"hive-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"csv-escape":{"name":"csv-escape","displayName":"CSV Escape","identifiesControllerService":false,"sensitive":false},"hive-post-query":{"name":"hive-post-query","displayName":"HiveQL Post-Query","identifiesControllerService":false,"sensitive":false},"hive-fetch-size":{"name":"hive-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"hive-normalize-avro":{"name":"hive-normalize-avro","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false},"hive3-query-timeout":{"name":"hive3-query-timeout","displayName":"Query timeout","identifiesControllerService":false,"sensitive":false},"use-logical-types":{"name":"use-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"csv-delimiter":{"name":"csv-delimiter","displayName":"CSV Delimiter","identifiesControllerService":false,"sensitive":false},"hive3-charset":{"name":"hive3-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"4212f9b1-814a-3729-a207-bb8aa583642d","instanceIdentifier":"73512997-7e2d-3ff1-b2f2-800059aacdc0","name":"ReplaceText","comments":"","position":{"x":1008.0,"y":88.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"491b3844-1963-3b37-b430-89b741649bb9","instanceIdentifier":"8a4c468b-66a9-3054-b033-d99bcdfef006","name":"SplitJson","comments":"","position":{"x":520.0,"y":544.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"3f8015d6-b769-3d58-a8ed-78d25620b1ac","instanceIdentifier":"cd85ae6b-5e89-3452-9c49-4edbb7934f0d","name":"EvaluateJsonPath","comments":"","position":{"x":1008.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Destination":"flowfile-attribute","article_class":"$.article_class","revarticle":"$.revarticle","revdistchannel":"$.revdistchannel","Return Type":"auto-detect","Null Value Representation":"empty string","revcosamount":"$.revcosamount","ingst_dttm":"$.ingst_dttm","revglaccount":"$.revglaccount","Path Not Found Behavior":"warn","revcalyear":"$.revcalyear","revamount":"$.revamount","revsitecode":"$.revsitecode","revcalday":"$.revcalday","revecomamount":"$.revecomamount","revcalmonth":"$.revcalmonth","revprofitctr":"$.revprofitctr","revqty":"$.revqty","first_sale":"$.first_sale"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"article_class":{"name":"article_class","displayName":"article_class","identifiesControllerService":false,"sensitive":false},"revarticle":{"name":"revarticle","displayName":"revarticle","identifiesControllerService":false,"sensitive":false},"revdistchannel":{"name":"revdistchannel","displayName":"revdistchannel","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"revcosamount":{"name":"revcosamount","displayName":"revcosamount","identifiesControllerService":false,"sensitive":false},"ingst_dttm":{"name":"ingst_dttm","displayName":"ingst_dttm","identifiesControllerService":false,"sensitive":false},"revglaccount":{"name":"revglaccount","displayName":"revglaccount","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"revcalyear":{"name":"revcalyear","displayName":"revcalyear","identifiesControllerService":false,"sensitive":false},"revamount":{"name":"revamount","displayName":"revamount","identifiesControllerService":false,"sensitive":false},"revsitecode":{"name":"revsitecode","displayName":"revsitecode","identifiesControllerService":false,"sensitive":false},"revcalday":{"name":"revcalday","displayName":"revcalday","identifiesControllerService":false,"sensitive":false},"revecomamount":{"name":"revecomamount","displayName":"revecomamount","identifiesControllerService":false,"sensitive":false},"revcalmonth":{"name":"revcalmonth","displayName":"revcalmonth","identifiesControllerService":false,"sensitive":false},"revprofitctr":{"name":"revprofitctr","displayName":"revprofitctr","identifiesControllerService":false,"sensitive":false},"revqty":{"name":"revqty","displayName":"revqty","identifiesControllerService":false,"sensitive":false},"first_sale":{"name":"first_sale","displayName":"first_sale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"6fc1ed77-c207-388d-af58-d4b82be0c006","instanceIdentifier":"88034a5f-80a8-19cc-0000-00005ec7d19e","name":"PublishKafka2CDP","comments":"","position":{"x":1576.0,"y":-112.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka2CDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"cdf-aw-kafka-demo-gateway.go01-dem.ylcu-atmi.cloudera.site:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":"1","sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringProducerInterceptor","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"leehd","use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"face_scrpe","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"ac1ef18e-867c-3cca-b46d-1ec6362e8502","instanceIdentifier":"880331ec-80a8-19cc-0000-000059eb86be","name":"AttributesToJSON","comments":"","position":{"x":520.0,"y":384.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-attribute","Null Value":"false","Attributes List":"revcalday,\nrevglaccount,\nrevsitecode,\nrevdistchannel,\nrevprofitctr,\nrevarticle,\nrevamount,\nrevqty,\nfirst_sale,\narticle_class,\nrevcosamount,\nrevecomamount,\ningst_dttm,\nrevcalyear,\nrevcalmonth,","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"17617279-3f07-3f3d-9d71-91108a166c4d","instanceIdentifier":"8802b2ed-80a8-19cc-0000-00002c485510","name":"ListCDPObjectStore","comments":"","position":{"x":528.0,"y":-112.0},"type":"org.apache.nifi.processors.hadoop.ListCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"kerberos-credentials-service":null,"maximum-file-age":null,"record-writer":null,"cdp-storage-location":"s3a://go01-demo","Kerberos Principal":"leehd","Recurse Subdirectories":"true","file-filter-mode":"filter-mode-directories-and-files","minimum-file-age":null,"File Filter":"[^\\.].*","Directory":"s3a://go01-demo/leehd"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"ee4220c8-2f24-358a-8525-bffecb281619","instanceIdentifier":"8802b2f0-80a8-19cc-0000-00007e3ccdae","name":"FetchCDPObjectStore","comments":"","position":{"x":528.0,"y":48.0},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.7.0-263"},"properties":{"kerberos-credentials-service":null,"filename":"fct_revenue_skuclass_agg_part1.csv","cdp-storage-location":"s3a://go01-demo/leehd","Kerberos Principal":"leehd"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":["comms.failure","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"933f2f9c-df63-3dfc-9adb-602e0dc04d42","instanceIdentifier":"880331d9-80a8-19cc-0000-0000119b751c","name":"ConvertRecord","comments":"","position":{"x":528.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"record-writer":"6a97481c-056e-3766-8d44-ece0c872f9e0","record-reader":"50123501-15bd-30ea-8b03-b5b47f0351f9","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5c95c0fb-1428-3696-878a-5b182cf5fc93","instanceIdentifier":"8802b2f8-80a8-19cc-ffff-ffffe97c4cbc","name":"","source":{"id":"17617279-3f07-3f3d-9d71-91108a166c4d","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"ListCDPObjectStore","comments":"","instanceIdentifier":"8802b2ed-80a8-19cc-0000-00002c485510"},"destination":{"id":"ee4220c8-2f24-358a-8525-bffecb281619","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"FetchCDPObjectStore","comments":"","instanceIdentifier":"8802b2f0-80a8-19cc-0000-00007e3ccdae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"e2bf10cc-7c6a-30a8-9b53-6f2152de47d8","instanceIdentifier":"880331db-80a8-19cc-0000-000033342144","name":"","source":{"id":"ee4220c8-2f24-358a-8525-bffecb281619","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"FetchCDPObjectStore","comments":"","instanceIdentifier":"8802b2f0-80a8-19cc-0000-00007e3ccdae"},"destination":{"id":"933f2f9c-df63-3dfc-9adb-602e0dc04d42","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"ConvertRecord","comments":"","instanceIdentifier":"880331d9-80a8-19cc-0000-0000119b751c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"e769bff7-01d3-3731-977e-6803c65384da","instanceIdentifier":"88033197-80a8-19cc-ffff-ffffb4ebab17","name":"","source":{"id":"491b3844-1963-3b37-b430-89b741649bb9","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"SplitJson","comments":"","instanceIdentifier":"8a4c468b-66a9-3054-b033-d99bcdfef006"},"destination":{"id":"3f8015d6-b769-3d58-a8ed-78d25620b1ac","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd85ae6b-5e89-3452-9c49-4edbb7934f0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"c8c670ed-9d7c-3020-9a1d-6817e664b701","instanceIdentifier":"880331f3-80a8-19cc-0000-000045e731d1","name":"","source":{"id":"ac1ef18e-867c-3cca-b46d-1ec6362e8502","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"AttributesToJSON","comments":"","instanceIdentifier":"880331ec-80a8-19cc-0000-000059eb86be"},"destination":{"id":"491b3844-1963-3b37-b430-89b741649bb9","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"SplitJson","comments":"","instanceIdentifier":"8a4c468b-66a9-3054-b033-d99bcdfef006"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"6c8af00c-2a0c-3958-8ab4-06937bcc1b5a","instanceIdentifier":"880331ef-80a8-19cc-0000-00002417d0f1","name":"","source":{"id":"933f2f9c-df63-3dfc-9adb-602e0dc04d42","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"ConvertRecord","comments":"","instanceIdentifier":"880331d9-80a8-19cc-0000-0000119b751c"},"destination":{"id":"ac1ef18e-867c-3cca-b46d-1ec6362e8502","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"AttributesToJSON","comments":"","instanceIdentifier":"880331ec-80a8-19cc-0000-000059eb86be"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"7c4aa16c-cc54-31ca-8ed6-15e4f318cbff","instanceIdentifier":"8803245e-80a8-19cc-ffff-ffffed0b3d3d","name":"","source":{"id":"3f8015d6-b769-3d58-a8ed-78d25620b1ac","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd85ae6b-5e89-3452-9c49-4edbb7934f0d"},"destination":{"id":"6e91075f-56ed-3a33-9c64-2f98f8e82572","type":"FUNNEL","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"Funnel","comments":"","instanceIdentifier":"88032458-80a8-19cc-ffff-ffffffb90f47"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"74190601-94a5-3449-a74c-a91b4475cecf","instanceIdentifier":"8803244e-80a8-19cc-0000-00006526c600","name":"","source":{"id":"3f8015d6-b769-3d58-a8ed-78d25620b1ac","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd85ae6b-5e89-3452-9c49-4edbb7934f0d"},"destination":{"id":"4212f9b1-814a-3729-a207-bb8aa583642d","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"ReplaceText","comments":"","instanceIdentifier":"73512997-7e2d-3ff1-b2f2-800059aacdc0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"158f449a-d044-38a7-9834-8d8d594ded2f","instanceIdentifier":"880332b3-80a8-19cc-ffff-fffffa896d7b","name":"","source":{"id":"4212f9b1-814a-3729-a207-bb8aa583642d","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"ReplaceText","comments":"","instanceIdentifier":"73512997-7e2d-3ff1-b2f2-800059aacdc0"},"destination":{"id":"c160fe73-cb97-3513-a214-2f2dc163cda6","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"SelectHive3QL","comments":"","instanceIdentifier":"8802fcf2-80a8-19cc-ffff-ffffa2229c9e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"5d475a55-03db-31bb-95ae-3a3b6679c490","instanceIdentifier":"88034d28-80a8-19cc-ffff-ffffdb142ae3","name":"","source":{"id":"3f8015d6-b769-3d58-a8ed-78d25620b1ac","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cd85ae6b-5e89-3452-9c49-4edbb7934f0d"},"destination":{"id":"6fc1ed77-c207-388d-af58-d4b82be0c006","type":"PROCESSOR","groupId":"b109d4da-1ea9-3080-bd54-f1aa85a68819","name":"PublishKafka2CDP","comments":"","instanceIdentifier":"88034a5f-80a8-19cc-0000-00005ec7d19e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"}],"labels":[],"funnels":[{"identifier":"6e91075f-56ed-3a33-9c64-2f98f8e82572","instanceIdentifier":"88032458-80a8-19cc-ffff-ffffffb90f47","position":{"x":1152.0,"y":-256.0},"componentType":"FUNNEL","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"}],"controllerServices":[{"identifier":"d61caed0-6eef-3ea1-bf91-3939f4ba321e","instanceIdentifier":"f04b847e-29b6-31fa-8d3f-a32b9f1c43e0","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"kerberos-credentials-service":null,"Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://go01-demo-aws-gateway.go01-dem.ylcu-atmi.cloudera.site:443/default;transportMode=http;httpPath=cliservice;socketTimeout=60;ssl=true;retries=3;","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":null,"hive-max-wait-time":"500 millis","hive-db-user":"leehd"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"2b2c1db9-a4a3-3c1a-9596-d76cab165d3a","instanceIdentifier":"8802fa56-80a8-19cc-0000-00002de2d4ad","name":"Hive3ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.Hive3ConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"dbcp-min-idle-conns":"0","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":null,"kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://go01-demo-aws-gateway.go01-dem.ylcu-atmi.cloudera.site:443/default;transportMode=http;httpPath=cliservice;socketTimeout=60;ssl=true;retries=3;","Kerberos Principal":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"leehd"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.dbcp.hive.Hive3DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"28d7a537-3399-3f08-80a3-925a17419d32","instanceIdentifier":"880277b9-80a8-19cc-0000-00003ae67f13","name":"AvroRecordSetWriter","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"50123501-15bd-30ea-8b03-b5b47f0351f9","instanceIdentifier":"880277b5-80a8-19cc-ffff-fffff832376e","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"},{"identifier":"6a97481c-056e-3766-8d44-ece0c872f9e0","instanceIdentifier":"8802bc03-80a8-19cc-0000-000073bd7523","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b109d4da-1ea9-3080-bd54-f1aa85a68819"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"}],"remoteProcessGroups":[],"processors":[{"identifier":"4de286d1-87cf-3040-84a3-ba3d1c9587cf","instanceIdentifier":"efe3a802-07e1-3821-99da-bdaf6d2bce6c","name":"Set Schema Name","comments":"","position":{"x":696.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"fintxn","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"fe0ef94c-a849-37fe-b838-8f8608383e58","instanceIdentifier":"71a8c6ae-dbbc-39d8-a15e-2934b3f0f6d7","name":"CreateTransactions","comments":"","position":{"x":704.0,"y":64.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Script File":null,"Script Engine":"python","Script Body":"#!/usr/bin/python\n\"\"\" \n  The implementation of the synthetic financial transaction stream,\n  used in the main script of gess.\n\n@author: Michael Hausenblas, http://mhausenblas.info/#i\n@since: 2013-11-08\n@status: init\n\"\"\"\nimport sys\nimport os\nimport socket\nimport logging\nimport string\nimport datetime\nimport random\nimport uuid\nimport csv\nimport json\nfrom time import sleep\nfrom random import randint\nimport os\nimport random\nimport math\nfrom random import uniform\nimport time\nfrom time import sleep\n\nimport java.io\nfrom org.apache.commons.io import IOUtils\nfrom java.nio.charset import StandardCharsets\nfrom org.apache.nifi.processor.io import StreamCallback\nimport traceback\nfrom org.apache.nifi.processor.io import OutputStreamCallback\nfrom org.python.core.util import StringUtil\n\n\n#The target host Ip address need to be updated with the current UDP Server  IP address.\nTARGET_HOST = \"10.10.242.34\"\nUDP_PORT = 6900\nDELAY = 1\n\n# defines the sampling interval (in seconds) for reporting runtime statistics\nSAMPLE_INTERVAL = 10\n\n# lower range for randomly emitted frauds (min. tick between trans)\nFRAUD_TICK_MIN = 5\n\n# upper range for randomly emitted frauds (max. tick between trans)\nFRAUD_TICK_MAX = 15\n\n\n# Add some data = Amounts and Cities.\nAMOUNTS = [20, 50, 100, 200, 300, 400,500]\nCITIES = [                                                                                                                                                                                                                                                     \n    {\"lat\": 48.8534, \"lon\": 2.3488, \"city\": \"Paris\"},                                                                                                                                                                                                    \n    {\"lat\": 43.2961743, \"lon\": 5.3699525, \"city\": \"Marseille\"},                                                                                                                                                                                                 \n    {\"lat\": 45.7578137, \"lon\": 4.8320114, \"city\": \"Lyon\"},                                                                                                                                                                                                      \n    {\"lat\": 50.6365654, \"lon\": 3.0635282, \"city\": \"Lille\"},\n    {\"lat\": 44.841225, \"lon\": -0.5800364, \"city\": \"Bordeaux\"}\n]        \n\n# Define geo functions\ndef create_random_point(x0, y0, distance):\n    r = distance/111300\n    u = random.random()\n    v = random.random()\n    w = r * math.sqrt(u)\n    t = 2 * math.pi * v\n    x = w * math.cos(t)\n    x1 = x / math.cos(y0)\n    y = w * math.sin(t)\n    return (x0+x1, y0 +y)\n\ndef create_geopoint(lat, lon):\n    return create_random_point(lat, lon, 50000)\n\ndef get_latlon():                                                                                                                                                                                                                                              \n    geo = random.choice(CITIES)\n    return create_geopoint(geo['lat'], geo['lon']),geo['city']        \n\n\n# creates a single financial transaction  using the following\n  # format:\n#    {\n#       'ts': '2013-11-08T10:58:19.668225',\n#       'account_id': 'a335',\n#       'transaction_id': '636adacc-49d2-11e3-a3d1-a820664821e3'\n#       'amount': 100,\n#       'lat': '36.7220096',\n#       'lon': '-4.4186772'\n#     }\n\ndef create_fintran():\n \n    latlon,city = get_latlon()\n    tsbis=(datetime.datetime.now()).strftime(\"%Y-%m-%d %H:%M:%S \")\n    date = str(datetime.datetime.strptime(tsbis, \"%Y-%m-%d %H:%M:%S \"))\n    fintran = {\n      'ts': date,\n      'account_id' : str(random.randint(1, 1000)),\n      'transaction_id' : str(uuid.uuid1()),\n      'amount' : random.randrange(1,2000),  \n      'lat' : latlon[0],\n      'lon' : latlon[1]\n    }    \n\n    return (fintran)\n\n# creates a single fraudulent financial transaction\n  # based on an existing transaction, using the following format:\n  # {\n  #   'ts': '2013-11-08T12:28:39.466325',\n  #    'account_id': 'a335',\n  #   'transaction_id': 'xxx636adacc-49d2-11e3-a3d1-a820664821e3'\n  #   'amount': 200,\n  #   'lat': '39.5655472',\n  #   'lon': '-0.530058'\n  # }\n  # Note: the fraudulent transaction will have the same account ID as\n  #       the original transaction but different location and ammount.\n\ndef create_fraudtran(fintran):\n   \n    latlon,city = get_latlon()\n    tsbis = str((datetime.datetime.now() - datetime.timedelta(seconds=random.randint(60,600))).strftime(\"%Y-%m-%d %H:%M:%S \"))\n    \n    fraudtran = {\n      'ts' : tsbis,\n      'account_id' : fintran['account_id'],\n      'transaction_id' : 'xxx' + str(fintran['transaction_id']),\n      'amount' : random.randrange(1,2000),      \n      'lat' : latlon[0],\n      'lon' : latlon[1]\n    }    \n    return (fraudtran)\n\n\ndef send_fintran(out_socket, fintran):\n    out_socket.sendto(str.encode(fintran), (TARGET_HOST, UDP_PORT))\n\nclass WriteContentCallback(OutputStreamCallback):\n    def __init__(self, content):\n        self.content_text = content\n\n    def process(self, outputStream):\n        try:\n            outputStream.write(StringUtil.toBytes(self.content_text))\n        except:\n            traceback.print_exc(file=sys.stdout)\n            raise\n\n# Main programm \n\n#out_socket = socket.socket(socket.AF_INET, socket.SOCK_DGRAM) # use UDP\nticks = 0 # ticks (virtual time basis for emits)\nfraud_tick = random.randint(FRAUD_TICK_MIN, FRAUD_TICK_MAX) \n\n# get the flowfile\noriginalFlowFile = session.get()\nsession.remove(originalFlowFile)\n# All processing code starts at this indent\nwhile ticks < 20:\n ticks += 1\n fintran = create_fintran()   \n fintransaction =  json.dumps(fintran)\n #send_fintran(out_socket, json.dumps(fintran))\n #print(fintransaction)\n flowFile = session.create()\n flowFile = session.write(flowFile, WriteContentCallback(fintransaction))\n session.transfer(flowFile, REL_SUCCESS)\n session.commit()\n\n sleep(DELAY)\n if ticks > fraud_tick:\n    fraudtran = create_fraudtran(fintran)\n    fraudfintransaction=json.dumps(fraudtran)\n    #send_fintran(out_socket, json.dumps(fraudtran))\n    #print(fraudfintransaction)\n    flowFile2 = session.create()\n    flowFile2 = session.write(flowFile2, WriteContentCallback(fraudfintransaction))\n    session.transfer(flowFile2, REL_SUCCESS)\n    session.commit()\n    fraud_tick = random.randint(FRAUD_TICK_MIN, FRAUD_TICK_MAX)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{"background-color":"#ffffff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"59dedf23-be3e-33e5-87c0-4ef606fef905","instanceIdentifier":"9ae66c80-d1d3-3477-a0d4-408bdfbd56d9","name":"Publish to Kafka topic: txn1","comments":"","position":{"x":112.0,"y":448.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":"schema.*","record-writer":"f5eda5fd-5bf0-3b5a-8d1c-a399b41f29d9","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"10 sec","record-reader":"d8dcb534-91fd-36ca-a079-7c99b6a43dab","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-txn-data","ack.wait.time":"10 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"txn1","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#21cc82"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"c39b1c89-62ff-34fe-bec8-659827c27796","instanceIdentifier":"4af5ad69-aeb4-3544-b7c9-7277adc2f46c","name":"Publish to Kafka topic: txn2","comments":"","position":{"x":704.0,"y":584.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"compression.type":"none","attribute-name-regex":"schema.*","record-writer":"f5eda5fd-5bf0-3b5a-8d1c-a399b41f29d9","bootstrap.servers":"#{Kafka Brokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"PLAIN","max.block.ms":"10 sec","record-reader":"d8dcb534-91fd-36ca-a079-7c99b6a43dab","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-txn-data","ack.wait.time":"10 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"SASL_SSL","ssl.context.service":"d3fecf89-795e-31b5-9085-a241498a6556","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"txn2","sasl.password":"#{CDP Workload User Password}","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#00b05e"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"cd9a21e9-df88-387b-a569-0c48579e505d","instanceIdentifier":"62283e89-1f77-1b0b-99af-dddc9941f4e0","name":"PutKudu","comments":"","position":{"x":1272.0,"y":456.0},"type":"org.apache.nifi.processors.kudu.PutKudu","bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Ignore NULL":"false","Table Name":"fraud.transactions","Handle Schema Drift":"false","kudu-sasl-protocol-name":"kudu","kerberos-principal":"ahennessy","Lowercase Field Names":"false","Insert Operation":"UPSERT","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"1","kerberos-credentials-service":null,"Kudu Masters":"go01-datamart-master10.go01-dem.ylcu-atmi.cloudera.site:7051,go01-datamart-master20.go01-dem.ylcu-atmi.cloudera.site:7051,go01-datamart-master30.go01-dem.ylcu-atmi.cloudera.site:7051","Flush Mode":"AUTO_FLUSH_BACKGROUND","Failure Strategy":"route-to-failure","Batch Size":"100","Data RecordPath":null,"kerberos-user-service":null,"record-reader":"1c35f53f-fad2-347e-90c6-3007b32db8a2","worker-count":"8","kudu-keep-alive-period-timeout-ms":"15000ms","Operation RecordPath":null},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kudu-sasl-protocol-name":{"name":"kudu-sasl-protocol-name","displayName":"Kudu SASL Protocol Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"Data RecordPath":{"name":"Data RecordPath","displayName":"Data RecordPath","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"worker-count":{"name":"worker-count","displayName":"Kudu Client Worker Count","identifiesControllerService":false,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false},"Operation RecordPath":{"name":"Operation RecordPath","displayName":"Operation RecordPath","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#aa00d4"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"60aa2887-7067-3a9e-aaab-e39abd7d1080","instanceIdentifier":"e59a7539-4a48-31bd-9357-039898055e0e","name":"StartGenerateTransactions","comments":"","position":{"x":704.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8d4475e8-a019-323d-9653-2cc647d662a8","instanceIdentifier":"bbd29c63-0186-1000-0000-0000754af80e","name":"","source":{"id":"4de286d1-87cf-3040-84a3-ba3d1c9587cf","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Set Schema Name","comments":"","instanceIdentifier":"efe3a802-07e1-3821-99da-bdaf6d2bce6c"},"destination":{"id":"cd9a21e9-df88-387b-a569-0c48579e505d","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"PutKudu","comments":"","instanceIdentifier":"62283e89-1f77-1b0b-99af-dddc9941f4e0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"dba606a5-f111-37a2-9fb0-f65d10b82184","instanceIdentifier":"c7d25550-1aac-3ce2-893f-83152529c436","name":"","source":{"id":"4de286d1-87cf-3040-84a3-ba3d1c9587cf","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Set Schema Name","comments":"","instanceIdentifier":"efe3a802-07e1-3821-99da-bdaf6d2bce6c"},"destination":{"id":"c39b1c89-62ff-34fe-bec8-659827c27796","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Publish to Kafka topic: txn2","comments":"","instanceIdentifier":"4af5ad69-aeb4-3544-b7c9-7277adc2f46c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"a2ab077e-f037-32e3-8713-f6118e3497f5","instanceIdentifier":"fa61949b-5ebb-3e3e-94dc-1636273fcc3f","name":"","source":{"id":"c39b1c89-62ff-34fe-bec8-659827c27796","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Publish to Kafka topic: txn2","comments":"","instanceIdentifier":"4af5ad69-aeb4-3544-b7c9-7277adc2f46c"},"destination":{"id":"c39b1c89-62ff-34fe-bec8-659827c27796","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Publish to Kafka topic: txn2","comments":"","instanceIdentifier":"4af5ad69-aeb4-3544-b7c9-7277adc2f46c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1167.8281,"y":624.36615},{"x":1167.8281,"y":674.36615}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"83e6bff9-841f-3efd-abd3-eb1adb209a44","instanceIdentifier":"09236e64-2c01-3ace-a8ad-11b43f70680d","name":"","source":{"id":"4de286d1-87cf-3040-84a3-ba3d1c9587cf","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Set Schema Name","comments":"","instanceIdentifier":"efe3a802-07e1-3821-99da-bdaf6d2bce6c"},"destination":{"id":"59dedf23-be3e-33e5-87c0-4ef606fef905","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Publish to Kafka topic: txn1","comments":"","instanceIdentifier":"9ae66c80-d1d3-3477-a0d4-408bdfbd56d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"ecda2a62-f249-32f9-b3c7-1d956b120bec","instanceIdentifier":"07b3993e-19e0-366b-88c4-fac3d6b3bba1","name":"","source":{"id":"fe0ef94c-a849-37fe-b838-8f8608383e58","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"CreateTransactions","comments":"","instanceIdentifier":"71a8c6ae-dbbc-39d8-a15e-2934b3f0f6d7"},"destination":{"id":"4de286d1-87cf-3040-84a3-ba3d1c9587cf","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Set Schema Name","comments":"","instanceIdentifier":"efe3a802-07e1-3821-99da-bdaf6d2bce6c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"d09bb9c2-708a-341f-87f5-172e4eb5dfb3","instanceIdentifier":"62283f45-1f77-1b0b-0000-00000c3a0eec","name":"","source":{"id":"cd9a21e9-df88-387b-a569-0c48579e505d","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"PutKudu","comments":"","instanceIdentifier":"62283e89-1f77-1b0b-99af-dddc9941f4e0"},"destination":{"id":"e49ef6d9-b1b0-38f6-a163-3b254e210dd4","type":"FUNNEL","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Funnel","comments":"","instanceIdentifier":"62283f43-1f77-1b0b-ffff-ffff9d44d003"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"59607927-945e-3c71-a46f-e002bb4606b5","instanceIdentifier":"ef91a6ae-d2bf-3e12-b6ee-9cc67e5680b3","name":"","source":{"id":"60aa2887-7067-3a9e-aaab-e39abd7d1080","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"StartGenerateTransactions","comments":"","instanceIdentifier":"e59a7539-4a48-31bd-9357-039898055e0e"},"destination":{"id":"fe0ef94c-a849-37fe-b838-8f8608383e58","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"CreateTransactions","comments":"","instanceIdentifier":"71a8c6ae-dbbc-39d8-a15e-2934b3f0f6d7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"d15072a2-918c-3a5b-9624-09569a691306","instanceIdentifier":"e7f8fb27-66cb-372a-b5d9-e0c3cb68651c","name":"","source":{"id":"59dedf23-be3e-33e5-87c0-4ef606fef905","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Publish to Kafka topic: txn1","comments":"","instanceIdentifier":"9ae66c80-d1d3-3477-a0d4-408bdfbd56d9"},"destination":{"id":"59dedf23-be3e-33e5-87c0-4ef606fef905","type":"PROCESSOR","groupId":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c","name":"Publish to Kafka topic: txn1","comments":"","instanceIdentifier":"9ae66c80-d1d3-3477-a0d4-408bdfbd56d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":581.06805,"y":480.2788},{"x":581.06805,"y":530.2788}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"}],"labels":[],"funnels":[{"identifier":"e49ef6d9-b1b0-38f6-a163-3b254e210dd4","instanceIdentifier":"62283f43-1f77-1b0b-ffff-ffff9d44d003","position":{"x":1824.0,"y":664.0},"componentType":"FUNNEL","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"}],"controllerServices":[{"identifier":"f5eda5fd-5bf0-3b5a-8d1c-a399b41f29d9","instanceIdentifier":"8017d497-5f60-3bd1-a4c2-bf3451de098e","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"hwx-schema-ref-attributes","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"c602ce32-0f17-397f-87da-00d6c873454c","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"d6106001-1071-339d-aa0d-1f7328109c3e","instanceIdentifier":"bbe24463-0186-1000-0000-0000074f0d35","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"c602ce32-0f17-397f-87da-00d6c873454c","instanceIdentifier":"ab31e974-65ad-3233-a244-812adcb250bf","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"d3fecf89-795e-31b5-9085-a241498a6556","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","basic-auth-username":null,"url":"#{Schema Registry Url}"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e47a017a-6bb4-30e6-aa1d-1523ed83eb8f","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5ea9c499-0182-1000-ffff-ffffb6640624"},{"identifier":"1c35f53f-fad2-347e-90c6-3007b32db8a2","instanceIdentifier":"bc477793-0186-1000-ffff-ffffc3cda908","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"d8dcb534-91fd-36ca-a079-7c99b6a43dab","instanceIdentifier":"41074bdd-52d2-3aac-9d76-2dcf29e06492","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"c602ce32-0f17-397f-87da-00d6c873454c","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ec2de2c2-76aa-37f9-a0c9-fc735f2ffc4c"},{"identifier":"d3fecf89-795e-31b5-9085-a241498a6556","instanceIdentifier":"25dad01b-0182-1000-ffff-ffff87f94a8a","name":"Default NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.0-263"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.0-263"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5ea9c499-0182-1000-ffff-ffffb6640624"}],"variables":{},"parameterContextName":"Workloadmanager_pwd","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Workloadmanager_pwd":{"name":"Workloadmanager_pwd","parameters":[{"name":"authkey","description":"","sensitive":true,"provided":false},{"name":"CDP Workload User Password","description":"","sensitive":true,"provided":false},{"name":"CDP Workload User","description":"","sensitive":false,"provided":false,"value":"steven.matison"},{"name":"Schema Registry Url","description":"","sensitive":false,"provided":false,"value":"https://cdf-aw-kafka-demo-master0.go01-dem.ylcu-atmi.cloudera.site:7790/api/v1"},{"name":"Kudu Masters","description":"","sensitive":false,"provided":false,"value":"go01-datamart-master10.go01-dem.ylcu-atmi.cloudera.site:7051,go01-datamart-master20.go01-dem.ylcu-atmi.cloudera.site:7051,go01-datamart-master30.go01-dem.ylcu-atmi.cloudera.site:7051"},{"name":"Kafka Brokers","description":"","sensitive":false,"provided":false,"value":"cdf-aw-kafka-demo-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093,cdf-aw-kafka-demo-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093"},{"name":"Record Reader","description":"","sensitive":false,"provided":false,"value":"bc41d789-0186-1000-0000-000016b07bdd"},{"name":"pwd","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}